<div class="container-fluid" id="main_content">
    <div _ngcontent-puf-c85="" class="bg-dark border shadow">
        <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
            <h4 _ngcontent-gak-c44="">
                <%= option %>
            </h4>
            <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2"
                href="/<%= view %>">
                <%= subtittle %>
            </a>
        </div>
        <div _ngcontent-puf-c85="" class="row d-flex justify-content-center">
            <div _ngcontent-puf-c85="" class="col-12">
                <div _ngcontent-puf-c85="" role="alert" class="alert alert-warning" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-puf-c85="" class="row d-flex justify-content-center">
            <div _ngcontent-puf-c85="" class="col-12">
                <div _ngcontent-puf-c85="" role="alert" class="alert alert-success" hidden=""> </div>
            </div>
        </div>
        <form _ngcontent-puf-c85="" class="m-2 ng-untouched ng-pristine ng-invalid" method="POST" action="#">
            <ul _ngcontent-puf-c85="" id="myTab" role="tablist" class="nav nav-tabs">
                <li _ngcontent-puf-c85="" class="nav-item"><a _ngcontent-puf-c85="" id="home-tab" data-toggle="tab"
                        href="#data" role="tab" aria-controls="home" aria-selected="true"
                        class="nav-link active">Data</a></li>
                <li _ngcontent-puf-c85="" class="nav-item"><a _ngcontent-puf-c85="" id="product-tab" data-toggle="tab"
                        href="#product" role="tab" aria-controls="product" aria-selected="false"
                        class="nav-link">Product</a></li>
            </ul>
            <div _ngcontent-puf-c85="" id="myTabContent" class="tab-content">
                <div _ngcontent-puf-c85="" id="data" role="tabpanel" aria-labelledby="data-tab"
                    class="tab-pane fade show active">
                    <div _ngcontent-puf-c85="">
                        <div _ngcontent-puf-c85="" class="form-row mt-4"><label _ngcontent-puf-c85=""
                                for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"> Icon: </label>
                            <div _ngcontent-puf-c85="" class="col s-12">
                                <div _ngcontent-puf-c85="" class="text-center border">
                                    <!---->
                                    <!---->
                                    <div _ngcontent-puf-c85="" class="image-preview mb-3">
                                        <img _ngcontent-puf-c85="" id="imgg0" src="<%= data.icon %>"
                                            class="img-fluid m-4" style="width: 10%;">
                                    </div>
                                    <!---->
                                    <!---->
                                </div>
                                <input _ngcontent-puf-c85="" type="text" name="iconOld" value="<%= data.icon %>"
                                    style="display:none;">


                                <div _ngcontent-puf-c85="" class="custom-file">
                                    <input _ngcontent-puf-c85="" type="file" name="icon" id="icon"
                                        onchange="handleFiles(this.files);uploadFile('icon', 'reviews');"
                                        aria-describedby="inputGroupFileAddon01" accept="image/*"
                                        class="custom-file-input ng-untouched ng-pristine ng-valid">
                                    <label _ngcontent-puf-c85="" for="inputGroupFile01" class="custom-file-label">
                                        Choose
                                        file</label>
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-puf-c85="" class="form-row mt-4"><label _ngcontent-puf-c85=""
                                for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"> Name: </label>
                            <div _ngcontent-puf-c85="" class="col s-12"><input _ngcontent-puf-c85="" type="text"
                                    name="name" placeholder="Enter name . . ." value="<%= data.name %>"
                                    oninvalid="invalidFunction(event, this.name)" required=""
                                    class="form-input-text ng-untouched ng-pristine ng-invalid">
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-puf-c85="" class="form-row mt-4"><label _ngcontent-puf-c85=""
                                for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"> Stars: </label>
                            <div _ngcontent-puf-c85="" class="col s-12"><input _ngcontent-puf-c85="" type="number"
                                    name="stars" value="<%= data.stars %>" placeholder="Enter stars . . ."
                                    class="form-input-number ng-untouched ng-pristine ng-valid">
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-puf-c85="" class="form-row mt-4"><label _ngcontent-puf-c85=""
                                for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"> Title: </label>
                            <div _ngcontent-puf-c85="" class="col s-12"><input _ngcontent-puf-c85="" type="text"
                                    name="title" value="<%= data.title %>" placeholder="Enter title . . ."
                                    class="form-input-text ng-untouched ng-pristine ng-valid">
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-puf-c85="" class="form-row mt-4"><label _ngcontent-puf-c85=""
                                for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"> Description:
                            </label>
                            <div _ngcontent-puf-c85="" class="col s-12"><textarea _ngcontent-puf-c85=""
                                    name="description" placeholder="Enter description . . ." cols="30" rows="10"
                                    oninvalid="invalidFunction(event, this.name)" required=""
                                    class="form-input-textarea ng-untouched ng-pristine ng-invalid"><%= data.description %></textarea>


                                <input _ngcontent-puf-c85="" type="text" name="createdAt"
                                    placeholder="Enter product url . . ." style="display: none;"
                                    value="<%= data.createdAt %>">
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-puf-c85="" class="form-row mt-4"><label _ngcontent-puf-c85=""
                                for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"> Show on Home:
                            </label>
                            <div _ngcontent-puf-c85="" class="col s-12">
                                <select name="showOnHome" id="showOnHome" class="select2 selectpicker"
                                    data-live-search="true" placeholder="Select show on home">
                                    <option value="1" <% if ( data.showOnHome==1 ){ %> selected <% } %> >Yes</option>
                                    <option value="0" <% if ( data.showOnHome==0 ){ %> selected <% } %> >No</option>
                                </select>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-puf-c85="" id="product" role="tabpanel" aria-labelledby="product-tab"
                    class="tab-pane fade">
                    <div _ngcontent-puf-c85="" class="m-2">
                        <div _ngcontent-puf-c85="" class="form-row mt-4"><label _ngcontent-puf-c85=""
                                for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"> Product Name:
                            </label>
                            <div _ngcontent-puf-c85="" class="col s-12"><input _ngcontent-puf-c85="" type="text"
                                    name="productName" value="<%= data.productName %>"
                                    placeholder="Enter product name . . ."
                                    class="form-input-text ng-untouched ng-pristine ng-valid">
                                <!---->
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-puf-c85="" class="m-2">
                        <div _ngcontent-puf-c85="" class="form-row mt-4"><label _ngcontent-puf-c85=""
                                for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"> Product Url:
                            </label>
                            <div _ngcontent-puf-c85="" class="col s-12"><input _ngcontent-puf-c85="" type="text"
                                    name="productUrl" value="<%= data.productUrl %>"
                                    placeholder="Enter product url . . ."
                                    class="form-input-text ng-untouched ng-pristine ng-valid">

                                <!---->
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-puf-c85="" class="m-2">
                        <div _ngcontent-puf-c85="" class="form-row mt-4"><label _ngcontent-puf-c85=""
                                for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"> Images: </label>
                            <div _ngcontent-puf-c85="" class="col s-12">
                                <div _ngcontent-puf-c85="" class="text-center border">
                                    <!---->
                                    <!---->
                                    <div _ngcontent-puf-c85="" class="image-preview mb-3" id="imgMultiplePreview">
                                        <ul _ngcontent-xax-c43=""
                                            class="list-group list-group-horizontal image-preview mb-3">
                                            <% images.forEach(function (item) { %>
                                                <li _ngcontent-xax-c43="" class="list-group-item"><img
                                                        _ngcontent-xax-c43="" class="img-fluid" src="<%= item.path %>">
                                                </li>
                                                <input type="text" value="<%= item.path %>" style="display: none;"
                                                    name="oldMultipleImages">
                                                <% }) %>
                                        </ul>
                                        <!---->
                                        <!---->
                                    </div>
                                    <div _ngcontent-puf-c85="" class="custom-file"><input _ngcontent-puf-c85=""
                                            type="file" name="multipleImages" id="multipleImages"
                                            onchange="handleMultipleFiles(this.files);uploadFile('multipleImages', 'reviews');loadPrincipals(this.files);"
                                            accept="image/*" multiple="" class="custom-file-input">
                                        <label _ngcontent-puf-c85="" for="inputGroupFile01" class="custom-file-label">
                                            Choose files
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div _ngcontent-puf-c85="" class="m-2">
                            <div _ngcontent-puf-c85="" class="form-row mt-4"><label _ngcontent-puf-c85=""
                                    for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"> Principal
                                    Image: </label>
                                <div _ngcontent-puf-c85="" class="col s-12">
                                    <select name="isPrincipal" id="isPrincipal" class="select2">
                                        <% principal.forEach(function (item) { %>
                                            <option value="<%= item.name %>" <%=item.selected %> ><%= item.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div _ngcontent-puf-c85="" class="m-2">
                            <div _ngcontent-puf-c85="" class="form-row mt-4">
                                <label _ngcontent-puf-c85="" for="colFormLabelSm"
                                    class="col-sm-3 col-form-label col-form-label-sm">
                                    Publish:
                                </label>
                                <div _ngcontent-puf-c85="" class="col s-12">
                                    <div _ngcontent-puf-c85="" class="text-center">
                                        <div _ngcontent-puf-c85="" class="custom-control custom-checkbox mr-sm-2">
                                            <input _ngcontent-puf-c85="" type="checkbox" name="publish"
                                                id="customControlAutosizing"
                                                class="custom-control-input ng-untouched ng-pristine ng-valid" <% if (data.publish == "true") { %>
                                                    checked=true
                                            <% } %> " onchange="customText()">
                                            <!----><label _ngcontent-puf-c85="" id="customControlText"
                                                for="customControlAutosizing" class="custom-control-label">
                                                <% if (data.publish === "true") { %>
                                                    Publish
                                                    <% } else {%>
                                                        Do not publish
                                                        <% } %>
                                            </label>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <p style="color: red;" id="errorHeader"></p>
                <div _ngcontent-puf-c85="" class="d-flex flex-row-reverse bd-highlight mt-3">
                    <div _ngcontent-puf-c85="" class="p-2 bd-highlight"><input _ngcontent-puf-c85="" type="reset"
                            value="Reset" class="btn btn-danger"></div>
                    <div _ngcontent-puf-c85="" class="p-2 bd-highlight">
                        <input _ngcontent-puf-c85="" type="submit" value="Save" class="btn btn-success">
                        <app-loading _ngcontent-puf-c85="" _nghost-puf-c75="" hidden=""><button _ngcontent-puf-c75=""
                                type="button" class="btn btn-sending"><span _ngcontent-puf-c75="" role="status"
                                    aria-hidden="true" class="spinner-border spinner-border-sm"></span>
                                Sending...
                            </button></app-loading>
                    </div>
                </div>
        </form>
    </div>
</div>
<script>
    function customText() {
        const cb = document.getElementById('customControlAutosizing');
        const cbText = document.getElementById('customControlText');
        if (cb.checked) {
            cbText.innerHTML = "Publish";
        } else {
            cbText.innerHTML = "Do not publish";
        }
    }

    function handleFiles(files) {
        var imgs = document.querySelectorAll('img');
        //Image element index
        let imgIndex = 0;

        //Loop through all the images
        for (var i = 0; i < files.length; i++) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var img = document.getElementById('imgg' + imgIndex);
                img.src = e.target.result;
                imgIndex++;
            }

            reader.readAsDataURL(files[i]);
        }
    }

    function handleMultipleFiles(files) {
        var multiplePrevImgs = document.getElementById('imgMultiplePreview');
        var imgs = document.querySelectorAll('img');
        var html = '<ul _ngcontent-xax-c43="" class="list-group list-group-horizontal image-preview mb-3">';
        //Image element index
        let imgIndex = 0;

        //Loop through all the images
        for (var i = 0; i < files.length; i++) {
            var reader = new FileReader();

            reader.onload = function (e) {
                html = html + '<li _ngcontent-xax-c43="" class="list-group-item"><img _ngcontent-xax-c43="" class="img-fluid" src="' + e.target.result + '"></li>';
                multiplePrevImgs.innerHTML = html + "</ul>";
                //imgIndex++;
            }
            reader.readAsDataURL(files[i]);
        }
    }

    function loadPrincipals(files) {
        var principals = document.getElementById('isPrincipal');
        var elements = Array();
        files.forEach(element => {
            elements.push(element.name);
        });
        for (i = principals.length - 1; i >= 0; i--) {
            principals.options[i] = null;
        }
        $.each(elements, function (i, item) {
            $('#isPrincipal').append($('<option>', {
                value: item,
                text: item
            }));
        });

        console.log(elements);
    }
</script>