<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Amcor Design Admin</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="xicon.jpg.pagespeed.ic.igqycGUYOU.png">

  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="A.styles.8708d150e8c87c7a74f5.css.pagespeed.cf.9pts7xzDLf.css">
  <style></style>
  <style>
    .content-body[_ngcontent-iia-c36] {
      height: 100vh
    }

    .navbar[_ngcontent-iia-c36] {
      background: #000;
      transition: all .5s ease;
      -webkit-transition: all .5s ease;
      -moz-transition: .5s all ease;
      -o-transition: .5s all ease;
      -ms-transition: .5s all ease
    }

    .navbar[_ngcontent-iia-c36] .navbar-nav[_ngcontent-iia-c36] .nav-item[_ngcontent-iia-c36] .nav-link[_ngcontent-iia-c36] {
      color: #fff
    }

    .navbar-brand[_ngcontent-iia-c36] {
      margin-right: auto
    }

    .navbar-brand[_ngcontent-iia-c36] img[_ngcontent-iia-c36] {
      height: 36px
    }

    @-webkit-keyframes swing {
      0% {
        transform: rotate(0deg)
      }

      10% {
        transform: rotate(10deg)
      }

      30% {
        transform: rotate(0deg)
      }

      40% {
        transform: rotate(-10deg)
      }

      50% {
        transform: rotate(0deg)
      }

      60% {
        transform: rotate(5deg)
      }

      70% {
        transform: rotate(0deg)
      }

      80% {
        transform: rotate(-5deg)
      }

      to {
        transform: rotate(0deg)
      }
    }

    @keyframes swing {
      0% {
        transform: rotate(0deg)
      }

      10% {
        transform: rotate(10deg)
      }

      30% {
        transform: rotate(0deg)
      }

      40% {
        transform: rotate(-10deg)
      }

      50% {
        transform: rotate(0deg)
      }

      60% {
        transform: rotate(5deg)
      }

      70% {
        transform: rotate(0deg)
      }

      80% {
        transform: rotate(-5deg)
      }

      to {
        transform: rotate(0deg)
      }
    }

    @-webkit-keyframes sonar {
      0% {
        transform: scale(.9);
        opacity: 1
      }

      to {
        transform: scale(2);
        opacity: 0
      }
    }

    @keyframes sonar {
      0% {
        transform: scale(.9);
        opacity: 1
      }

      to {
        transform: scale(2);
        opacity: 0
      }
    }

    #close-sidebar[_ngcontent-iia-c36],
    #show-sidebar[_ngcontent-iia-c36],
    .page-wrapper[_ngcontent-iia-c36] .page-content[_ngcontent-iia-c36],
    .page-wrapper[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36],
    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-brand[_ngcontent-iia-c36]>a[_ngcontent-iia-c36],
    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-dropdown[_ngcontent-iia-c36]>a[_ngcontent-iia-c36]:after,
    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] .sidebar-dropdown[_ngcontent-iia-c36] .sidebar-submenu[_ngcontent-iia-c36] li[_ngcontent-iia-c36] a[_ngcontent-iia-c36]:before,
    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] ul[_ngcontent-iia-c36] li[_ngcontent-iia-c36] a[_ngcontent-iia-c36],
    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-search[_ngcontent-iia-c36] .input-group-text[_ngcontent-iia-c36],
    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-search[_ngcontent-iia-c36] input.search-menu[_ngcontent-iia-c36],
    .sidebar-wrapper[_ngcontent-iia-c36] ul[_ngcontent-iia-c36] li[_ngcontent-iia-c36] a[_ngcontent-iia-c36] i[_ngcontent-iia-c36] {
      transition: all .3s ease
    }

    .main-color[_ngcontent-iia-c36] {
      background: linear-gradient(40deg, #8dd5d4, #144a4a) !important;
      transition: all .5s ease;
      -webkit-transition: all .5s ease;
      -moz-transition: .5s all ease;
      -o-transition: .5s all ease;
      -ms-transition: .5s all ease
    }

    .page-wrapper[_ngcontent-iia-c36] {
      height: 100vh;
      background: #f3f3f4
    }

    .page-wrapper[_ngcontent-iia-c36] .theme[_ngcontent-iia-c36] {
      display: inline-block;
      border-radius: 4px;
      margin: 2px
    }

    .page-wrapper[_ngcontent-iia-c36] .theme.chiller-theme[_ngcontent-iia-c36] {
      background: #1e2229
    }

    .page-wrapper.toggled[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] {
      left: 0
    }

    @media screen and (min-width:768px) {
      .page-wrapper.toggled[_ngcontent-iia-c36] .page-content[_ngcontent-iia-c36] {
        padding-left: 260px
      }
    }

    .page-wrapper.toggled[_ngcontent-iia-c36] #show-sidebar[_ngcontent-iia-c36] {
      left: -40px
    }

    .sidebar-wrapper[_ngcontent-iia-c36] {
      width: 260px;
      height: 100%;
      max-height: 100%;
      position: fixed;
      top: 20;
      left: -300px;
      z-index: 999
    }

    .sidebar-wrapper[_ngcontent-iia-c36] ul[_ngcontent-iia-c36] {
      list-style-type: none;
      padding: 0;
      margin: 0
    }

    .sidebar-wrapper[_ngcontent-iia-c36] a[_ngcontent-iia-c36] {
      text-decoration: none
    }

    .sidebar-content[_ngcontent-iia-c36] {
      max-height: calc(100% - 1px);
      height: calc(100% - 1px);
      overflow-y: hidden;
      position: relative;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .15) !important;
      overflow: scroll;
      scrollbar-width: none
    }

    .sticky-top[_ngcontent-iia-c36] {
      background: #000
    }

    .sidebar-content[_ngcontent-iia-c36]::-webkit-scrollbar {
      -webkit-appearance: none
    }

    .sidebar-content[_ngcontent-iia-c36]::-webkit-scrollbar:vertical {
      width: 1px
    }

    .contenedor[_ngcontent-iia-c36]::-webkit-scrollbar-button,
    .sidebar-content[_ngcontent-iia-c36]::-webkit-scrollbar-button:increment {
      display: none
    }

    .sidebar-content[_ngcontent-iia-c36]::-webkit-scrollbar:horizontal {
      height: 1px
    }

    .sidebar-content[_ngcontent-iia-c36]::-webkit-scrollbar-thumb {
      background-color: #000;
      border-radius: 20px;
      border: 1px solid #000
    }

    .sidebar-content[_ngcontent-iia-c36]::-webkit-scrollbar-track {
      border-radius: 10px
    }

    .sidebar-content.desktop[_ngcontent-iia-c36] {
      overflow-y: hidden
    }

    .sidebar-content[_ngcontent-iia-c36]::-webkit-scrollbar {
      width: 15px;
      height: 15px
    }

    .sidebar-content[_ngcontent-iia-c36]::-webkit-scrollbar-track-piece {
      background-color: #c2d2e4
    }

    .sidebar-content[_ngcontent-iia-c36]::-webkit-scrollbar-thumb:vertical {
      height: 30px;
      background-color: #0a4c95
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-brand[_ngcontent-iia-c36] {
      padding: 10px 20px;
      display: flex;
      align-items: center
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-brand[_ngcontent-iia-c36]>a[_ngcontent-iia-c36] {
      text-transform: uppercase;
      font-weight: 700;
      flex-grow: 1
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-brand[_ngcontent-iia-c36] #close-sidebar[_ngcontent-iia-c36] {
      cursor: pointer;
      font-size: 20px
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-header[_ngcontent-iia-c36] {
      padding: 20px;
      overflow: hidden
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-header[_ngcontent-iia-c36] .user-pic[_ngcontent-iia-c36] {
      float: left;
      width: 60px;
      padding: 2px;
      border-radius: 12px;
      margin-right: 15px;
      overflow: hidden
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-header[_ngcontent-iia-c36] .user-pic[_ngcontent-iia-c36] img[_ngcontent-iia-c36] {
      -o-object-fit: cover;
      object-fit: cover;
      height: 100%;
      width: 100%
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-header[_ngcontent-iia-c36] .user-info[_ngcontent-iia-c36] {
      float: left
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-header[_ngcontent-iia-c36] .user-info[_ngcontent-iia-c36]>span[_ngcontent-iia-c36] {
      display: block
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-header[_ngcontent-iia-c36] .user-info[_ngcontent-iia-c36] .user-role[_ngcontent-iia-c36] {
      font-size: 12px
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-header[_ngcontent-iia-c36] .user-info[_ngcontent-iia-c36] .user-status[_ngcontent-iia-c36] {
      font-size: 11px;
      margin-top: 4px
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-header[_ngcontent-iia-c36] .user-info[_ngcontent-iia-c36] .user-status[_ngcontent-iia-c36] i[_ngcontent-iia-c36] {
      font-size: 8px;
      margin-right: 4px;
      color: #5cb85c
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-search[_ngcontent-iia-c36]>div[_ngcontent-iia-c36] {
      padding: 10px 20px
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] {
      padding-bottom: 10px
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] .header-menu[_ngcontent-iia-c36] span[_ngcontent-iia-c36] {
      font-weight: 700;
      font-size: 14px;
      padding: 15px 20px 5px;
      display: inline-block
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] ul[_ngcontent-iia-c36] li[_ngcontent-iia-c36] a[_ngcontent-iia-c36] {
      display: inline-block;
      width: 100%;
      text-decoration: none;
      position: relative;
      padding: 8px 30px 8px 20px
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] ul[_ngcontent-iia-c36] li[_ngcontent-iia-c36] a[_ngcontent-iia-c36] i[_ngcontent-iia-c36] {
      margin-right: 10px;
      font-size: 12px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 4px
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] ul[_ngcontent-iia-c36] li[_ngcontent-iia-c36] a[_ngcontent-iia-c36]:hover>i[_ngcontent-iia-c36]:before {
      display: inline-block;
      -webkit-animation: swing .5s ease-in-out 1 alternate;
      animation: swing .5s ease-in-out 1 alternate
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] .sidebar-dropdown[_ngcontent-iia-c36]>a[_ngcontent-iia-c36]:after {
      font-family: Material Icons;
      font-weight: 900;
      content: "keyboard_arrow_right";
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      background: 0 0;
      position: absolute;
      right: 15px;
      top: 14px
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] .sidebar-dropdown[_ngcontent-iia-c36] .sidebar-submenu[_ngcontent-iia-c36] ul[_ngcontent-iia-c36] {
      padding: 5px 0
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] .sidebar-dropdown[_ngcontent-iia-c36] .sidebar-submenu[_ngcontent-iia-c36] li[_ngcontent-iia-c36] {
      padding-left: 25px;
      font-size: 13px
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] .sidebar-dropdown[_ngcontent-iia-c36] .sidebar-submenu[_ngcontent-iia-c36] li[_ngcontent-iia-c36] a[_ngcontent-iia-c36]:before {
      content: "radio_button_checked";
      font-family: Material Icons;
      font-weight: 400;
      font-style: normal;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 10px;
      font-size: 8px
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] ul[_ngcontent-iia-c36] li[_ngcontent-iia-c36] a[_ngcontent-iia-c36] span.badge[_ngcontent-iia-c36],
    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] ul[_ngcontent-iia-c36] li[_ngcontent-iia-c36] a[_ngcontent-iia-c36] span.label[_ngcontent-iia-c36] {
      float: right;
      margin-top: 8px;
      margin-left: 5px
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] .sidebar-dropdown[_ngcontent-iia-c36] .sidebar-submenu[_ngcontent-iia-c36] li[_ngcontent-iia-c36] a[_ngcontent-iia-c36] .badge[_ngcontent-iia-c36],
    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] .sidebar-dropdown[_ngcontent-iia-c36] .sidebar-submenu[_ngcontent-iia-c36] li[_ngcontent-iia-c36] a[_ngcontent-iia-c36] .label[_ngcontent-iia-c36] {
      float: right;
      margin-top: 0
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] .sidebar-submenu[_ngcontent-iia-c36] {
      display: none
    }

    .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] .sidebar-dropdown.active[_ngcontent-iia-c36]>a[_ngcontent-iia-c36]:after {
      transform: rotate(90deg);
      right: 17px
    }

    .sidebar-footer[_ngcontent-iia-c36] {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex
    }

    .sidebar-footer[_ngcontent-iia-c36]>a[_ngcontent-iia-c36] {
      flex-grow: 1;
      text-align: center;
      height: 30px;
      line-height: 30px;
      position: relative
    }

    .sidebar-footer[_ngcontent-iia-c36]>a[_ngcontent-iia-c36] .notification[_ngcontent-iia-c36] {
      position: absolute;
      top: 0
    }

    .badge-sonar[_ngcontent-iia-c36] {
      display: inline-block;
      background: #980303;
      border-radius: 50%;
      height: 8px;
      width: 8px;
      position: absolute;
      top: 0
    }

    .badge-sonar[_ngcontent-iia-c36]:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid #980303;
      opacity: 0;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      -webkit-animation: sonar 1.5s infinite;
      animation: sonar 1.5s infinite
    }

    .page-wrapper[_ngcontent-iia-c36] .page-content[_ngcontent-iia-c36] {
      display: inline-block;
      width: 100%;
      min-height: 100%
    }

    .page-wrapper[_ngcontent-iia-c36] .page-content[_ngcontent-iia-c36]>div[_ngcontent-iia-c36] {
      padding: 20px 40px
    }

    .page-wrapper[_ngcontent-iia-c36] .page-content[_ngcontent-iia-c36] {
      overflow-x: hidden
    }

    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] {
      background: #000
    }

    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-search[_ngcontent-iia-c36] .input-group-text[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-search[_ngcontent-iia-c36] input.search-menu[_ngcontent-iia-c36] {
      border-color: transparent;
      box-shadow: none
    }

    .chiller-theme[_ngcontent-iia-c36] .sidebar-footer[_ngcontent-iia-c36]>a[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-brand[_ngcontent-iia-c36]>a[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-header[_ngcontent-iia-c36] .user-info[_ngcontent-iia-c36] .user-role[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-header[_ngcontent-iia-c36] .user-info[_ngcontent-iia-c36] .user-status[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] ul[_ngcontent-iia-c36] li[_ngcontent-iia-c36] a[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-search[_ngcontent-iia-c36] .input-group-text[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-search[_ngcontent-iia-c36] input.search-menu[_ngcontent-iia-c36] {
      color: #fff
    }

    .search[_ngcontent-iia-c36] i[_ngcontent-iia-c36] {
      font-size: 23px
    }

    .chiller-theme[_ngcontent-iia-c36] .sidebar-footer[_ngcontent-iia-c36]>a[_ngcontent-iia-c36]:hover i[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-brand[_ngcontent-iia-c36]>a[_ngcontent-iia-c36]:hover,
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-header[_ngcontent-iia-c36] .user-info[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] .sidebar-dropdown.active[_ngcontent-iia-c36]>a[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] ul[_ngcontent-iia-c36] li[_ngcontent-iia-c36]:hover>a[_ngcontent-iia-c36] {
      color: #b8bfce;
      cursor: pointer
    }

    .page-wrapper.chiller-theme.toggled[_ngcontent-iia-c36] #close-sidebar[_ngcontent-iia-c36] {
      color: #bdbdbd
    }

    .page-wrapper.chiller-theme.toggled[_ngcontent-iia-c36] #close-sidebar[_ngcontent-iia-c36]:hover {
      color: #fff
    }

    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-dropdown[_ngcontent-iia-c36] .sidebar-submenu[_ngcontent-iia-c36] li[_ngcontent-iia-c36] a[_ngcontent-iia-c36]:hover:before,
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] .sidebar-dropdown.active[_ngcontent-iia-c36] a[_ngcontent-iia-c36] i[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-search[_ngcontent-iia-c36] input.search-menu[_ngcontent-iia-c36]:focus+span[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] ul[_ngcontent-iia-c36] li[_ngcontent-iia-c36]:hover a[_ngcontent-iia-c36] i[_ngcontent-iia-c36] {
      color: #f99500;
      text-shadow: 0 0 10px #f9bf00
    }

    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] .sidebar-dropdown[_ngcontent-iia-c36] div[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] ul[_ngcontent-iia-c36] li[_ngcontent-iia-c36] a[_ngcontent-iia-c36] i[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-search[_ngcontent-iia-c36] .input-group-text[_ngcontent-iia-c36],
    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-search[_ngcontent-iia-c36] input.search-menu[_ngcontent-iia-c36] {
      background: #5394c1
    }

    .chiller-theme[_ngcontent-iia-c36] .sidebar-wrapper[_ngcontent-iia-c36] .sidebar-menu[_ngcontent-iia-c36] .header-menu[_ngcontent-iia-c36] span[_ngcontent-iia-c36] {
      color: #fff
    }

    .chiller-theme[_ngcontent-iia-c36] .sidebar-footer[_ngcontent-iia-c36] {
      background: #3a3f48;
      box-shadow: 0 -1px 5px #282c33;
      border-top: 1px solid #464a52
    }

    .chiller-theme[_ngcontent-iia-c36] .sidebar-footer[_ngcontent-iia-c36]>a[_ngcontent-iia-c36]:first-child {
      border-left: none
    }

    .chiller-theme[_ngcontent-iia-c36] .sidebar-footer[_ngcontent-iia-c36]>a[_ngcontent-iia-c36]:last-child {
      border-right: none
    }

    @media (max-width:575.98px) {
      .sidebar-content[_ngcontent-iia-c36] {
        overflow-y: auto
      }
    }

    @media (max-width:767.98px) {
      .sidebar-content[_ngcontent-iia-c36] {
        overflow-y: auto
      }
    }

    a[_ngcontent-iia-c32] {
      color: #514e4e;
      text-decoration: none;
      font-weight: 400
    }

    a[_ngcontent-iia-c32],
    h2[_ngcontent-iia-c32] {
      display: inline-block
    }

    h2[_ngcontent-iia-c32] {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin: 40px 8px 10px;
      color: #ccc
    }

    .wrapper[_ngcontent-iia-c32] {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      min-height: 100%;
      padding: 20px
    }

    #formContent[_ngcontent-iia-c32] {
      border-radius: 10px 10px 10px 10px;
      background: #fff;
      width: 90%;
      max-width: 450px;
      position: relative;
      padding: 0;
      box-shadow: 0 30px 60px 0 rgba(0, 0, 0, .3);
      text-align: center
    }

    #formFooter[_ngcontent-iia-c32] {
      background-color: #f6f6f6;
      border-top: 1px solid #dce8f1;
      padding: 25px;
      text-align: center;
      border-radius: 0 0 10px 10px
    }

    .custom-control-label[_ngcontent-iia-c32] {
      color: #a2a2a2
    }

    h2.inactive[_ngcontent-iia-c32] {
      color: #ccc
    }

    h2.active[_ngcontent-iia-c32] {
      color: #0d0d0d;
      border-bottom: 2px solid #000
    }

    input[type=button][_ngcontent-iia-c32],
    input[type=reset][_ngcontent-iia-c32],
    input[type=submit][_ngcontent-iia-c32] {
      background-color: #514e4e;
      border: none;
      color: #fff;
      padding: 15px 80px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      font-size: 13px;
      box-shadow: 0 10px 30px 0 #377272;
      border-radius: 5px 5px 5px 5px;
      margin: 5px 20px 40px;
      transition: all .3s ease-in-out
    }

    input[type=button][_ngcontent-iia-c32]:hover,
    input[type=reset][_ngcontent-iia-c32]:hover,
    input[type=submit][_ngcontent-iia-c32]:hover {
      background-color: #000;
      cursor: pointer
    }

    input[type=button][_ngcontent-iia-c32]:active,
    input[type=reset][_ngcontent-iia-c32]:active,
    input[type=submit][_ngcontent-iia-c32]:active {
      transform: scale(.95)
    }

    input[type=text][_ngcontent-iia-c32] {
      background-color: #f6f6f6;
      color: #0d0d0d;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5px;
      width: 85%;
      border: 2px solid #f6f6f6;
      transition: all .5s ease-in-out;
      border-radius: 5px 5px 5px 5px
    }

    input[type=text][_ngcontent-iia-c32]:focus {
      background-color: #fff;
      border-bottom: 2px solid #000
    }

    input[type=text][_ngcontent-iia-c32]:placeholder {
      color: #ccc
    }

    input[type=password][_ngcontent-iia-c32] {
      background-color: #f6f6f6;
      color: #0d0d0d;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5px;
      width: 85%;
      border: 2px solid #f6f6f6;
      transition: all .5s ease-in-out;
      border-radius: 5px 5px 5px 5px
    }

    input[type=password][_ngcontent-iia-c32]:focus {
      background-color: #fff;
      border-bottom: 2px solid #000
    }

    input[type=password][_ngcontent-iia-c32]:placeholder {
      color: #ccc
    }

    .fadeInDown[_ngcontent-iia-c32] {
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both
    }

    @-webkit-keyframes fadeInDown {
      0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
      }

      to {
        opacity: 1;
        transform: none
      }
    }

    @keyframes fadeInDown {
      0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
      }

      to {
        opacity: 1;
        transform: none
      }
    }

    @-webkit-keyframes fadeIn {
      0% {
        opacity: 0
      }

      to {
        opacity: 1
      }
    }

    @keyframes fadeIn {
      0% {
        opacity: 0
      }

      to {
        opacity: 1
      }
    }

    .fadeIn[_ngcontent-iia-c32] {
      opacity: 0;
      -webkit-animation: fadeIn ease-in 1;
      animation: fadeIn ease-in 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 1s;
      animation-duration: 1s
    }

    .fadeIn.first[_ngcontent-iia-c32] {
      -webkit-animation-delay: .4s;
      animation-delay: .4s
    }

    .fadeIn.second[_ngcontent-iia-c32] {
      -webkit-animation-delay: .6s;
      animation-delay: .6s
    }

    .fadeIn.third[_ngcontent-iia-c32] {
      -webkit-animation-delay: .8s;
      animation-delay: .8s
    }

    .fadeIn.fourth[_ngcontent-iia-c32] {
      -webkit-animation-delay: 1s;
      animation-delay: 1s
    }

    .underlineHover[_ngcontent-iia-c32]:after {
      display: block;
      left: 0;
      bottom: -10px;
      width: 0;
      height: 2px;
      background-color: #514e4e;
      content: "";
      transition: width .2s
    }

    .underlineHover[_ngcontent-iia-c32]:hover {
      color: #0d0d0d
    }

    .underlineHover[_ngcontent-iia-c32]:hover:after {
      width: 100%
    }

    h1[_ngcontent-iia-c32] {
      color: #60a0ff
    }

    [_ngcontent-iia-c32]:focus {
      outline: none
    }
  </style>
</head>

<body>
  <app-root _nghost-iia-c37="" ng-version="9.1.4">
    <app-sidebar _ngcontent-iia-c37="" _nghost-iia-c36="">
      <!---->
      <div _ngcontent-iia-c36="" class="page-wrapper chiller-theme main-color">
        <main _ngcontent-iia-c36="" class="page-content main-color">
          <router-outlet _ngcontent-iia-c36=""></router-outlet>
          <app-login _nghost-iia-c32="">
            <div _ngcontent-iia-c32="" id="content-form-login" class="wrapper fadeInDown">
              <div _ngcontent-iia-c32="" id="formContent" class="mt-5 mb-5">
                <div _ngcontent-iia-c32="" class="fadeIn first m-4"><img _ngcontent-iia-c32="" id="icon" alt="User Icon"
                    class="img-fluid" src="https://api.amcordesign.com/images/logo/logo_amcor_design.png"></div>
                <form _ngcontent-iia-c32="" class="ng-untouched ng-pristine ng-invalid" method="POST" action="">
                  <div _ngcontent-iia-c32="" class="row d-flex justify-content-center">
                    <input _ngcontent-iia-c32="" type="text" id="email" name="email" placeholder="Enter your email"
                      value="<%= email %>" readonly required=""
                      class="fadeIn second ng-untouched ng-pristine ng-invalid">
                    <input _ngcontent-iia-c32="" type="password" id="password" name="password"
                      placeholder="Enter your new password" required=""
                      class="fadeIn second ng-untouched ng-pristine ng-invalid">
                    <input _ngcontent-iia-c32="" type="password" id="passwordConfirmation" name="passwordConfirmation"
                      placeholder="Enter your new password again" required=""
                      class="fadeIn second ng-untouched ng-pristine ng-invalid">
                  </div>

                  <div _ngcontent-iia-c32="" class="custom-control custom-checkbox ml-5 text-left">

                    <input _ngcontent-iia-c32="" _ngcontent-iia-c32="" id="submit" type="submit" disabled
                      value="Recover Account" class="fadeIn fourth" />
                  </div>
                </form>
                <div _ngcontent-iia-c32="" id="formFooter"><a _ngcontent-iia-c32="" href="/login"
                    class="underlineHover">Go back to login</a></div>
              </div>
            </div>
          </app-login>
          <!---->
        </main>
      </div>
    </app-sidebar>
  </app-root>

</body>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script>
  $(document).ready(function () {
    $("#submit").prop("disabled", true);
    $("#password").on("change paste keyup", function () {
      if ($(this).val() != ""){
        if ($(this).val() != $("#passwordConfirmation").val()) {
          $("#submit").prop("disabled", true);
        } else {
          $("#submit").prop("disabled", false);
        }
      }
    });

    $("#passwordConfirmation").on("change paste keyup", function () {
      if ($(this).val() != "") {
        if ($(this).val() != $("#password").val()) {
          $("#submit").prop("disabled", true);
        } else {
          $("#submit").prop("disabled", false);
        }
      }
    });
  });

</script>

</html>