<div _ngcontent-sbq-c65="" class="bg-dark border shadow">
    <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
        <h4 _ngcontent-gak-c44="">
            <%= option %>
        </h4>
        <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2" href="/<%= view %>">
            <%= subtittle %>
        </a>
    </div>
    <h4 _ngcontent-sbq-c65="" class="text-center mt-3 mb-3">Data</h4>
    <form _ngcontent-sbq-c65="" id="myform" method="POST" action="/newStoneCtw" class="m-2 ng-dirty ng-touched ng-valid">
        <div _ngcontent-sbq-c65="" class="row d-flex justify-content-center">
            <div _ngcontent-sbq-c65="" class="col-12">
                <div _ngcontent-sbq-c65="" role="alert" class="alert alert-warning" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-sbq-c65="" class="row d-flex justify-content-center">
            <div _ngcontent-sbq-c65="" class="col-12">
                <div _ngcontent-sbq-c65="" role="alert" class="alert alert-success" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-sbq-c65="" class="form-row mt-4"><label _ngcontent-sbq-c65="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Name: </label>
            <div _ngcontent-sbq-c65="" class="col s-12"><input _ngcontent-sbq-c65="" type="text" name="name"
                    placeholder="Enter ctw . . ." required="" class="form-input-text ng-dirty ng-valid ng-touched">
                <!---->
            </div>
        </div>
        <div _ngcontent-sbq-c65="" class="form-row mt-4"><label _ngcontent-sbq-c65="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Size: </label>
            <div _ngcontent-sbq-c65="" class="col s-12"><input _ngcontent-sbq-c65="" type="text" name="size"
                    placeholder="Enter size . . ." required="" class="form-input-text ng-dirty ng-valid ng-touched">
                <!---->
            </div>
        </div>
        <div _ngcontent-sbq-c65="" class="form-row mt-4"><label _ngcontent-sbq-c65="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Price: </label>
            <div _ngcontent-sbq-c65="" class="col s-12"><input _ngcontent-sbq-c65="" type="text" name="price"
                    placeholder="Enter price . . ." required="" class="form-input-text ng-dirty ng-valid ng-touched">
                <!---->
            </div>
        </div>
        <div _ngcontent-sbq-c65="" class="d-flex flex-row-reverse bd-highlight mt-3">
            <div _ngcontent-sbq-c65="" class="p-2 bd-highlight"><input _ngcontent-sbq-c65="" type="reset" value="Reset"
                    class="btn btn-danger"></div>
            <div _ngcontent-sbq-c65="" class="p-2 bd-highlight"><input _ngcontent-sbq-c65="" type="submit" value="Save" class="btn btn-success">
                <app-loading _ngcontent-sbq-c65="" _nghost-sbq-c56="" hidden=""><button _ngcontent-sbq-c56=""
                        type="button" disabled="" class="btn btn-sending"><span _ngcontent-sbq-c56="" role="status"
                            aria-hidden="true" class="spinner-border spinner-border-sm"></span> Sending...
                    </button></app-loading>
            </div>
        </div>
    </form>
</div>