<div class="container-fluid" id="main_content">
    <div _ngcontent-gak-c63="" class="bg-dark border shadow">
        <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
            <h4 _ngcontent-gak-c44="">
                <%= option %>
            </h4>
            <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2"
                href="/<%= view %>/all">
                <%= subtittle %>
            </a>
        </div>
        <h4 _ngcontent-gak-c63="" class="text-center mt-3 mb-3">Data</h4>
        <form _ngcontent-gak-c63="" novalidate="" id="myform" method="post" action="/newState"
            class="m-2 ng-pristine ng-invalid ng-touched">
            <div _ngcontent-gak-c63="" class="row d-flex justify-content-center">
                <div _ngcontent-gak-c63="" class="col-12">
                    <div _ngcontent-gak-c63="" role="alert" class="alert alert-warning" hidden=""> </div>
                </div>
            </div>
            <div _ngcontent-gak-c63="" class="row d-flex justify-content-center">
                <div _ngcontent-gak-c63="" class="col-12">
                    <div _ngcontent-gak-c63="" role="alert" class="alert alert-success" hidden=""> </div>
                </div>
            </div>
            <div _ngcontent-gak-c63="" class="form-row mt-4">
                <label _ngcontent-gak-c63="" for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">
                    Name: </label>
                <div _ngcontent-gak-c63="" class="col s-12">
                    <input _ngcontent-gak-c63="" type="text" name="name" required placeholder="Enter state name . . ."
                        required="" class="form-input-text ng-pristine ng-invalid ng-touched">
                    <!---->
                </div>
            </div>
            <div _ngcontent-gak-c63="" class="form-row mt-4">
                <label _ngcontent-gak-c63="" for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">
                    Country: </label>
                <div _ngcontent-gak-c63="" class="col s-12">
                    <ng-select _ngcontent-gak-c63="" role="listbox" bindlabel="name" placeholder="Select country"
                        appendto="body" name="state.country_id" required=""
                        class="ng-select ng-select-single ng-select-searchable ng-select-clearable ng-pristine ng-invalid ng-select-bottom ng-touched">
                        <div class="ng-select-container ng-has-value">
                            <div class="ng-value-container">
                                <select name="countryId" id="countryId" class="select2">
                                    <option value="" disabled selected> Select country</option>
                                    <% data.forEach(function (item) { %>
                                        <option value="<%= item.id %> ">
                                            <%= item.name %>
                                        </option>
                                        <% }) %>
                                </select>

                            </div>
                        </div>
                        <!---->
                    </ng-select>
                </div>
            </div>
            <div _ngcontent-gak-c63="" class="d-flex flex-row-reverse bd-highlight mt-3">
                <div _ngcontent-gak-c63="" class="p-2 bd-highlight"><input _ngcontent-gak-c63="" type="reset"
                        value="Reset" class="btn btn-danger"></div>
                <div _ngcontent-gak-c63="" class="p-2 bd-highlight">
                    <input _ngcontent-gak-c63="" type="submit" value="Save" class="btn btn-success">
                    <app-loading _ngcontent-gak-c63="" _nghost-gak-c43="" hidden="">
                        <button _ngcontent-gak-c43="" type="button" class="btn btn-sending">
                            <span _ngcontent-gak-c43="" role="status" aria-hidden="true"
                                class="spinner-border spinner-border-sm">

                            </span> Sending...
                        </button>
                    </app-loading>
                </div>
            </div>
        </form>
    </div>
</div>