<div class="container-fluid" id="main_content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            <%= subtittle %>
          </h5>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <!-- /.col -->
            <div class="col-md-12 mx-auto">


              <div _ngcontent-uqf-c65="" class="bg-dark table-responsive p-0">
                <div _ngcontent-uqf-c65="" class="row d-flex justify-content-center">
                  <div _ngcontent-uqf-c65="" class="col-12">
                    <div _ngcontent-uqf-c65="" role="alert" class="alert alert-warning m-2" hidden=""> </div>
                  </div>
                </div>
                <div _ngcontent-uqf-c65="" class="row d-flex justify-content-center">
                  <div _ngcontent-uqf-c65="" class="col-12">
                    <div _ngcontent-uqf-c65="" role="alert" class="alert alert-success m-2" hidden=""> </div>
                  </div>
                </div>
                <div _ngcontent-uqf-c65="" class="search input-group p-4 d-flex justify-content-center"><input
                    _ngcontent-uqf-c65="" type="search" id="search" placeholder="Buscar   .  .  .  .  ."
                    class="ng-untouched ng-pristine ng-valid"><button _ngcontent-uqf-c65="" type="button"
                    class="btn btn-secondary"><i _ngcontent-uqf-c65="" class="material-icons">search</i></button></div>

                <div class="scroll1">
                  <div class="div1"></div>
                </div>
                <div class="scroll2">
                  <table _ngcontent-uqf-c65="" class="table table-hover text-nowrap no-cellpadding">
                    <thead _ngcontent-uqf-c65="">
                      <tr _ngcontent-uqf-c65="">
                        <th _ngcontent-uqf-c65="" scope="col">sku</th>
                        <th _ngcontent-uqf-c65="" scope="col">Icon</th>
                        <th _ngcontent-uqf-c65="" scope="col">Name</th>
                        <th _ngcontent-uqf-c65="" scope="col">Price</th>
                        <th _ngcontent-uqf-c65="" scope="col">Percent</th>
                        <th _ngcontent-uqf-c65="" scope="col" class="text-center">Options</th>
                    </thead>
                    <tbody id="listingTable" _ngcontent-uqf-c65="">
                      <% if ( !data ){ %>
                        <tr _ngcontent-qte-c40="">
                          <td _ngcontent-qte-c40="" colspan="4" scope="col">There is no <%= option %> available</td>
                        </tr>
                        <% } else { %>
                          <% data.forEach(function (item) { %>
                            <tr _ngcontent-uqf-c65="">
                              <th _ngcontent-uqf-c65="" scope="row" style="width: 5%;">
                                <%= item.sku %>
                              </th>
                              <td _ngcontent-uqf-c65="" style="width: 20%;">
                                <img _ngcontent-uqf-c77="" alt="" class="img-fluid" style="width: 25%;"
                                  src="<%= item.icon %>" </td>
                              <td _ngcontent-uqf-c65="">
                                <%= item.name %>
                              </td>
                              <td _ngcontent-uqf-c65="">$<%= item.price.toFixed(2).padStart(3,'0') %>
                              </td>
                              <td _ngcontent-uqf-c65="">
                                <%= item.percent.toFixed(2).padStart(3,'0') %>%
                              </td>
                              <td _ngcontent-uqf-c65="">
                                <div _ngcontent-uqf-c65="" class="text-center">
                                  <a _ngcontent-uqf-c65="" class="btn btn-info mr-2" title="undefined"
                                    href="/editStoneShapes/<%= item.id %>">
                                    <i _ngcontent-uqf-c65="" class="material-icons">border_color</i>
                                  </a>
                                  <a _ngcontent-yil-c42="" data-confirm="Are you sure?" title="<%= item.name %>"
                                    href="/deleteStoneShapes/<%= item.id %>">
                                    <button _ngcontent-yil-c42="" class="btn btn-danger">
                                      <i _ngcontent-yil-c42="" class="material-icons">delete_forever</i>
                                    </button>
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <% })} %>
                              <!---->
                    </tbody>
                  </table>
                  <center>
                    <a href="javascript:prevPage()" id="btn_prev">Prev</a>
                    <strong> Page:</strong> <span id="page"></span>
                    <a href="javascript:nextPage()" id="btn_next">Next</a>
                  </center>
                </div>
                <div _ngcontent-uqf-c65="" class="text-center" hidden="">
                  <div _ngcontent-uqf-c65="" centershapectw="status" class="spinner-border"><span _ngcontent-uqf-c65=""
                      class="sr-only">Loading...</span></div>
                </div>
              </div>


              <!-- /.progress-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</div>
<app-delete _ngcontent-vgi-c40="" _nghost-vgi-c39="">
  <div _ngcontent-vgi-c39="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    class="modal fade" style="display: none;" aria-hidden="true">
    <div _ngcontent-vgi-c39="" role="document" class="modal-dialog">
      <div _ngcontent-vgi-c39="" class="modal-content">
        <div _ngcontent-vgi-c39="" class="modal-header">
          <h5 _ngcontent-vgi-c39="" id="exampleModalLabel" class="modal-title">Delete client!</h5>
          <button _ngcontent-vgi-c39="" type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span _ngcontent-vgi-c39="" aria-hidden="true">×</span>
          </button>
        </div>
        <div _ngcontent-vgi-c39="" class="modal-body">
          <p _ngcontent-vgi-c39="">Surely I would like to delete the client <b
              _ngcontent-vgi-c39="">gbc93@hotmail.com</b> ?</p>
          <p _ngcontent-vgi-c39="">Email: gbc93@hotmail.com</p>
        </div>
        <div _ngcontent-vgi-c39="" class="modal-footer">
          <button _ngcontent-vgi-c39="" type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
          <button _ngcontent-vgi-c39="" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</app-delete>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
  $(document).ready(function () {
    $(function () {
      $('.scroll1').on('scroll', function (e) {
        $('.scroll2').scrollLeft($('.scroll1').scrollLeft());
      });
      $('.scroll2').on('scroll', function (e) {
        $('.scroll1').scrollLeft($('.scroll2').scrollLeft());
      });
    });

    $('.div1').width($('table').width());

  });
</script>