<style>
  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }

  .container img {
    width: 100%;
    height: auto;
  }

  .container .btn {
    position: absolute;
    top: 20%;
    right: -10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: red;
    font-size: 24px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .container .btn2 {
    position: absolute;
    top: 35%;
    right: -10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    background-color: transparent;
    font-size: 24px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .container .btn:hover {
    background-color: black;
  }

  .container .btn2:hover {
    background-color: red;
  }
</style>
<div class="container-fluid" id="main_content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Home Shop Productss</h5>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <!-- /.col -->
          <div class="col-md-12 mx-auto table-responsive p-0 text-center">
            <% data.homeProducts.forEach(function (item, index) { %>
              <form id="form-<%= item.id %>" action="#">

                <div class="row">
                  <div class="col-md-6">
                    Home Shop Id
                    <select name="homeShopId" id="homeShopId" class="select2" required
                      onchange="changePath(this.value,'homeShopImage<%= index %>')">
                      <% data.homeShops.forEach(function (elem) { %>
                        <option value="<%= elem.id %>---<%= elem.path %>" <% if (elem.id===item.homeShopId ) { %>
                          selected <% } %>>
                            <%= elem.id %>
                        </option>
                        <% }) %>
                    </select>
                  </div>

                  <div class="col-md-6">
                    <span style="font-size: 0px;"></span>
                    Product
                    <select name="productId" id="productId" class="select2">
                      <option value="null" disabled>
                        Select a product
                      </option>
                      <% data.products.forEach(function (elem) { %>
                        <option value="<%= elem.id %>" <% if (elem.id===item.productId ) { %> selected <% } %>>
                            <%= elem.localSku %> - <%= elem.name %>
                        </option>
                        <% }) %>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <% data.homeShops.forEach(function (elem) { %>
                      <% if (elem.id===item.homeShopId ) { %>
                        <img src="<%= elem.path %>" alt="" id="homeShopImage<%= index %>" style="margin:20px auto;
                            border-radius:5px;
                            border: 1px solid #999;
                            padding:13px;
                            background-size: 100% 100%;
                            background-repeat:no-repeat;
                            background-size: cover;
                            width: 100%">
                        <% }}) %>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                        Metal
                        <select name="metalId" id="metalId" class="select2" required>
                          <% data.metals.forEach(function (elem) { %>
                            <option value="<%= elem.id %>" <% if (elem.id===item.metalId ) { %> selected <% } %>>
                                <%= elem.name %>
                            </option>
                            <% }) %>
                        </select>
                      </div>
                      <div class="col-md-6">
                        Stone Shape
                        <select name="stoneShapeId" id="stoneShapeId" class="select2">
                          <option value="null" <% if (!item.stoneShapeId ) { %> selected <% } %>>
                              Select a stone shape
                          </option>
                          <% data.stoneShapes.forEach(function (elem) { %>
                            <option value="<%= elem.id %>" <% if (elem.id===item.stoneShapeId ) { %> selected <% } %>>
                                <%= elem.name %>
                            </option>
                            <% }) %>
                        </select>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-6">
                        Stone Center
                        <select name="stoneCenterId" id="stoneCenterId" class="select2">
                          <option value="null" <% if (!item.stoneCenterId ) { %> selected <% } %>>
                              Select a stone center
                          </option>
                          <% data.stoneCenters.forEach(function (elem) { %>
                            <option value="<%= elem.id %>" <% if (elem.id===item.stoneCenterId ) { %> selected <% } %>
                                >
                                <%= elem.name %>
                            </option>
                            <% }) %>
                        </select>
                      </div>
                      <div class="col-md-6">
                        Stone Side
                        <select name="stoneSideId" id="stoneSideId" class="select2">
                          <option value="null" <% if (!item.stoneSideId ) { %> selected <% } %>>
                              Select a stone side
                          </option>
                          <% data.stoneSides.forEach(function (elem) { %>
                            <option value="<%= elem.id %>" <% if (elem.id===item.stoneSideId ) { %> selected <% } %>
                                >
                                <%= elem.name %>
                            </option>
                            <% }) %>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        Stone Color
                        <select name="stoneColorId" id="stoneColorId" class="select2">
                          <option value="null" <% if (!item.stoneColorId ) { %> selected <% } %>>
                              Select a stone color
                          </option>
                          <% data.stoneColors.forEach(function (elem) { %>
                            <option value="<%= elem.id %>" <% if (elem.id===item.stoneColorId ) { %> selected <% } %>>
                                <%= elem.name %>
                            </option>
                            <% }) %>
                        </select>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        Position X
                        <input type="number" name="positionX" value="<%= item.positionX %>" required>
                      </div>
                      <div class="col-md-6">
                        Position Y
                        <input type="number" name="positionY" value="<%= item.positionY %>" required>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-12">
                        <input type="text" style="display: none;" name="createdAt" value="<%= item.createdAt %>">
                        <div class="container">
                          <img
                            src="<% if( item.path ) { %> <%= item.path %> <% } else { %> https://img.icons8.com/material/96/000000/image.png <% } %>"
                            width="50%" id="imgg-<%= item.id %>" alt="product image" draggable="false"
                            class="ImageWithActionPointsstyle__ImageContainer-sc-1dlworr-2 dzKPzQ" />

                          <input type="file" accept="image/*" name="path" id="file-<%= item.id %>"
                            index="imgg-<%= item.id %>" style="display: none;"
                            onchange="handleImgId(this.files, 'imgg-<%= item.id %>' ); uploadFile(this.id, 'homeProducts'); " />

                          <button class="btn"
                            onclick="remove('file-<%= item.id %>', 'form-<%= item.id %>', 'imgg-<%= item.id %>','updatePicture-<%= item.id %>')"><i
                              class="fas fa-trash-alt"></i></button>
                          <button class="btn2"
                            onclick="modify('file-<%= item.id %>', 'form-<%= item.id %>','updatePicture-<%= item.id %>')"><i
                              class="fas fa-pen"></i></button>
                        </div>

                        <br />

                        <button disabled id="updatePicture-<%= item.id %>"
                          onclick="event.preventDefault(); uploadDb('file-<%= item.id %>','<%= item.createdAt %>', '/<%= item.id %>','form-<%= item.id %>')">Update
                          Picture

                        </button>
                        <button
                          onclick="event.preventDefault();uploadDbnoImg('<%= item.createdAt %>', '/<%= item.id %>','form-<%= item.id %>')">
                          Update
                          Information</button>
                        <input class="btn btn-danger" type="button"
                          onclick="location.href='/deleteHomeProductsPicture/<%= item.id %>'"
                          value="Delete item"></input>
                        <div class="row">
                          <!-- /.col -->
                          <div class="col-md-12 mx-auto table-responsive p-0 text-center ">
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>


              </form>
              <br />
              <% }) %>

                <!-- /.progress-group -->
          </div>
          <!-- /.col -->
          <div class="row">
            <!-- /.col -->
            <div class="col-md-12 mx-auto table-responsive p-0 text-center">
              <legend>Add new home shop product</legend>
              <form id="form-new" action="/homeShopProducts" method="POST">
                <div class="">
                  <div class="row">
                    <div class="col-md-6">
                      Home Shop Id
                      <select name="homeShopId" id="homeShopId" class="select2" required
                        onchange="changePath(this.value,'homeShopImageNew')" data-placeholder="Select a home shop id">
                        <option value="" disabled selected>Select a home shop id</option>
                        <% data.homeShops.forEach(function (elem) { %>
                          <option value="<%= elem.id %>---<%= elem.path %>">
                            <%= elem.id %>
                          </option>
                          <% }) %>
                      </select>
                    </div>

                    <div class="col-md-6">
                      Product
                      <select name="productId" id="productId" class="select2" required>
                        <option value="" disabled selected>Select a product</option>
                        <% data.products.forEach(function (elem) { %>
                          <option value="<%= elem.id %>">
                            <%= elem.localSku %> - <%= elem.name %>
                          </option>
                          <% }) %>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <img alt="" id="homeShopImageNew" src="https://img.icons8.com/material/96/000000/image.png" style="margin:20px auto;
                              border-radius:5px;
                              border: 1px solid #999;
                              padding:13px;
                              background-size: 100% 100%;
                              background-repeat:no-repeat;
                              background-size: cover;
                              width: 100%">
                    </div>

                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          Metal
                          <select name="metalId" id="metalId" class="select2" required
                            data-placeholder="Select a metal">
                            <option value="" disabled selected>Select a metal</option>
                            <% data.metals.forEach(function (elem) { %>
                              <option value="<%= elem.id %>">
                                <%= elem.name %>
                              </option>
                              <% }) %>
                          </select>
                        </div>
                        <div class="col-md-6">
                          Stone Shape
                          <select name="stoneShapeId" id="stoneShapeId" class="select2"
                            data-placeholder="Select a stone shape">
                            <option value="" disabled selected>Select a stone shape</option>
                            <option value="null">None</option>
                            <% data.stoneShapes.forEach(function (elem) { %>
                              <option value="<%= elem.id %>">
                                <%= elem.name %>
                              </option>
                              <% }) %>
                          </select>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-6">
                          Stone Center
                          <select name="stoneCenterId" id="stoneCenterId" class="select2"
                            data-placeholder="Select a stone center">
                            <option value="" disabled selected>Select a stone center</option>
                            <option value="null">None</option>
                            <% data.stoneCenters.forEach(function (elem) { %>
                              <option value="<%= elem.id %>">
                                <%= elem.name %>
                              </option>
                              <% }) %>
                          </select>
                        </div>
                        <div class="col-md-6">
                          Stone Side
                          <select name="stoneSideId" id="stoneSideId" class="select2"
                            data-placeholder="Select a stone side">
                            <option value="" disabled selected>Select a stone side</option>
                            <option value="null">None</option>
                            <% data.stoneSides.forEach(function (elem) { %>
                              <option value="<%= elem.id %>">
                                <%= elem.name %>
                              </option>
                              <% }) %>
                          </select>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          Stone Color
                          <select name="stoneColorId" id="stoneColorId" class="select2"
                            data-placeholder="Select a stone color">
                            <option value="" disabled selected>Select a stone color</option>
                            <option value="null">None</option>
                            <% data.stoneColors.forEach(function (elem) { %>
                              <option value="<%= elem.id %>">
                                <%= elem.name %>
                              </option>
                              <% }) %>
                          </select>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          position X <input type="number" name="positionX" step="0.01" required>
                        </div>
                        <div class="col-md-6">

                          position Y <input type="number" name="positionY" step="0.01" required>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-12">
                          <div class="container">
                            <img src="https://img.icons8.com/material/96/000000/image.png" width="50%" id="imgg-new"
                              alt="product image" draggable="false"
                              class="ImageWithActionPointsstyle__ImageContainer-sc-1dlworr-2 dzKPzQ" />
                          </div>
                          <br />
                          <div class="row">
                            <!-- /.col -->
                            <div class="col-md-12 mx-auto table-responsive p-0 text-center ">
                              <input type="file" accept="image/*" name="path" id="file-new" index="imgg-new"
                                onchange="handleImgId(this.files, 'imgg-new' ); uploadFile(this.id, 'homeProducts');" />
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>

                </div>
                <input type="submit" value="Save" class="btn btn-success" />
              </form>
              <br />

              <!-- /.progress-group -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="snackbar">

  </div>
  <!-- /.row -->

</div>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script>
  var snackbar = document.getElementById("snackbar");
  function modify(id, form, update) {
    event.preventDefault();
    var button = $("#" + update);
    button.prop('disabled', false);
    var data = $("#" + form).serializeArray();
    var file = document.getElementById(id);
    if (data[0].value == "" ||
      data[1].value == "" ||
      data[2].value == "" ||
      data[8].value == "" ||
      data[9].value == "") {
      snackbar.style = "background-color: #e74c3c;";
      snackbar.innerHTML = "Fields Home Shop Id, Product, Metal, Position X and Position Y are required";
      snackbar.className = "show";
      setTimeout(function () {
        snackbar.className = snackbar.className.replace("show", "");
      }, 3000);
      file.style = "display:none";
    } else {
      file.style = "display:";
    }
  }

  function remove(id, form, img, but) {
    event.preventDefault();
    var button = $("#" + but);
    button.prop('disabled', false);
    var data = $("#" + form).serializeArray();
    var file = document.getElementById(id);
    var image = document.getElementById(img);
    file.value = "";
    image.src = "https://img.icons8.com/material/96/000000/image.png";
  }



  function uploadDb(fileId, createdAt, id, form) {
    event.preventDefault();
    var file = document.getElementById(fileId);
    if (file.files[0]) {
      var src = file.files[0].name;
      var data = $("#" + form).serialize() + "&path=" + src;
    }
    else {
      var data = $("#" + form).serialize();
    }
    alert(data);
    $.post("../homeShopProducts" + id,
      data,
      function (data) {
        snackbar.style = "background-color: #00bc8c;";
        snackbar.innerHTML = data.response;
        snackbar.className = "show";
        setTimeout(function () {
          snackbar.className = snackbar.className.replace("show", "");
        }, 3000);
        if (data.url) {
          location.reload();
        }
      }
    );
  }

  function uploadDbnoImg(createdAt, id, form) {
    event.preventDefault();
    var data = $("#" + form).serializeArray();
    var file = document.getElementById(id);
    data.push({ name: "path", value: "noUpdateImg" });
    if (data[0].value == "" ||
      data[1].value == "" ||
      data[2].value == "" ||
      data[8].value == "" ||
      data[9].value == "") {
      snackbar.style = "background-color: #e74c3c;";
      snackbar.innerHTML = "Fields Home Shop Id, Product, Metal, Position X and Position Y are required";
      snackbar.className = "show";
      setTimeout(function () {
        snackbar.className = snackbar.className.replace("show", "");
      }, 3000);
    } else {
      var posX = data[7].value;
      var posY = data[8].value;
      if (Number(posX) && Number(posY)) {
        $.post("../homeShopProducts" + id,
          data,
          function (data) {
            snackbar.style = "background-color: #00bc8c;";
            snackbar.innerHTML = data.response + "<br/>The page will reload";
            snackbar.className = "show";
            setTimeout(function () {
              snackbar.className = snackbar.className.replace("show", "");
            }, 3000);
            setTimeout(function () {
              if (data.url) {
                location.reload();
              }
            }, 2000);
          }
        );
      } else {
        snackbar.style = "background-color: #e74c3c;";
        snackbar.innerHTML = "Fields Position X and Position Y are number type, please fix them.";
        snackbar.className = "show";
        setTimeout(function () {
          snackbar.className = snackbar.className.replace("show", "");
        }, 3000);
      }

    }

  }

  function changePath(str, id) {
    var arr = str.split("---");
    var homeShopImage = document.getElementById(id);
    homeShopImage.src = arr[1];
  }
</script>