<div class="container-fluid" id="main_content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        <%= subtitle %>
                    </h5>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-md-12 mx-auto">
                            <% if (msg=='Error' ) { %>
                                <p style="color: #e74c3c;"
                                    class="border border-red-500 background-red-100 text-red-500 p-3 mt-5 text-center error">
                                    The combination you've sent has already 360s.
                                </p>
                                <% } %>
                                    <% if (msg=='Ok' ) { %>
                                        <p style="color: #00bc8c;;"
                                            class="border border-red-500 background-red-100 text-red-500 p-3 mt-5 text-center error">
                                            360 Have been uplodead sucessfully
                                        </p>
                                        <% } %>
                                            <form id="myform" method="post" action="/unzip"
                                                class="m-2 ng-pristine ng-invalid ng-touched">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col-12">
                                                        <div role="alert" class="alert alert-warning" hidden="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col-12">
                                                        <div role="alert" class="alert alert-success" hidden="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row mt-4">
                                                    <label for="colFormLabelSm"
                                                        class="col-sm-3 col-form-label col-form-label-sm"> Product:
                                                    </label>
                                                    <div class="col s-12">
                                                        <div class="ng-select-container ng-has-value">
                                                            <div class="ng-value-container">
                                                                <select name="productId" id="productId" class="select2"
                                                                    required>
                                                                    <option value="" disabled selected> Select Product
                                                                    </option>
                                                                    <% data.products.forEach(function (item) { %>
                                                                        <option value="<%= item.id %> ">
                                                                            <%= item.localSku %> - <%= item.name %>
                                                                        </option>
                                                                        <% }) %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row mt-4">
                                                    <label for="colFormLabelSm"
                                                        class="col-sm-3 col-form-label col-form-label-sm"> Stone Shape:
                                                    </label>
                                                    <div class="col s-12">
                                                        <div class="ng-select-container ng-has-value">
                                                            <div class="ng-value-container">
                                                                <select name="stoneShapeId" id="stoneShapeId"
                                                                    class="select2">
                                                                    <option value="" disabled selected> Select Stone
                                                                        Shape
                                                                    </option>
                                                                    <% data.stoneShapes.forEach(function (item) { %>
                                                                        <option value="<%= item.id %>">
                                                                            <%= item.name %>
                                                                        </option>
                                                                        <% }) %>
                                                                            <option value="">
                                                                                None
                                                                            </option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row mt-4">
                                                    <label for="colFormLabelSm"
                                                        class="col-sm-3 col-form-label col-form-label-sm"> Metal Color:
                                                    </label>
                                                    <div class="col s-12">
                                                        <div class="ng-select-container ng-has-value">
                                                            <div class="ng-value-container">
                                                                <select name="metalColorId" required id="metalColorId"
                                                                    class="select2">
                                                                    <option value="" disabled selected> Metal Color
                                                                    </option>
                                                                    <% data.metalColor.forEach(function (item) { %>
                                                                        <option value="<%= item.id %> ">
                                                                            <%= item.description %>
                                                                        </option>
                                                                        <% }) %>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col s-12">
                                                    <button class="btn btn-success" type="button"
                                                        onclick="verify360()">Verify 360</button>
                                                </div>

                                                <div>
                                                    <p class="border-red-500 background-red-100 text-red-500 p-3 mt-5 text-center"
                                                        style="color:#00bc8c; " id="msg"></p>
                                                </div>
                                                <input type="file" value="Upload File" accept="zip,.zip"
                                                    name="inputGroupFile01" id="inputGroupFile01"
                                                    onchange="uploadZip('inputGroupFile01');" disabled>
                                                <div class="d-flex flex-row-reverse bd-highlight mt-3">
                                                    <div _ngcontent-gak-c44="" class="p-2 bd-highlight">
                                                        <input type="button" value="Reset" class="btn btn-danger"
                                                            onclick="resetAll()">
                                                    </div>

                                                    <div class="p-2 bd-highlight">
                                                        <input type="submit" value="Save" required disabled
                                                            class="btn btn-success">
                                                        <app-loading _nghost-gak-c43="" hidden="">
                                                            <button _ngcontent-gak-c43="" type="button"
                                                                class="btn btn-sending">
                                                                <span _ngcontent-gak-c43="" role="status"
                                                                    aria-hidden="true"
                                                                    class="spinner-border spinner-border-sm">

                                                                </span> Sending...
                                                            </button>
                                                        </app-loading>
                                                    </div>
                                                </div>
                                            </form>

                                            <div id="snackbar">
                                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</div>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {

        $('#productId').on('change', function () {
            if (this.value != "" && $('#metalColorId').val() != null)
                $("#inputGroupFile01").prop('disabled', false);
        });
        $('#metalColorId').on('change', function () {
            if (this.value != "" && $('#productId').val() != null)
                $("#inputGroupFile01").prop('disabled', false);
        });
    });

    function verify360() {
        event.preventDefault();
        snackbar.className = snackbar.className.replace("show", "");
        $.post("../verify360",
            $("form").serialize(),
            function (data) {
                snackbar.style = "background-color: " + data.color;
                snackbar.innerHTML = data.response;
                snackbar.className = "show";
                setTimeout(function () {
                    snackbar.className = snackbar.className.replace("show", "");
                }, 5000);
            }
        );
    }

    function uploadZip(str) {
        event.preventDefault();
        snackbar.className = snackbar.className.replace("show", "");
        $.post("../verify360",
            $("form").serialize(),
            function (data) {
                snackbar.style = "background-color: " + data.color;
                snackbar.className = "show";
                if (data.response == "This combination has already 360 loaded.") {
                    snackbar.innerHTML = data.response + "<br> The file is not going to be uploaded.";
                    setTimeout(function () {
                        snackbar.className = snackbar.className.replace("show", "");
                    }, 3000);
                } else {
                    snackbar.innerHTML = data.response + "<br> If the form is not submitted in 2 seconds please click on Save Button.";
                    setTimeout(function () {
                        snackbar.className = snackbar.className.replace("show", "");
                    }, 3000);
                    var productId = document.getElementById("productId").value;
                    var metalColorId = document.getElementById("metalColorId").value;
                    var stoneShapeId = document.getElementById("stoneShapeId").value;
                    var type = "360--" + productId + "--" + metalColorId + "--" + stoneShapeId;
                    $(".btn-success").prop('disabled', true);
                    type = type.replaceAll(/\s/g, '');
                    var xhttp = new XMLHttpRequest(); // create new AJAX 
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) { // sucess from server
                            $(".btn-success").prop('disabled', false);
                            document.getElementById('msg').style = "color:#00bc8c; "
                            document.getElementById('msg').innerHTML = "Zip file has been uploaded, \n If the form is not submitted in 2 seconds please click on Save Button";
                            setTimeout(function () {
                                document.getElementById('myform').submit();
                            }, 2000);
                        } else { // errors occured
                            if (xhttp.status != 0) {
                                document.getElementById('msg').style = "color:#e74c3c; ";
                                document.getElementById('msg').innerHTML = "There was an error while loading the zip file." + xhttp.status;
                            } else {
                                document.getElementById('msg').style = "color:#FB9101; ";
                                document.getElementById('msg').innerHTML = "Uploading File...";
                            }
                        }
                    }
                    xhttp.open("POST", "../uploadFile/" + type);
                    var formData = new FormData()
                    formData.append(str, document.getElementById(str).files[0]); // since inputs allow multi files submission, therefore files are in array
                    formData.append("productId", document.getElementById("productId").value); // since inputs allow multi files submission, therefore files are in array
                    formData.append("stoneShapeId", document.getElementById("stoneShapeId").value); // since inputs allow multi files submission, therefore files are in array
                    formData.append("metalColorId", document.getElementById("metalColorId").value); // since inputs allow multi files submission, therefore files are in array
                    formData.append(str, document.getElementById(str).value); // since inputs allow multi files submission, therefore files are in array
                    xhttp.send(formData);
                }
            }
        );
    }
    function resetAll() {
        $('#productId').val(null).trigger('change');
        $('#metalColorId').val(null).trigger('change');
        $('#stoneShapeId').val(null).trigger('change');
        $("#inputGroupFile01").prop('disabled', true);
    }
</script>