<div class="container-fluid" id="main_content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">All users</h5>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <!-- /.col -->
            <div class="col-md-10 mx-auto table-responsive p-0">


              <div _ngcontent-qte-c40="" class="search input-group p-4 d-flex justify-content-center">
                <input _ngcontent-qte-c40="" type="search" id="search" placeholder="Buscar   .  .  .  .  ."
                  class="ng-pristine ng-valid ng-touched">
                <button _ngcontent-qte-c40="" type="button" class="btn btn-secondary"><i _ngcontent-qte-c40=""
                    class="material-icons">search</i>
                </button>
              </div>

              <div class="scroll1">
                <div class="div1"></div>
              </div>
              <div class="scroll2">
                <table _ngcontent-qte-c40="" class="table table-hover text-nowrap no-cellpadding " role="grid">
                  <thead _ngcontent-qte-c40="">
                    <tr _ngcontent-qte-c40="">
                      <th _ngcontent-qte-c40="" scope="col">#</th>
                      <th _ngcontent-qte-c40="" scope="col" class="sorting">Name</th>
                      <th _ngcontent-qte-c40="" scope="col">Email</th>
                      <th _ngcontent-qte-c40="" scope="col">Options</th>
                    </tr>
                  </thead>
                  <tbody id="listingTable" _ngcontent-qte-c40="">
                    <% if ( !users ){ %>
                      <tr _ngcontent-qte-c40="">
                        <td _ngcontent-qte-c40="" colspan="4" scope="col">No hay usuarios disponibles</td>
                      </tr>
                      <% } else { %>
                        <% users.forEach(function (item) { %>
                          <tr _ngcontent-qte-c40="">
                            <td _ngcontent-qte-c40="" scope="col">
                              <%= item.id %>
                            </td>
                            <td _ngcontent-qte-c40="" scope="col">
                              <%= item.name %>
                            </td>
                            <td _ngcontent-qte-c40="" scope="col">
                              <%= item.email %>
                            </td>
                            <td _ngcontent-qte-c40="" scope="col">
                              <div _ngcontent-uqf-c65="" class="text-center">

                                <a _ngcontent-nio-c60="" class="mr-2 mt-2"
                                  title="Edit"
                                  href="/editUser/<%= item.id %>">

                                  <button _ngcontent-yil-c42="" class="btn btn-info ">
                                    <i _ngcontent-yil-c42="" class="material-icons">border_color</i>
                                  </button>
                                </a>

                                <a _ngcontent-yil-c42="" data-confirm="Are you sure?" title="<%= item.name %>"
                                  href="/deleteUser/<%= item.id %>">
                                  <button _ngcontent-yil-c42="" class="btn btn-danger">
                                    <i _ngcontent-yil-c42="" class="material-icons">delete_forever</i>
                                  </button>
                                </a>
                              </div>
                            </td>
                          </tr>
                          <% })} %>
                  </tbody>
                </table>
                <center>
                  <a href="javascript:prevPage()" id="btn_prev">Prev</a>
                  <strong> Page:</strong> <span id="page"></span>
                  <a href="javascript:nextPage()" id="btn_next">Next</a>
                </center>
              </div>
              <!-- /.progress-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
  $(document).ready(function () {
    $(function () {
      $('.scroll1').on('scroll', function (e) {
        $('.scroll2').scrollLeft($('.scroll1').scrollLeft());
      });
      $('.scroll2').on('scroll', function (e) {
        $('.scroll1').scrollLeft($('.scroll2').scrollLeft());
      });
    });

    $('.div1').width($('table').width());

  });
</script>