<div class="container-fluid" id="main_content">
    <div _ngcontent-yil-c44="" class="bg-dark border shadow">
        <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
            <h4 _ngcontent-gak-c44="">Create user</h4>
            <a _ngcontent-gak-c44="" routerlink="/users" class="btn btn-outline-secondary mr-2" href="/users">Users</a>
        </div>
        <div _ngcontent-gak-c44="" class="bg-dark border shadow">
            <h4 _ngcontent-gak-c44="" class="text-center mt-3 mb-3">Date user</h4>
            <form _ngcontent-gak-c44="" novalidate="" method="POST" action="/newUser"
                class="m-2 ng-invalid ng-dirty ng-touched">
                <div _ngcontent-gak-c44="" class="row d-flex justify-content-center">
                    <div _ngcontent-gak-c44="" class="col-12">
                        <div _ngcontent-gak-c44="" user="alert" class="alert alert-warning" hidden=""> </div>
                    </div>
                </div>
                <div _ngcontent-gak-c44="" class="row d-flex justify-content-center">
                    <div _ngcontent-gak-c44="" class="col-12">
                        <div _ngcontent-gak-c44="" user="alert" class="alert alert-success" hidden=""> </div>
                    </div>
                </div>
                <div _ngcontent-gak-c44="" class="form-row mt-4">
                    <label _ngcontent-gak-c44="" for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">
                        Name - Email: </label>
                    <div _ngcontent-gak-c44="" class="col s-12 m-6">
                        <input _ngcontent-gak-c44="" type="text" name="name" placeholder="Enter name" required
                            class="form-input-text ng-pristine ng-invalid ng-touched">
                        <!---->
                    </div>
                    <div _ngcontent-gak-c44="" class="col s-12 m-6">
                        <input _ngcontent-gak-c44="" type="text" name="email" placeholder="Enter email" required
                            class="form-input-text ng-dirty ng-valid ng-touched">
                        <!---->
                    </div>
                </div>
                <div _ngcontent-gak-c44="" class="form-row mt-4">
                    <label _ngcontent-gak-c44="" for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">
                        password - Password confirmation: </label>
                    <div _ngcontent-gak-c44="" class="col s-12 m-6">
                        <input _ngcontent-gak-c44="" type="password" name="password" id="password"
                            placeholder="Enter password" required
                            class="form-input-password ng-dirty ng-valid ng-touched">

                    </div>
                    <div _ngcontent-gak-c44="" class="col s-12 m-6"><input _ngcontent-gak-c44="" type="password"
                            id="passwordConfirmation" name="passwordConfirmation"
                            placeholder="Enter password confirmation" required=""
                            class="form-input-password ng-pristine ng-invalid ng-touched"></div>
                </div>
                <div _ngcontent-gak-c44="" class="d-flex flex-row-reverse bd-highlight mt-3">
                    <div _ngcontent-gak-c44="" class="p-2 bd-highlight">
                        <input _ngcontent-gak-c44="" type="reset" value="Reset" class="btn btn-danger">
                    </div>
                    <div _ngcontent-gak-c44="" class="p-2 bd-highlight">
                        <input _ngcontent-gak-c44="" type="submit" value="Save" id="submit" disabled class="btn btn-success">
                        <app-loading _ngcontent-gak-c44="" _nghost-gak-c43="" hidden=""><button _ngcontent-gak-c43=""
                                type="button" class="btn btn-sending">
                                <span _ngcontent-gak-c43="" role="status" aria-hidden="true"
                                    class="spinner-border spinner-border-sm"></span> Sending...
                            </button>
                        </app-loading>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#submit").prop("disabled", true);
        $("#password").on("change paste keyup", function () {
            if($(this).val() != $("#passwordConfirmation").val()){
                $("#submit").prop("disabled", true);
            } else {
                $("#submit").prop("disabled", false);
            }
        });
        $("#passwordConfirmation").on("change paste keyup", function () {
            if($(this).val() != $("#password").val()){
                $("#submit").prop("disabled", true);
            } else {
                $("#submit").prop("disabled", false);
            }
        });
    });

</script>