<div _ngcontent-osd-c54="" class="bg-dark border shadow">
    <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
        <h4 _ngcontent-gak-c44="">
            <%= option %>
        </h4>
        <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2"
            href="/<%= view %>">
            <%= subtittle %>
        </a>
    </div>
    <h4 _ngcontent-osd-c54="" class="text-center mt-3 mb-3">Data</h4>
    <form _ngcontent-osd-c54="" id="myform" class="m-2 ng-untouched ng-pristine ng-invalid" method="POST" action="#"> 
        <div _ngcontent-osd-c54="" class="row d-flex justify-content-center">
            <div _ngcontent-osd-c54="" class="col-12">
                <div _ngcontent-osd-c54="" role="alert" class="alert alert-warning" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-osd-c54="" class="row d-flex justify-content-center">
            <div _ngcontent-osd-c54="" class="col-12">
                <div _ngcontent-osd-c54="" role="alert" class="alert alert-success" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-osd-c54="" class="form-row mt-4"><label _ngcontent-osd-c54="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Name: </label>
            <div _ngcontent-osd-c54="" class="col s-12"><input _ngcontent-osd-c54="" type="text" name="name" value="<%= data.name %>"
                    placeholder="Enter name . . ." required=""
                    class="form-input-text ng-untouched ng-pristine ng-invalid">
                <!---->
            </div>
        </div>
        <div _ngcontent-osd-c54="" class="form-row mt-4"><label _ngcontent-osd-c54="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Color: </label>
            <div _ngcontent-osd-c54="" class="col s-12"><input _ngcontent-osd-c54="" type="text" name="color"  value="<%= data.color %>"
                    placeholder="Enter color . . ." class="form-input-text ng-untouched ng-pristine ng-valid">
                <!---->
            </div>
        </div>
        <div _ngcontent-osd-c54="" class="form-row mt-4"><label _ngcontent-osd-c54="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Treatment: </label>
            <div _ngcontent-osd-c54="" class="col s-12"><input _ngcontent-osd-c54="" type="text" name="treatment"  value="<%= data.treatment %>"
                    placeholder="Enter treatment . . ." class="form-input-text ng-untouched ng-pristine ng-valid">
                <!---->
            </div>
        </div>
        <div _ngcontent-osd-c54="" class="form-row mt-4"><label _ngcontent-osd-c54="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Quality: </label>
            <div _ngcontent-osd-c54="" class="col s-12"><input _ngcontent-osd-c54="" type="text" name="quality" value="<%= data.quality %>"
                    placeholder="Enter quality . . ." class="form-input-text ng-untouched ng-pristine ng-valid">
                <!---->
            </div>
        </div>
        <div _ngcontent-osd-c54="" class="form-row mt-4"><label _ngcontent-osd-c54="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Cut: </label>
            <div _ngcontent-osd-c54="" class="col s-12"><input _ngcontent-osd-c54="" type="text" name="cut" value="<%= data.cut %>"
                    placeholder="Enter cut . . ." class="form-input-text ng-untouched ng-pristine ng-valid">
                <!---->
            </div>
        </div>
        
        <div _ngcontent-osd-c54="" class="form-row mt-4"><label _ngcontent-osd-c54="" for="colFormLabelSm"
            class="col-sm-3 col-form-label col-form-label-sm"> Price: </label>
        <div _ngcontent-osd-c54="" class="col s-12"><input _ngcontent-osd-c54="" type="text" name="price" value="<%= data.price %>"
                placeholder="Enter price . . ." class="form-input-text ng-untouched ng-pristine ng-valid">
        </div>
    </div>
    <div _ngcontent-osd-c54="" class="form-row mt-4"><label _ngcontent-osd-c54="" for="colFormLabelSm"
            class="col-sm-3 col-form-label col-form-label-sm"> Carat: </label>
        <div _ngcontent-osd-c54="" class="col s-12"><input _ngcontent-osd-c54="" type="text" name="carat" value="<%= data.carat %>"
                placeholder="Enter carat . . ." class="form-input-text ng-untouched ng-pristine ng-valid">
            
        </div>
    </div>
    
        <div _ngcontent-osd-c54="" class="form-row mt-4"><label _ngcontent-osd-c54="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Description: </label>
            <div _ngcontent-osd-c54="" class="col s-12"><textarea _ngcontent-osd-c54="" name="description"
                    cols="10" rows="4" placeholder="Enter stone color description . . ."
                    class="form-input-textarea ng-untouched ng-pristine ng-valid"><%= data.description %></textarea>
                <!---->
            </div>
        </div>
        <div _ngcontent-osd-c54="" class="form-row mt-4"><label _ngcontent-osd-c54="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Icon: </label>
            <div _ngcontent-osd-c54="" class="col s-12">
                <div _ngcontent-osd-c54="" class="text-center border">
                    <!---->
                    <!---->
                    <div _ngcontent-osd-c54="" class="image-preview mb-3"><img _ngcontent-osd-c54="" id="imgg0"
                            src="<%= data.icon %>" class="img-fluid m-4"></div>
                    <!---->
                    <!---->
                </div>
                <input _ngcontent-yil-c44="" type="text"
                name="createdAt" placeholder="Enter name . . ." required="" style="display:none"
                class="form-input-text ng-untouched ng-pristine ng-invalid"
                value="<%= data.createdAt %>"/>
                <input type="text" name="oldIcon" value="<%= data.icon %>" style="display: none;"/>
                <div _ngcontent-osd-c54="" class="custom-file"><input _ngcontent-osd-c54="" type="file" onchange="handleFiles(this.files);uploadFile('inputGroupFile01', 'stone-colors');"
                        name="icon" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" value="<%= data.icon %>"
                        accept="image/*" class="custom-file-input ng-untouched ng-pristine ng-valid"><label
                        _ngcontent-osd-c54="" for="inputGroupFile01" class="custom-file-label">Choose file</label></div>
                <!---->
            </div>
        </div>
        <div _ngcontent-osd-c54="" class="d-flex flex-row-reverse bd-highlight mt-3">
            <div _ngcontent-osd-c54="" class="p-2 bd-highlight"><input _ngcontent-osd-c54="" type="reset" value="Reset"
                    class="btn btn-danger"></div>
            <div _ngcontent-osd-c54="" class="p-2 bd-highlight"><input _ngcontent-osd-c54="" type="submit" value="Save" class="btn btn-success"
                    >
                <app-loading _ngcontent-osd-c54="" _nghost-osd-c41="" hidden=""><button _ngcontent-osd-c41=""
                        type="button" disabled="" class="btn btn-sending"><span _ngcontent-osd-c41="" role="status"
                            aria-hidden="true" class="spinner-border spinner-border-sm"></span> Sending...
                    </button></app-loading>
            </div>
        </div>
    </form>
</div>