<div class="container-fluid" id="main_content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">All Categories</h5>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <!-- /.col -->
            <div class="col-md-12 mx-auto">


              <div _ngcontent-qte-c40="" class="search input-group p-4 d-flex justify-content-center">
                <input _ngcontent-qte-c40="" type="search" id="search" placeholder="Buscar   .  .  .  .  ."
                  class="ng-pristine ng-valid ng-touched">
                <button _ngcontent-qte-c40="" type="button" class="btn btn-secondary"><i _ngcontent-qte-c40=""
                    class="material-icons">search</i>
                </button>
              </div>
              <div class="card-body table-responsive p-0">
                <div class="scroll1">
                  <div class="div1"></div>
                </div>
                <div class="scroll2">
                  <table _ngcontent-qte-c40="" class="table table-hover">
                    <thead _ngcontent-aum-c44="">
                      <tr _ngcontent-aum-c44="">
                        <th _ngcontent-aum-c44="" scope="col">#</th>
                        <th _ngcontent-aum-c44="" scope="col">Name</th>
                        <th _ngcontent-aum-c44="" scope="col">Slug</th>
                        <th _ngcontent-aum-c44="" scope="col">Discount %</th>
                        <!-- <th _ngcontent-aum-c44="" scope="col">Image</th>-->
                        <th _ngcontent-aum-c44="" scope="col">Description</th>
                        <th _ngcontent-aum-c44="" scope="col">Options</th>
                      </tr>
                    </thead>
                    <tbody id="listingTable" _ngcontent-qte-c40="">
                      <% if ( !data ){ %>
                        <tr _ngcontent-qte-c40="">
                          <td _ngcontent-qte-c40="" colspan="4" scope="col">There is no categories available</td>
                        </tr>
                        <% } else { %>
                          <% data.forEach(function (item) { %>
                            <tr _ngcontent-qte-c40="">
                              <td _ngcontent-qte-c40="" scope="col">
                                <%= item.id %>
                              </td>
                              <td _ngcontent-qte-c40="" scope="col">
                                <%= item.name %>
                              </td>
                              <td _ngcontent-qte-c40="" scope="col">
                                <%= item.slug %>
                              </td>
                              <td _ngcontent-qte-c40="" scope="col">
                                <%= (item.discount.toFixed(2).padStart(3,'0')) %>
                              </td>
                              <!-- <td _ngcontent-qte-c40="" scope="col">
  
                            </td>-->
                              <td _ngcontent-qte-c40="" scope="col">
                                <%= item.description %>
                              </td>
                              <td _ngcontent-qte-c40="" scope="col">
                                <div _ngcontent-nio-c60="" class="text-center">
                                  <a _ngcontent-nio-c60="" class="btn btn-info mr-2 mt-2"
                                    title="Beaded Bezel Antique Wedding Moissanite Eternity Ring"
                                    href="/editCategories/<%= item.id %>"><i _ngcontent-nio-c60=""
                                      class="material-icons">border_color</i>
                                  </a>
                                  <a _ngcontent-yil-c42="" data-confirm="Are you sure?" title="<%= item.name %>"
                                    href="/deleteCategories/<%= item.id %>">
                                    <button _ngcontent-yil-c42="" class="btn btn-danger">
                                      <i _ngcontent-yil-c42="" class="material-icons">delete_forever</i>
                                    </button>
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <% })} %>
                    </tbody>
                  </table>
                  <center>
                    <a href="javascript:prevPage()" id="btn_prev">Prev</a>
                    <strong> Page:</strong> <span id="page"></span>
                    <a href="javascript:nextPage()" id="btn_next">Next</a>
                  </center>
                </div>
              </div>
            </div>

            <!-- /.progress-group -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- ./card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

</div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
  $(document).ready(function () {
    $(function () {
      $('.scroll1').on('scroll', function (e) {
        $('.scroll2').scrollLeft($('.scroll1').scrollLeft());
      });
      $('.scroll2').on('scroll', function (e) {
        $('.scroll1').scrollLeft($('.scroll2').scrollLeft());
      });
    });

    $('.div1').width($('table').width());

  });
</script>