<div class="bg-dark border shadow">
    <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
        <h4 _ngcontent-gak-c44="">
            <%= option %>
        </h4>
        <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2" href="/<%= view %>">
            <%= subtittle %>
        </a>
    </div>


    <form class="m-2 ng-invalid ng-touched ng-dirty" action="/newCategories" method="POST">
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <div role="alert" class="alert alert-warning" hidden=""> </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <div role="alert" class="alert alert-success" hidden=""> </div>
            </div>
        </div>
        <ul id="myTab" role="tablist" class="nav nav-tabs">
            <li class="nav-item"><a id="home-tab" data-toggle="tab"
                    href="#general" role="tab" aria-controls="home" aria-selected="true"
                    class="nav-link active">General</a></li>
            <li class="nav-item"><a id="links-tab" data-toggle="tab"
                    href="#links" role="tab" aria-controls="links" aria-selected="false" class="nav-link">Links</a></li>
            <li class="nav-item"><a id="banners-tab" data-toggle="tab"
                    href="#banners" role="tab" aria-controls="banners" aria-selected="false"
                    class="nav-link">Banners</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div id="general" role="tabpanel" aria-labelledby="general-tab"
                class="tab-pane fade active show">
                <div >
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Name: </label>
                        <div class="col s-12"><input type="text" name="name"
                                id="name" placeholder="Enter name . . ." oninvalid="invalidFunction(event, this.name)"
                                required="" class="form-input-text ng-untouched ng-pristine ng-invalid">
                            <!---->
                        </div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Discount: </label>
                        <div class="col s-12"><input type="number"
                                name="discount" placeholder="Enter discount . . ."
                                oninvalid="invalidFunction(event, this.name)" required=""
                                class="form-input-text ng-untouched ng-pristine ng-valid">
                            <!---->
                        </div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Styles: </label>
                        <div class="col s-12">
                            <select name="styles" id="styles" class="select2" multiple="multiple"
                                data-placeholder="Select Styles" style="width: 100%;">
                                <option value="" disabled=""> Select Styles</option>
                                <% data.forEach(function (item) { %>
                                    <%= item.name %>
                                        <option value="<%= item.id %>">
                                            <%= item.name %>: <%= item.name %>
                                        </option>
                                        <% })%>
                            </select>
                            <!---->
                        </div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Description: </label>
                        <div class="col s-12"><textarea 
                                id="exampleFormControlTextarea1" rows="3" name="description"
                                placeholder="Enter description category . . ."
                                class="form-input-textarea ng-pristine ng-valid ng-touched"></textarea></div>
                    </div>
                </div>
            </div>
            <div id="links" role="tabpanel" aria-labelledby="links-tab" class="tab-pane fade">
                <div class="m-2">
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Slug: </label>
                        <div class="col s-12"><input type="text" name="slug"
                                id="slug" placeholder="Slug . . ." oninvalid="invalidFunction(event, this.name)"
                                required="" class="form-input-text ng-untouched ng-pristine ng-invalid">
                            <!---->
                        </div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Icon: </label>
                        <div class="col s-12">
                            <div class="text-center border">
                                <!---->
                                <div class="image-preview mb-3 ng-star-inserted"><img
                                        
                                        src="https://img.icons8.com/ios/100/000000/medium-priority.png" id="imgg00"
                                        class="img-fluid m-4" style="width: 150px;"></div>
                                <!---->
                            </div>
                            <div class="custom-file"><input type="file"
                                    onchange="handleImgId(this.files, 'imgg00');
                                uploadFile('inputGroupFile01', 'categories');" name="path" id="inputGroupFile01"
                                    aria-describedby="inputGroupFileAddon01" accept="image/*"
                                    class="custom-file-input ng-untouched ng-pristine ng-valid"><label
                                    for="inputGroupFile01" class="custom-file-label">Choose
                                    file</label></div>
                        </div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> image Product: </label>
                        <div class="col s-12">
                            <div class="text-center border">
                                <!---->
                                <div class="image-preview mb-3 ng-star-inserted"><img
                                        
                                        src="https://img.icons8.com/ios/100/000000/medium-priority.png" id="imgg01"
                                        class="img-fluid m-4" style="width: 150px;"></div>
                                <!---->
                            </div>
                            <div class="custom-file"><input type="file"
                                    name="pathProduct" id="inputGroupFile01" onchange="handleImgId(this.files, 'imgg01');
                                    uploadFile('inputGroupFile01', 'categories');"
                                    aria-describedby="inputGroupFileAddon01" accept="image/*"
                                    class="custom-file-input ng-untouched ng-pristine ng-valid"><label
                                    for="inputGroupFile01" class="custom-file-label">Choose
                                    file</label></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="banners" role="tabpanel" aria-labelledby="banners-tab" class="tab-pane fade">
                <div class="m-2">
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Banner 1: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col">
                                        <div class="banner selected"><img 
                                                src="../../../../assets/icon/left.png" alt="" class="img-fluid"></div>
                                    </div>
                                    <div class="col">
                                        <div class="banner"><img 
                                                src="../../../../assets/icon/right.png" alt="" class="img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="text-center border">
                                <!---->
                                <div class="image-preview mb-3 ng-star-inserted"><img id="imgg2"
                                        
                                        src="https://img.icons8.com/carbon-copy/96/000000/image.png"
                                        class="img-fluid m-4" style="width: 150px;"></div>
                                <!---->
                            </div>
                            <div class="custom-file"><input type="file"
                                    onchange="handleImgId(this.files, 'imgg2');
                                uploadFile('inputGroupBanner1', 'categories');" name="banner_1" id="inputGroupBanner1"
                                    aria-describedby="inputGroupFileAddon01" accept="image/*"
                                    class="custom-file-input"><label for="inputGroupBanner1"
                                    class="custom-file-label">Choose file</label></div>
                        </div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Text Banner 1: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center"></div>
                        </div>
                        <div class="col-sm-12 col-md-8"><input type="text"
                                name="textBanner_1" placeholder="Enter text banner 1 . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid"></div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Description Banner 1: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center"></div>
                        </div>
                        <div class="col-sm-12 col-md-8"><textarea 
                                id="exampleFormControlTextarea1" rows="3" name="textDescriptionBanner_1"
                                placeholder="Enter description banner 1 . . ."
                                class="form-input-textarea ng-untouched ng-pristine ng-valid"></textarea></div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Url Banner 1: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center"></div>
                        </div>
                        <div class="col-sm-12 col-md-8"><input type="text"
                                name="urlBanner_1" placeholder="Enter url banner 1 . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid"></div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Banner 2: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col">
                                        <div class="banner"><img 
                                                src="../../../../assets/icon/left.png" alt="" class="img-fluid"></div>
                                    </div>
                                    <div class="col">
                                        <div class="banner selected"><img 
                                                src="../../../../assets/icon/right.png" alt="" class="img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="text-center border">
                                <!---->
                                <div class="image-preview mb-3 ng-star-inserted"><img id="imgg3"
                                        
                                        src="https://img.icons8.com/carbon-copy/96/000000/image.png"
                                        class="img-fluid m-4" style="width: 150px;"></div>
                                <!---->
                            </div>
                            <div class="custom-file"><input type="file"
                                    onchange="handleImgId(this.files, 'imgg3');
                                uploadFile('inputGroupBanner2', 'categories');" name="banner_2" id="inputGroupBanner2"
                                    aria-describedby="inputGroupFileAddon01" accept="image/*"
                                    class="custom-file-input"><label for="inputGroupBanner2"
                                    class="custom-file-label">Choose file</label></div>
                        </div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Text Banner 2: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center"></div>
                        </div>
                        <div class="col-sm-12 col-md-8"><input type="text"
                                name="textBanner_2" placeholder="Enter text banner 2 . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid"></div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Description Banner 2: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center"></div>
                        </div>
                        <div class="col-sm-12 col-md-8"><textarea 
                                id="exampleFormControlTextarea1" rows="3" name="textDescriptionBanner_2"
                                placeholder="Enter description banner 2 . . ."
                                class="form-input-textarea ng-untouched ng-pristine ng-valid"></textarea></div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Url Banner 2: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center"></div>
                        </div>
                        <div class="col-sm-12 col-md-8"><input type="text"
                                name="urlBanner_2" placeholder="Enter url banner 2 . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid"></div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Banner 3: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col">
                                        <div class="banner selected"><img 
                                                src="../../../../assets/icon/center.png" alt="" class="img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="text-center border">
                                <!---->
                                <div class="image-preview mb-3 ng-star-inserted"><img id="imgg4"
                                        
                                        src="https://img.icons8.com/carbon-copy/96/000000/image.png"
                                        class="img-fluid m-4" style="width: 150px;"></div>
                                <!---->
                            </div>
                            <div class="custom-file"><input type="file"
                                    onchange="handleImgId(this.files, 'imgg4');
                                uploadFile('inputGroupBanner3', 'categories');" name="banner_3" id="inputGroupBanner3"
                                    aria-describedby="inputGroupFileAddon01" accept="image/*"
                                    class="custom-file-input"><label for="inputGroupBanner3"
                                    class="custom-file-label">Choose file</label></div>
                        </div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Text Banner 3: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center"></div>
                        </div>
                        <div class="col-sm-12 col-md-8"><input type="text"
                                name="textBanner_3" placeholder="Enter text banner 3 . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid"></div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Description Banner 3: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center"></div>
                        </div>
                        <div class="col-sm-12 col-md-8"><textarea 
                                id="exampleFormControlTextarea1" rows="3" name="textDescriptionBanner_3"
                                placeholder="Enter description banner 3 . . ."
                                class="form-input-textarea ng-untouched ng-pristine ng-valid"></textarea></div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Url Banner 3: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center"></div>
                        </div>
                        <div class="col-sm-12 col-md-8"><input type="text"
                                name="urlBanner_3" placeholder="Enter url banner 3 . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid"></div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Banner 4: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col">
                                        <div class="banner selected"><img 
                                                src="../../../../assets/icon/left.png" alt="" class="img-fluid"></div>
                                    </div>
                                    <div class="col">
                                        <div class="banner"><img 
                                                src="../../../../assets/icon/right.png" alt="" class="img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="text-center border">
                                <!---->
                                <div class="image-preview mb-3 ng-star-inserted"><img id="imgg5"
                                        
                                        src="https://img.icons8.com/carbon-copy/96/000000/image.png"
                                        class="img-fluid m-4" style="width: 150px;"></div>
                                <!---->
                            </div>
                            <div class="custom-file"><input type="file"
                                    onchange="handleImgId(this.files, 'imgg5');
                                uploadFile('inputGroupBanner4', 'categories');" name="banner_4" id="inputGroupBanner4"
                                    aria-describedby="inputGroupFileAddon01" accept="image/*"
                                    class="custom-file-input"><label for="inputGroupBanner4"
                                    class="custom-file-label">Choose file</label></div>
                        </div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Text Banner 4: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center"></div>
                        </div>
                        <div class="col-sm-12 col-md-8"><input type="text"
                                name="textBanner_4" placeholder="Enter text banner 4 . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid"></div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Description Banner 4: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center"></div>
                        </div>
                        <div class="col-sm-12 col-md-8"><textarea 
                                id="exampleFormControlTextarea1" rows="3" name="textDescriptionBanner_4"
                                placeholder="Enter description banner 4 . . ."
                                class="form-input-textarea ng-untouched ng-pristine ng-valid"></textarea></div>
                    </div>
                    <div class="form-row mt-4"><label for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Url Banner 4: </label>
                        <div class="col-sm-12 col-md-2">
                            <div class="text-center"></div>
                        </div>
                        <div class="col-sm-12 col-md-8"><input type="text"
                                name="urlBanner_4" placeholder="Enter url banner 4 . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid"></div>
                    </div>
                </div>
            </div>
            <p style="color: red;" id="errorHeader"></p>
            <div class="d-flex flex-row-reverse bd-highlight mt-3">
                <div class="p-2 bd-highlight"><input type="reset"
                        value="Reset" class="btn btn-danger"></div>
                <div class="p-2 bd-highlight"><input type="submit"
                        class="btn btn-success" value="Save">
                    <app-loading _nghost-wkr-c56="" hidden=""><button _ngcontent-wkr-c56=""
                            type="button" class="btn btn-sending"><span _ngcontent-wkr-c56="" role="status"
                                aria-hidden="true" class="spinner-border spinner-border-sm"></span> Sending...
                        </button></app-loading>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {

        $('#name').on('change', function () {
            var slug = this.value;
            slug = slug.trimStart();
            slug = slug.trimEnd();
            slug = slug.replaceAll(/\s/g, '-');
            $('#slug').val(slug.toLowerCase());
        });
    });
</script>
