<div _ngcontent-ipx-c50="" class="bg-dark border shadow">
    <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
        <h4 _ngcontent-gak-c44="">
            <%= option %>
        </h4>
        <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2" href="/<%= view %>">
            <%= subtittle %>
        </a>
    </div>
    <h4 _ngcontent-ipx-c50="" class="text-center mt-3 mb-3">Select Sizes related to the type size you are editing</h4>
    <form _ngcontent-ipx-c50="" id="myform" class="m-2 ng-untouched ng-pristine ng-invalid" action="#" method="post">
        <div _ngcontent-ipx-c50="" class="row d-flex justify-content-center">
            <div _ngcontent-ipx-c50="" class="col-12">
                <div _ngcontent-ipx-c50="" role="alert" class="alert alert-warning" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-ipx-c50="" class="row d-flex justify-content-center">
            <div _ngcontent-ipx-c50="" class="col-12">
                <div _ngcontent-ipx-c50="" role="alert" class="alert alert-success" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-gak-c71="" class="form-row mt-4">
            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Sizes:</label>
            <div _ngcontent-gak-c71="" class="col s-12">
                <select class="select2 selectpicker bg-white border shadow " multiple name="sizeId" id="sizeId"
                    data-live-search="true" data-placeholder="Select Sizes">
                    <% data.sizes.forEach(function (item) { %>
                        <option value="<%= item.id %>" <%=item.selected %>>
                            <%= item.number %>
                        </option>
                        <% }) %>
                </select>
                <!---->
                <!---->
            </div>
        </div>

        <div _ngcontent-ipx-c50="" class="d-flex flex-row-reverse bd-highlight mt-3">
            <div _ngcontent-ipx-c50="" class="p-2 bd-highlight"><input _ngcontent-ipx-c50="" type="submit" value="Save"
                    class="btn btn-success">
                <app-loading _ngcontent-ipx-c50="" _nghost-ipx-c41="" hidden=""><button _ngcontent-ipx-c41=""
                        type="button" disabled="" class="btn btn-sending"><span _ngcontent-ipx-c41="" role="status"
                            aria-hidden="true" class="spinner-border spinner-border-sm"></span> Sending...
                    </button></app-loading>
            </div>
        </div>
    </form>
</div>