<style>
    .img-preview {
        height: 225px;
    }

    #drop_file_area {
        height: 100px;
        border: 2px dashed #ccc;
        line-height: 100px;
        text-align: center;
        font-size: 20px;
        background: #343a40;
        margin-bottom: 15px;

    }

    #drop_file_area.hover {
        height: 100px;
        border: 3px dashed #0c0;
        line-height: 100px;
        text-align: center;
        font-size: 20px;
        background: #343a40;
        margin-bottom: 15px;
    }

    .container {
        position: relative;
        width: 240px;
        max-width: 240px;
    }

    .container .btn {
        position: absolute;
        top: 10%;
        right: -5%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: red;
        font-size: 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

    .radio-principal {
        position: absolute;
        top: 225px;
        width: 80%;
        text-align: center;
    }

    #previews {
        display: flex;
        max-width: 200px;
        height: 200px;
        flex-wrap: wrap;
        overflow-x: auto;
        white-space: nowrap;
        box-sizing: border-box;

    }

    @media (orientation: landscape) {
        #previews {
            flex-direction: row;
        }
    }

    @media (orientation: portrait) {
        #previews {
            flex-direction: column;
        }
    }

    .horizontal-slide {
        height: 280px;
        margin: 0;
        padding: 0;
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
    }
</style>

<div class="container-fluid" id="main_content">
    <div _ngcontent-gak-c71="" class="bg-dark border shadow">
        <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
            <h4 _ngcontent-gak-c44="">
                <%= option %>
            </h4>
            <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2"
                href="/<%= view %>/all">
                <%= subtittle %>
            </a>
        </div>
        <form _ngcontent-gak-c71="" class="m-2 ng-untouched ng-pristine ng-invalid" action="/newProduct" id="myForm"
            name="myForm" method="POST">
            <div _ngcontent-gak-c71="" class="row d-flex justify-content-center">
                <div _ngcontent-gak-c71="" class="col-12">
                    <div _ngcontent-gak-c71="" role="alert" class="alert alert-warning" hidden=""> </div>
                </div>
            </div>

            <div _ngcontent-gak-c71="" class="row d-flex justify-content-center">
                <div _ngcontent-gak-c71="" class="col-12">
                    <div _ngcontent-gak-c71="" role="alert" class="alert alert-success" hidden=""> </div>
                </div>
            </div>
            <ul _ngcontent-gak-c71="" id="myTab" role="tablist" class="nav nav-tabs">
                <li _ngcontent-gak-c71="" class="nav-item"><a _ngcontent-gak-c71="" id="home-tab" data-toggle="tab"
                        href="#general" role="tab" aria-controls="home" aria-selected="true"
                        class="nav-link active">General</a>
                </li>
                <li _ngcontent-gak-c71="" class="nav-item"><a _ngcontent-gak-c71="" id="data-tab" data-toggle="tab"
                        href="#data" role="tab" aria-controls="data" aria-selected="false" class="nav-link">Data</a>
                </li>
                <li _ngcontent-gak-c71="" class="nav-item"><a _ngcontent-gak-c71="" id="links-tab" data-toggle="tab"
                        href="#links" role="tab" aria-controls="links" aria-selected="false" class="nav-link">Links</a>
                </li>
                <li _ngcontent-gak-c71="" class="nav-item"><a _ngcontent-gak-c71="" id="attributes-tab"
                        data-toggle="tab" href="#attributes" role="tab" aria-controls="attributes" aria-selected="false"
                        class="nav-link">Attributes</a></li>
                <li _ngcontent-gak-c71="" class="nav-item"><a _ngcontent-gak-c71="" id="images-tab" data-toggle="tab"
                        href="#images" role="tab" aria-controls="images" aria-selected="false" class="nav-link">Images
                        Metal Color</a></li>
                <!---->

                <li _ngcontent-gak-c71="" class="nav-item"><a _ngcontent-gak-c71="" id="imagesStoneColor-tab"
                        data-toggle="tab" href="#imagesStoneColor" role="tab" aria-controls="imagesStoneColor"
                        aria-selected="false" class="nav-link">Images Stone Color</a></li>
                <li _ngcontent-gak-c71="" class="nav-item"><a _ngcontent-gak-c71="" id="imagesStoneShape-tab"
                        data-toggle="tab" href="#imagesStoneShape" role="tab" aria-controls="imagesStoneShape"
                        aria-selected="false" class="nav-link">Images Stone Shape</a></li>
                <li _ngcontent-gak-c71="" class="nav-item"><a _ngcontent-gak-c71="" id="imagesStoneShapeColor-tab"
                        data-toggle="tab" href="#imagesStoneShapeColor" role="tab" aria-controls="imagesStoneShapeColor"
                        aria-selected="false" class="nav-link">Images Stone Shape Color</a></li>
                <li _ngcontent-gak-c71="" class="nav-item"><a _ngcontent-gak-c71="" id="imagesStoneSideColor-tab"
                        data-toggle="tab" href="#imagesStoneSideColor" role="tab" aria-controls="imagesStoneSideColor"
                        aria-selected="false" class="nav-link">Images Stone Side Color</a></li>
            </ul>

            <div _ngcontent-gak-c71="" id="myTabContent" class="tab-content">
                <div _ngcontent-gak-c71="" id="general" role="tabpanel" aria-labelledby="general-tab"
                    class="tab-pane fade show active">
                    <div _ngcontent-gak-c71="">
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Name: <span
                                    _ngcontent-gak-c71="" class="material-icons ml-2"
                                    style="font-size: 8px; color: red;">
                                    radio_button_checked </span></label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <div _ngcontent-gak-c71="" class="input-group">
                                    <input _ngcontent-gak-c71="" type="text" max="60" name="name" id="name"
                                        placeholder="Enter name . . ." maxlength="60"
                                        oninvalid="invalidFunction(event, this.name)" required=""
                                        class="form-input-text ng-untouched ng-pristine ng-invalid">
                                    <div _ngcontent-gak-c71="" class="input-group-append"><span _ngcontent-gak-c71=""
                                            id="countCharacters" class="input-group-text search">60</span></div>
                                </div>
                                <!---->
                            </div>
                        </div>

                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">
                                Short description: </label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <textarea _ngcontent-gak-c71="" name="shortDescription" cols="10" rows="4"
                                    placeholder="Enter short description . . ."
                                    class="form-input-textarea ng-untouched ng-pristine ng-valid"></textarea>
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">
                                Description: </label>
                            <div _ngcontent-gak-c71="" class="col s-12">

                                <textarea _ngcontent-gak-c71="" name="description" cols="10" rows="4"
                                    placeholder="Enter  description . . ."
                                    class="form-input-textarea ng-untouched ng-pristine ng-valid"></textarea>
                                <!---->

                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">
                                Publish: </label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <div _ngcontent-gak-c71="" class="text-left">
                                    <div _ngcontent-gak-c71="" class="custom-control custom-checkbox mr-sm-2"><input
                                            _ngcontent-gak-c71="" type="checkbox" name="publish"
                                            id="customControlAutosizing"
                                            class="custom-control-input ng-untouched ng-pristine ng-valid"><label
                                            _ngcontent-gak-c71="" for="customControlAutosizing"
                                            class="custom-control-label">Publish product</label></div>
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">
                                Google: </label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <div _ngcontent-gak-c71="" class="text-left">
                                    <div _ngcontent-gak-c71="" class="custom-control custom-checkbox mr-sm-2"><input
                                            _ngcontent-gak-c71="" type="checkbox" name="google"
                                            id="customControlGoogleAutosizing"
                                            class="custom-control-input ng-untouched ng-pristine ng-valid"><label
                                            _ngcontent-gak-c71="" for="customControlGoogleAutosizing"
                                            class="custom-control-label">Publish product on google products</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-gak-c71="" id="data" role="tabpanel" aria-labelledby="data-tab" class="tab-pane fade">
                    <div _ngcontent-gak-c71="" class="m-2">
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Local sku:
                                <span _ngcontent-gak-c71="" class="material-icons ml-2"
                                    style="font-size: 8px; color: red;">
                                    radio_button_checked </span></label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <input _ngcontent-gak-c71="" type="text" name="localSku" id="localSku"
                                    oninvalid="invalidFunction(event, this.name)" required
                                    placeholder="Enter local sku . . ."
                                    class="form-input-text ng-untouched ng-pristine ng-valid">
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Supplier
                                sku: <span _ngcontent-gak-c71="" class="material-icons ml-2"
                                    style="font-size: 8px; color: red;"> radio_button_checked </span></label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <input _ngcontent-gak-c71="" type="text" name="supplierSku" id="supplierSku"
                                    oninvalid="invalidFunction(event, this.name)" required
                                    placeholder="Enter supplier sku . . ."
                                    class="form-input-text ng-untouched ng-pristine ng-valid">
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Number
                                stones: <span _ngcontent-gak-c71="" class="material-icons ml-2"
                                    style="font-size: 8px; color: red;"> radio_button_checked </span></label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <input _ngcontent-gak-c71="" type="number" step="1" name="stoneNumber"
                                    oninvalid="invalidFunction(event, this.name)" required
                                    placeholder="Enter stone number . . ."
                                    class="form-input-text ng-untouched ng-pristine ng-valid">
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">
                                Stone center ctw: </label>
                            <div _ngcontent-gak-c71="" class="col s-12">

                                <div class="ng-select-container">
                                    <div class="ng-value-container">
                                        <select class="select2 selectpicker bg-white border shadow " multiple
                                            data-live-search="true" placeholder="Select stone centers" id="stoneCenters"
                                            name="stoneCenters[]">
                                            <% data.stoneCenters.forEach(function (item) { %>
                                                <option value="<%= item.id %>">
                                                    <%= item.name %> - <%= item.price.toFixed(2) %>$ <%=
                                                                item.description %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <!---->
                                        <!---->
                                    </div>
                                    <!---->
                                    <!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span>
                                </div>
                            </div>
                        </div>

                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">
                                Grams weight:
                                <span _ngcontent-gak-c71="" class="material-icons ml-2"
                                    style="font-size: 8px; color: red;">
                                    radio_button_checked </span>
                            </label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <input _ngcontent-gak-c71="" type="number" step="0.01" name="gramsWeight"
                                    oninvalid="invalidFunction(event, this.name)" required
                                    placeholder="Enter grams weight . . ."
                                    class="form-input-text ng-untouched ng-pristine ng-valid">
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">
                                Labor: </label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <input _ngcontent-gak-c71="" type="number" step="0.01" name="manufacturer"
                                    placeholder="Enter manufacturer . . ."
                                    class="form-input-text ng-untouched ng-pristine ng-valid">
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Discount %:
                                <span _ngcontent-gak-c71="" class="material-icons ml-2"
                                    style="font-size: 8px; color: red;">
                                    radio_button_checked </span></label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <input _ngcontent-gak-c71="" type="number" step="0.01" name="discount"
                                    oninvalid="invalidFunction(event, this.name)" required
                                    placeholder="Enter discount . . ."
                                    class="form-input-text ng-untouched ng-pristine ng-valid">
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-gak-c71="" id="links" role="tabpanel" aria-labelledby="links-tab" class="tab-pane fade">
                    <div _ngcontent-gak-c71="" class="m-2">
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Slug: <span
                                    _ngcontent-gak-c71="" class="material-icons ml-2"
                                    style="font-size: 8px; color: red;">
                                    radio_button_checked </span></label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <input _ngcontent-gak-c71="" type="text" name="slug" id="slug" placeholder="Slug . . ."
                                    oninvalid="invalidFunction(event, this.name)" required
                                    class="form-input-text ng-untouched ng-pristine ng-valid">
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Categories:
                                <span _ngcontent-gak-c71="" class="material-icons ml-2"
                                    style="font-size: 8px; color: red;">
                                    radio_button_checked </span></label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <div class="ng-select-container">
                                    <div class="ng-value-container">
                                        <select class="select2 selectpicker bg-white border shadow " multiple
                                            name="categories[]" id="categories" data-live-search="true"
                                            oninvalid="invalidFunction(event, this.name)" required
                                            placeholder="Select Categories">
                                            <% data.categories.forEach(function (item) { %>
                                                <option value="<%= item.id %>">
                                                    <%= item.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <!---->
                                        <!---->
                                    </div>
                                    <!---->
                                    <!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span>
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-gak-c71="" id="attributes" role="tabpanel" aria-labelledby="attributes-tab"
                    class="tab-pane fade">
                    <div _ngcontent-gak-c71="" class="m-2">
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">
                                Metal colors: </label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <ng-select _ngcontent-gak-c71="" role="listbox" bindlabel="name"
                                    placeholder="Select metal colors" appendto="body" multiple="true" name="metals"
                                    class="ng-select ng-select-multiple ng-select-searchable ng-select-clearable ng-untouched ng-pristine ng-valid">
                                    <div class="ng-select-container">
                                        <div class="ng-value-container">
                                            <select class="select2 selectpicker bg-white border shadow "
                                                name="metalColors[]" id="metalColors" multiple data-live-search="true"
                                                placeholder="Select Metal Colors" onchange="processAll();">
                                                <% data.metals.forEach(function (item) { %>
                                                    <option value="<%= item.id %>">
                                                        <%= item.name %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                            <!---->
                                            <!---->
                                        </div>
                                        <!---->
                                        <!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span>
                                    </div>
                                    <!---->
                                </ng-select>
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">
                                Stone Colors: </label>
                            <div _ngcontent-gak-c71="" class="col s-12">

                                <div class="ng-select-container">
                                    <div class="ng-value-container">
                                        <select class="select2 selectpicker bg-white border shadow "
                                            name="stoneColors[]" id="stoneColors" multiple data-live-search="true"
                                            onchange="processAll();" data-placeholder="Select Stone Colors">
                                            <% data.stoneColors.forEach(function (item) { %>
                                                <option value="<%= item.id %>">
                                                    <%= item.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                    <!---->
                                    <!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span>
                                </div>
                            </div>
                        </div>

                        <div id="stoneColors-C">
                        </div>

                        <!---->
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">
                                Stone Sides: </label>
                            <div _ngcontent-gak-c71="" class="col s-12">

                                <div class="ng-select-container">
                                    <div class="ng-value-container">
                                        <!---->
                                        <!---->
                                        <select class="select2 selectpicker bg-white border shadow "
                                            onchange="processAll();" name="stoneSides[]" id="stoneSides" multiple
                                            data-live-search="true" placeholder="Select stone sides">
                                            <% data.stoneSides.forEach(function (item) { %>
                                                <option value="<%= item.id %>">
                                                    <%= item.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="stoneSides-C">
                        </div>
                        <!---->
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">
                                Stone shapes: </label>
                            <div _ngcontent-gak-c71="" class="col s-12">

                                <div class="ng-select-container">
                                    <div class="ng-value-container">
                                        <select class="select2 selectpicker bg-white border shadow "
                                            onchange="processAll()" name="stoneShapes[]" id="stoneShapes" multiple
                                            data-live-search="true" placeholder="Select stone shapes">
                                            <% data.stoneShapes.forEach(function (item) { %>
                                                <option value="<%= item.id %>">
                                                    <%= item.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                    <!---->
                                    <!----><span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span>
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">
                                Sizes: </label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <ng-select _ngcontent-gak-c71="" role="listbox" bindlabel="name"
                                    placeholder="Select finger sizes" appendto="body" multiple="true"
                                    class="ng-select ng-select-multiple ng-select-searchable ng-select-clearable ng-untouched ng-pristine ng-valid">
                                    <div class="ng-select-container">
                                        <select class="select2 selectpicker bg-white border shadow " name="typeSizes[]"
                                            onchange="processAll()" id="typeSizes" multiple data-live-search="true"
                                            placeholder="Select stone shapes">
                                            <% data.typeSizes.forEach(function (item) { %>
                                                <option value="<%= item.id %>">
                                                    <%= item.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                    <!---->
                                </ng-select>
                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">
                                Extra Variation: </label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <ng-select _ngcontent-gak-c71="" role="listbox" bindlabel="name"
                                    placeholder="Select extra variation" appendto="body" name="extraVariation"
                                    class="ng-select ng-select-single ng-select-searchable ng-select-clearable ng-untouched ng-pristine ng-valid">
                                    <select class="select2 selectpicker bg-white border shadow "
                                        name="extraVariations[]" id="extraVariations" data-live-search="true"
                                        placeholder="Select Extra Variation">
                                        <% data.extraVariations.forEach(function (item) { %>
                                            <option value="<%= item.id %>">
                                                <%= item.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                    <!---->
                                </ng-select>
                            </div>
                            <div _ngcontent-gak-c71="" class="col s-12">

                                <select class="select2 selectpicker bg-white border shadow " name="variations[]"
                                    id="variations" multiple data-live-search="true" placeholder="Select Variation"
                                    onchange="processAll()">
                                    <% data.variations.forEach(function (item) { %>
                                        <option value="<%= item.id %>">
                                            <%= item.name %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Average
                                Width: <span _ngcontent-gak-c71="" class="material-icons ml-2"
                                    style="font-size: 8px; color: red;"> radio_button_checked </span></label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <input _ngcontent-gak-c71="" type="text" name="averageWidth"
                                    oninvalid="invalidFunction(event, this.name)" required
                                    placeholder="Average width . . ."
                                    class="form-input-text ng-untouched ng-pristine ng-valid">
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Finish:
                                <span _ngcontent-gak-c71="" class="material-icons ml-2"
                                    style="font-size: 8px; color: red;">
                                    radio_button_checked </span></label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <input _ngcontent-gak-c71="" type="text" name="finish" placeholder="Finish . . ."
                                    oninvalid="invalidFunction(event, this.name)" required
                                    class="form-input-text ng-untouched ng-pristine ng-valid">
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-gak-c71="" class="form-row mt-4">
                            <label _ngcontent-gak-c71="" for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Setting:
                                <span _ngcontent-gak-c71="" class="material-icons ml-2"
                                    style="font-size: 8px; color: red;">
                                    radio_button_checked </span></label>
                            <div _ngcontent-gak-c71="" class="col s-12">
                                <input _ngcontent-gak-c71="" type="text" name="setting" placeholder="Setting . . ."
                                    oninvalid="invalidFunction(event, this.name)" required
                                    class="form-input-text ng-untouched ng-pristine ng-valid">
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-gak-c71="" id="images" role="tabpanel" aria-labelledby="images-tab"
                    class="tab-pane fade">
                    <div _ngcontent-gak-c71="" class="m-2 border">
                        <!---->
                    </div>
                </div>
                <div _ngcontent-gak-c71="" id="imagesStoneColor" role="tabpanel" aria-labelledby="imagesStoneColor-tab"
                    class="tab-pane fade">
                    <div _ngcontent-gak-c71="" class="m-2 border">
                        <!---->
                    </div>
                </div>
                <div _ngcontent-gak-c71="" id="imagesStoneShape" role="tabpanel" aria-labelledby="imagesStoneShape-tab"
                    class="tab-pane fade">
                    <div _ngcontent-gak-c71="" class="m-2 border">
                        <!---->
                    </div>
                </div>
                <div _ngcontent-gak-c71="" id="imagesStoneShapeColor" role="tabpanel"
                    aria-labelledby="imagesStoneShapeColor-tab" class="tab-pane fade">
                    <div _ngcontent-gak-c71="" class="m-2 border">
                        <!---->
                    </div>
                </div>
                <div _ngcontent-gak-c71="" id="imagesStoneSideColor" role="tabpanel"
                    aria-labelledby="imagesStoneSideColor-tab" class="tab-pane fade">
                    <div _ngcontent-gak-c71="" class="m-2 border">
                        <!---->
                    </div>
                </div>
                <div _ngcontent-gak-c71="" class="text-left"></div>
                <p style="color: red;" id="errorHeader"></p>
                <br />
                <br />
                <div _ngcontent-gak-c71="" class="d-flex flex-row-reverse bd-highlight mt-3">
                    <div _ngcontent-gak-c71="" class="p-2 bd-highlight"><input _ngcontent-gak-c71="" type="reset"
                            value="Reset" class="btn btn-danger"></div>
                    <div _ngcontent-gak-c71="" class="p-2 bd-highlight">
                        <input _ngcontent-gak-c71="" type="submit" value="Save" onclick="verify(event)"
                            class="btn btn-success">
                        <app-loading _ngcontent-gak-c71="" _nghost-gak-c43="" hidden=""><button _ngcontent-gak-c43=""
                                type="button" disabled="" class="btn btn-sending"><span _ngcontent-gak-c43=""
                                    role="status" aria-hidden="true" class="spinner-border spinner-border-sm"></span>
                                Sending...
                            </button>
                        </app-loading>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationDialog"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationDialog">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the picture you selected?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnConfirm">Yes</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#countCharacters').html(60 - $('#name').val().length);
        $('#name').on('change, blur, keyup', function () {
            var slug = this.value;
            slug = slug.trimStart();
            slug = slug.trimEnd();
            slug = slug.replaceAll(/\s/g, '-');
            $('#slug').val(slug.toLowerCase());
            $('#countCharacters').html(60 - $(this).val().length);
        });
    });

    function verify(event) {
        event.preventDefault();
        $(".btn-success").prop('disabled', true);
        var slug = $('#slug').val();
        var localSku = $('#localSku').val();
        var supplierSku = $('#supplierSku').val();

        var check = true;
        var invalids = new Array();
        $('*[required]').each(function () {
            if ($(this).val().length < 1) {
                invalids.push($(this).attr('name'));
                check = false;
            }
        });
        if (!check) {
            snackbar.style = "background-color:  #f0ad4e;";
            snackbar.innerHTML = "Please fill all the required fields.<br/>Please validate " + invalids.join() + " fields";
            snackbar.className = "show";
            setTimeout(function () {
                snackbar.className = snackbar.className.replace("show", "");
            }, 5000);
        } else {
            $.post("../verifyProduct/" + slug + "/" + localSku + "/" + supplierSku,
                function (data) {
                    snackbar.style = "background-color: " + data.color;
                    snackbar.innerHTML = data.response;
                    snackbar.className = "show";
                    setTimeout(function () {
                        snackbar.className = snackbar.className.replace("show", "");
                    }, 5000);
                    setTimeout(function () {
                        if (data.color == "#00bc8c") {
                            $('#myForm').submit();
                        }
                    }, 4000);
                }
            );
        }

        $(".btn-success").prop('disabled', false);
    }

    var stoneSidesSelected = Array();

    function setSidesPriceCarat() {
        fillArrays();
        var stoneSidesDiv = $('#stoneSides-C');
        var html = "";
        var newStoneSidesSelected = new Array();
        stoneSides.forEach((element, index) => {
            newStoneSidesSelected.push('stonesides' + element.value);
        });

        stoneSides.forEach((element, index) => {
            if (!stoneSidesSelected.includes('stonesides' + element.value)) {
                html = '<div class="form-row mt-4" id="stonesides' + element.value + '">'
                    + '<label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"> '
                    + '<strong>' + element.label + '</strong>'
                    + '</label>'
                    + '<div  class="col-md-5 s-12">'
                    + '<input type="number" step="0.01" name="SidesPrice[]" id="SidesPrice" class="form-input-text" placeholder="' + element.label + ' price:"> '
                    + '</div>'
                    + '<div  class="col-md-5 s-12">'
                    + '<input  type="number" step="0.01" name="stoneSidesCarat[]" id="stoneSidesCarat" class="form-input-text" placeholder="' + element.label + ' carat:"> '
                    + '</div>'
                    + '</div>';
                stoneSidesDiv.append(html);

                if (!stoneSidesSelected.includes('stonesides' + element.value)) {
                    stoneSidesSelected.push('stonesides' + element.value);
                }
            }
        });
        const diff1 = stoneSidesSelected.diff(newStoneSidesSelected);
        diff1.forEach(element => {
            $("#" + element).remove();
            const index = stoneSidesSelected.indexOf(element);
            if (index > -1) {
                stoneSidesSelected.splice(index, 1);
            }
        });
    }

    var stoneColorsSelected = Array();

    function setPriceCarat() {
        fillArrays();
        var stoneColorsDiv = $('#stoneColors-C');
        var html = "";
        var newStoneColorsSelected = new Array();

        stoneColors.forEach((element, index) => {
            newStoneColorsSelected.push('stonecolors' + element.value);
        });

        stoneColors.forEach((element, index) => {
            if (!stoneColorsSelected.includes('stonecolors' + element.value)) {
                html = '<div class="form-row mt-4" id="stonecolors' + element.value + '">'
                    + '<label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"> '
                    + '<strong>' + element.label + '</strong>'
                    + '</label>'
                    + '<div  class="col-md-5 s-12">'
                    + '<input type="number" step="0.01" name="stoneColorPrice[]" id="stoneColorPrice" class="form-input-text" placeholder="' + element.label + ' price:"> '
                    + '</div>'
                    + '<div  class="col-md-5 s-12">'
                    + '<input  type="number" step="0.01" name="stoneColorCarat[]" id="stoneColorCarat" class="form-input-text" placeholder="' + element.label + ' carat:"> '
                    + '</div>'
                    + '</div>';
                stoneColorsDiv.append(html);

                if (!stoneColorsSelected.includes('stonecolors' + element.value)) {
                    stoneColorsSelected.push('stonecolors' + element.value);
                }
            }
        });
        let diff1 = stoneColorsSelected.diff(newStoneColorsSelected);
        diff1.forEach(element => {
            $("#" + element).remove();
            const index = stoneColorsSelected.indexOf(element);
            if (index > -1) {
                stoneColorsSelected.splice(index, 1);
            }
        });

    }

    Array.prototype.diff = function (a) {
        return this.filter(function (i) { return a.indexOf(i) < 0; });
    };

    var metalsSelected = Array();
    var imagesStoneColorsSelected = Array();
    function processMetals() {
        fillArrays();
        var imagesMetal = $("#images");
        var newImagesMetalSelected = new Array();

        metalColors.forEach((element, index) => {
            var html = '<div class="m-2" id="metalcolorsimgs' + element.value + '">';
            newImagesMetalSelected.push('metalcolorsimgs' + element.value);
            if (!metalsSelected.includes('metalcolorsimgs' + element.value)) {
                html += '<div>';
                html += '<div>';
                html += '<div class="row">' +
                    '    <div class="col-sm-12 bg-img">\n' +
                    '        <p class="m-2 title-metal text-center">\n' +
                    '            <strong>Metal: ' + element.label + '</strong>' +
                    '        </p>\n' +
                    '        <div >\n' +
                    '            <div >\n' +
                    '<div id="actions" class="row"> ' +
                    '<div id="drop_file_area" class="col fileinput-button drop_file_area" ondragleave="dragLeave(event, this)"' +
                    'ondragover="allowDrop(event, this)"' +
                    ' ondrop="drop(event,\'imgMetalColor' + element.value + '\', this, \'metalIcon' + element.value + '\', \'products\', \'metalIconPrincipal\',' + element.value + ')" >  ' +
                    'DRAG AND DROP ZONE ' +
                    '</div> ' +
                    '</div> ' +
                    '                <div  class="form-row">\n' +
                    '                    <div  class="col-md-12 col-sm-12 gal-img">\n' +
                    '                        <div class="img-content m-2 ">\n' +
                    '                            <div  class="img-fluid mt-2 img img-preview previews" style="width:100%;max-width:100%;"> ' +
                    '<ul id="imgMetalColor' + element.value + '" class="list-group list-group-horizontal image-preview mb-3  horizontal-slide" > ' +
                    '</div>\n' +
                    '                        </div>\n' +
                    '                    </div>\n' +
                    '                    <!---->\n' +
                    '                </div>\n' +
                    '            </div>\n' +
                    '            <!---->\n' +
                    '        </div>\n' +
                    '    </div><input name="imagesIndex[]" value="' + element.value + '" style="display:none" />\n' +
                    '    <div class="col-sm-2 d-flex align-items-center justify-content-center"  >\n' +
                    '</div>' +
                    '</div></div></div><br/><br/>' +
                    '<div style="display:;" >' +
                    '<input style="display: none" id="metalIcon' + element.value + '" name="metalIcon[]" />' +
                    '</div></div> ';

                if (!metalsSelected.includes('metalcolorsimgs' + element.value)) {
                    metalsSelected.push('metalcolorsimgs' + element.value);
                    imagesMetal.append(html);
                }
            }
        });

        let diff1 = metalsSelected.diff(newImagesMetalSelected);
        diff1.forEach(element => {
            $("#" + element).remove();
            const index = metalsSelected.indexOf(element);
            if (index > -1) {
                metalsSelected.splice(index, 1);
            }
        });

        var imagesStoneColorDiv = $('#imagesStoneColor');
        var newImagesstoneColorsSelected = Array();

        metalColors.forEach((elemen, ind) => {
            stoneColors.forEach((element, index) => {
                newImagesstoneColorsSelected.push('imgsStoneColor' + elemen.value + '' + element.value);
                if (!imagesStoneColorsSelected.includes('imgsStoneColor' + elemen.value + '' + element.value)) {
                    var indice = elemen.value + '' + element.value;
                    var value = elemen.value + "-" + element.value;
                    html = '<div  class="m-2" id="imgsStoneColor' + elemen.value + '' + element.value + '">';
                    html += '<div >';
                    html += '<p  class="m-2 title-stone-shape text-left"><strong>Metal: ' + elemen.label + '</strong></p>';
                    html += '<div >';
                    html += '<div  class="row">\n' +
                        '    <div  class="col-sm-12 bg-img">\n' +
                        '        <p  class="m-2 title-metal text-center">\n' +
                        '           <strong> Stone Color: ' + element.label + '</strong>\n' +
                        '        </p>\n' +

                        ///aqui comienza la vista para el drag and drop
                        '<div id="actions" class="form-row col-md-12 col-sm-12"> ' +
                        ' <div id="drop_file_area" class="col fileinput-button drop_file_area" ondragleave="dragLeave(event, this)" ondragover="allowDrop(event, this)"' +
                        ' ondrop="drop(event,\'imgStoneC' + indice + '\', this, \'stoneColoricon' + indice + '\', \'products\', \'stoneColoriconPrincipal\',' + indice + ')"> ' +
                        'DRAG AND DROP ZONE ' +
                        '</div> ' +
                        '</div> ' +
                        '<div  class="form-row">' +
                        '<div  class="col-md-12 col-sm-12 gal-img">' +
                        '<div class="img-content m-2 ">' +
                        '<div  class="img-fluid mt-2 img img-preview previews" style="width:100%;max-width:100%;"> ' +
                        '<ul id="imgStoneC' + indice + '" class="list-group list-group-horizontal image-preview mb-3  horizontal-slide" > ' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<input name="imagesStoneColorIndex[]" value="' + value + '" style="display:none" />' +
                        '</div></div></div><br/><br/>' +
                        '<div  >' +
                        '<input style="display: none;" id="stoneColoricon' + indice + '" name="stoneColoricon[]" />' +
                        '</div></div>';

                    html += '</div></div>';
                    if (!imagesStoneColorsSelected.includes('imgsStoneColor' + elemen.value + '' + element.value)) {
                        imagesStoneColorDiv.append(html);
                        imagesStoneColorsSelected.push('imgsStoneColor' + elemen.value + '' + element.value);
                    }
                }

            });
            diff1 = imagesStoneColorsSelected.diff(newImagesstoneColorsSelected);

            diff1.forEach(element => {
                $("#" + element).remove();
                const index = imagesStoneColorsSelected.indexOf(element);
                if (index > -1) {
                    imagesStoneColorsSelected.splice(index, 1);
                }
            });
        });
    }

    var combinationSelected = new Array();
    function processStones() {
        fillArrays();
        var newCombinationSelected = new Array();
        var imagesStoneSideColorDiv = $('#imagesStoneSideColor');
        stoneSides.forEach((ele, i) => {
            metalColors.forEach((elem, ind) => {
                stoneColors.forEach((element, index) => {
                    newCombinationSelected.push('combination' + ele.value + "" + elem.value + "" + element.value);
                });
            });
        });
        var html = '';
        var html2 = '';
        var html3 = '';
        stoneSides.forEach((elem, i) => {
            html = '<div class="m-2" id="combinacionnew">  '
                + '<p  class="m-2 title-stone-shape text-left"><strong>Side stones: ' + elem.label + '</strong></p>'
                + '<div >';
            metalColors.forEach((elemen, ind) => {
                html2 = html + '<div  id="metals' + elem.value + '">'
                    + '<p  class="m-2 title-stone-shape text-left"><br/><strong>METAL: ' + elemen.label + '</strong></p>'
                    + '<div >';
                stoneColors.forEach((element, index) => {
                    var indice = elem.value + '' + elemen.value + '' + element.value;
                    var value = elem.value + '-' + elemen.value + '-' + element.value;
                    html3 = html2 + '<div  class="row">\n' +
                        '    <div  class="col-sm-12 bg-img">\n' +
                        '        <p  class="m-2 title-metal text-center">\n' +
                        '           <strong> Stone Diamond: ' + element.label + '</strong>\n' +
                        '        </p>\n' +
                        ///aqui comienza la vista para el drag and drop
                        '<div id="actions" class="form-row col-md-12 col-sm-12"> ' +
                        ' <div id="drop_file_area" class="col fileinput-button drop_file_area" ondragleave="dragLeave(event, this)" ondragover="allowDrop(event, this)"' +
                        ' ondrop="drop(event,\'imgStoneSideColor' + indice + '\', this, \'stoneSideColoricon' + indice + '\', \'products\', \'stoneSideColoriconPrincipal\',' + indice + ')"> ' +
                        'DRAG AND DROP ZONE ' +
                        '</div> ' +
                        '</div> ' +
                        '<div  class="form-row">' +
                        '<div  class="col-md-12 col-sm-12 gal-img">' +
                        '<div class="img-content m-2 ">' +
                        '<div  class="img-fluid mt-2 img img-preview previews" style="width:100%;max-width:100%;"> ' +
                        '<ul id="imgStoneSideColor' + indice + '" class="list-group list-group-horizontal image-preview mb-3  horizontal-slide" > ' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<input name="imagesStoneSideColorIndex[]" value="' + value + '" style="display:none" />' +
                        '</div></div></div><br/><br/>' +
                        '<div  >' +
                        '<input style="display: none;" id="stoneSideColoricon' + indice + '" name="stoneSideColoricon[]" />' +
                        '</div></div>';
                    //aqui termina
                    html3 += '</div></div></div>';

                    if (!combinationSelected.includes('combination' + indice)) {
                        html3 = html3.replace('combinacionnew', 'combination' + indice);
                        combinationSelected.push('combination' + indice);
                        imagesStoneSideColorDiv.append(html3);
                    }
                });
                html2 = "";
            });
            html1 = "";
        });
        const diff1 = combinationSelected.diff(newCombinationSelected);
        diff1.forEach(element => {
            $("#" + element).remove();
            const index = combinationSelected.indexOf(element);
            if (index > -1) {
                combinationSelected.splice(index, 1);
            }
        });

    }

    var divImagesStoneShape = $("#imagesStoneShape");

    var ImagesStoneShapeSelected = Array();
    var ImagesStoneShapeColorSelected = new Array();


    function processShapes() {
        fillArrays();
        var newImagesStoneShapeSelected = Array();
        stoneShapes.forEach((elemen, ind) => {
            metalColors.forEach((element, index) => {
                var indice = elemen.value + '' + element.value;
                var value = elemen.value + "-" + element.value;
                var html = '<div id="ImagesStoneShape' + elemen.value + "" + element.value + '" >';
                html += '<p  class="m-2 title-stone-shape text-left"><strong>Shape: ' + elemen.label + '</strong></p>';
                html += '<div >';
                newImagesStoneShapeSelected.push('ImagesStoneShape' + elemen.value + "" + element.value);

                html += '<div  class="row">\n' +
                    '    <div  class="col-sm-12 bg-img">\n' +
                    '        <p  class="m-2 title-metal text-center">\n' +
                    '           <strong> Stone Color: ' + element.label + '</strong>\n' +
                    '        </p>\n' +

                    ///aqui comienza la vista para el drag and drop
                    '<div id="actions" class="form-row col-md-12 col-sm-12"> ' +
                    ' <div id="drop_file_area" class="col fileinput-button drop_file_area" ondragleave="dragLeave(event, this)" ondragover="allowDrop(event, this)"' +
                    ' ondrop="drop(event,\'imgStoneShape' + indice + '\', this, \'stoneShapeIcon' + indice + '\', \'products\', \'stoneShapeIconPrincipal\',' + indice + ')"> ' +
                    'DRAG AND DROP ZONE ' +
                    '</div> ' +
                    '</div> ' +
                    '<div  class="form-row">' +
                    '<div  class="col-md-12 col-sm-12 gal-img">' +
                    '<div class="img-content m-2 ">' +
                    '<div  class="img-fluid mt-2 img img-preview previews" style="width:100%;max-width:100%;"> ' +
                    '<ul id="imgStoneShape' + indice + '" class="list-group list-group-horizontal image-preview mb-3  horizontal-slide" > ' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<input name="stoneShapeIndex[]" value="' + value + '" style="display:none" />' +
                    '</div></div></div><br/><br/>' +
                    '<div  >' +
                    '<input style="display: none;" id="stoneShapeIcon' + indice + '" name="stoneShapeIcon[]" />' +
                    '</div></div>'
                    //aqui termina

                    + '</div></div>';
                if (!ImagesStoneShapeSelected.includes('ImagesStoneShape' + elemen.value + "" + element.value)) {
                    ImagesStoneShapeSelected.push('ImagesStoneShape' + elemen.value + "" + element.value);
                    divImagesStoneShape.append(html);
                }
            });

        });

        let diff1 = ImagesStoneShapeSelected.diff(newImagesStoneShapeSelected);
        diff1.forEach(element => {
            $("#" + element).remove();
            const index = ImagesStoneShapeSelected.indexOf(element);
            if (index > -1) {
                ImagesStoneShapeSelected.splice(index, 1);
            }
        });
        var divImagesStoneShapeColor = $("#imagesStoneShapeColor");

        var combinationImageStoneSelected = Array();
        stoneShapes.forEach((ele, i) => {
            metalColors.forEach((elem, ind) => {
                stoneColors.forEach((element, index) => {
                    combinationImageStoneSelected.push('combinationShapeMetalColor' + ele.value + "" + elem.value + "" + element.value);
                });
            });
        });
        var html = '';
        var html2 = '';
        var html3 = '';

        stoneShapes.forEach((elem, i) => {
            html = '<div  class="m-2" id="combinationShapeMetalColornew"> '
                + '<p  class="m-2 title-stone-shape text-left"><strong>Shape: ' + elem.label + '</strong></p>'
                + '<div >';
            metalColors.forEach((elemen, ind) => {
                html2 = html + '<div >'
                    + '<p  class="m-2 title-stone-shape text-left"><br/><strong>METAL: ' + elemen.label + '</strong></p>'
                    + '<div >';
                stoneColors.forEach((element, index) => {
                    var indice = elem.value + '' + elemen.value + '' + element.value;
                    var value = elem.value + '-' + elemen.value + '-' + element.value;
                    html3 = html2 + '<div  class="row">\n' +
                        '    <div  class="col-sm-12 bg-img">\n' +
                        '        <p  class="m-2 title-metal text-center">\n' +
                        '           <strong>Stone Shape Color: ' + element.label + '</strong>\n' +
                        '        </p>\n' +

                        ///aqui comienza la vista para el drag and drop
                        '<div id="actions" class="form-row col-md-12 col-sm-12"> ' +
                        ' <div id="drop_file_area" class="col fileinput-button drop_file_area" ondragleave="dragLeave(event, this)" ondragover="allowDrop(event, this)"' +
                        ' ondrop="drop(event,\'imgstoneshapecolors' + indice + '\', this, \'stoneShapeCicon' + indice + '\', \'products\', \'stoneShapeCiconPrincipal\',' + indice + ')"> ' +
                        'DRAG AND DROP ZONE ' +
                        '</div> ' +
                        '</div> ' +
                        '<div  class="form-row">' +
                        '<div  class="col-md-12 col-sm-12 gal-img">' +
                        '<div class="img-content m-2 ">' +
                        '<div  class="img-fluid mt-2 img img-preview previews" style="width:100%;max-width:100%;"> ' +
                        '<ul id="imgstoneshapecolors' + indice + '" class="list-group list-group-horizontal image-preview mb-3  horizontal-slide" > ' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<input name="stoneShapeCIndex[]" value="' + value + '" style="display:none" />' +
                        '</div></div></div><br/><br/>' +
                        '<div  >' +
                        '<input style="display: none;" id="stoneShapeCicon' + indice + '" name="stoneShapeCicon[]" />' +
                        '</div></div>';
                    //aqui termina
                    html3 += '</div></div></div>';
                    var combinacion = 'combinationShapeMetalColor' + elem.value + "" + elemen.value + "" + element.value;

                    if (!ImagesStoneShapeColorSelected.includes(combinacion)) {
                        html3 = html3.replaceAll('combinationShapeMetalColornew', combinacion);
                        ImagesStoneShapeColorSelected.push(combinacion);
                        divImagesStoneShapeColor.append(html3);
                    }
                });
                html2 = "";
            });
            html = "";
        });
        var diff2 = ImagesStoneShapeColorSelected.diff(combinationImageStoneSelected);
        diff2.forEach(element => {
            $("#" + element).remove();
            const index = ImagesStoneShapeColorSelected.indexOf(element);
            if (index > -1) {
                ImagesStoneShapeColorSelected.splice(index, 1);
            }
        });
    }

</script>

<script>
    var stoneColors = Array();
    var stoneSides = Array();

    var stoneCenterctw = Array();
    var categories = Array();

    var metalColors = Array();
    var stoneShapes = Array();
    var typeSizes = Array();
    var extraVariations = Array();
    var variations = Array();

    function fillArrays() {
        var element = document.getElementById('stoneCenters');
        stoneCenterctw = getArrays(element);
        element = document.getElementById('categories');
        categories = getArrays(element);

        element = document.getElementById('metalColors');
        metalColors = getArrays(element);
        element = document.getElementById('stoneColors');
        stoneColors = getArrays(element);
        element = document.getElementById('stoneSides');
        stoneSides = getArrays(element);
        element = document.getElementById('stoneShapes');
        stoneShapes = getArrays(element);
        element = document.getElementById('typeSizes');
        typeSizes = getArrays(element);
        element = document.getElementById('extraVariations');
        extraVariations = getArrays(element);
        element = document.getElementById('variations');
        variations = getArrays(element);
    }

    function getArrays(element) {
        var array = Array();
        for (var j = 0; j < element.children.length; j++) {
            var child = element.children[j];
            if (child.selected == true) {
                array.push(child);
            }
        }
        return array;
    }

    function processAll() {
        processStones();
        processShapes();
        processMetals();
        setPriceCarat();
        setSidesPriceCarat()
    }

    function allowDrop(event, input) {
        event.preventDefault();
        event.stopPropagation();
        input.classList.add("hover");
    }

    function dragLeave(event, input) {
        event.preventDefault();
        event.stopPropagation();
        input.classList.remove("hover");
    }
    function drop(event, id, div, input, type, submitName, index) {
        event.preventDefault();
        event.stopPropagation();
        var snackbar = document.getElementById("snackbar");
        div.classList.remove("hover");
        $(".btn-success").prop('disabled', true);
        handleImgsById(event.dataTransfer.files, id, submitName, input, index);

        var formData = new FormData();
        for (var i = 0; i < event.dataTransfer.files.length; i++) {
            formData.append(input, event.dataTransfer.files[i]); // since inputs allow multi files submission, therefore files are in array
        }
        readfiles(event.dataTransfer.files, input);
        $.ajax({
            type: "POST",
            url: "../uploadFile/" + type,
            data: formData,
            processData: true,  // tell jQuery not to process the data
            success: function (data) {
                $(".btn-success").prop('disabled', false);
                snackbar.innerHTML = "The image(s) has been sucessfully uploaded...";
                snackbar.className = "show";
                setTimeout(function () {
                    snackbar.className = snackbar.className.replace("show", "");
                }, 5000);
            },
            error: function (error) {
                console.log(xhttp.status);
            },
            async: true,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            timeout: 60000
        });
    }


    function readfiles(files, id) {
        let text = "";
        let input = $("#" + id);
        for (var i = 0; i < files.length; i++) {
            text += files[i].name += ",";
            /*
            if (i != files.length - 1) {
                text += ",";
            }
            */
        }
        input.val(input.val() + text);
    }


    function deletePicture(event, li, input) {
        event.preventDefault();
        var value = $(li).attr('id');
        var element = $("#" + input);
        $("#confirmationModal").modal('show');
        $("#btnConfirm").on('click', function () {
            $(li).remove();
            element.val(element.val().replaceAll(value + ",", ""));
            $("#confirmationModal").modal('hide');
            snackbar.innerHTML = "The image has been deleted...";
            snackbar.className = "show";
            setTimeout(function () {
                snackbar.className = snackbar.className.replace("show", "");
            }, 3000);
        })

    }

    $(document).ready(function () {
        $("html").on("dragover", function (e) {
            e.preventDefault();
            e.stopPropagation();
        });

        $("html").on("drop", function (e) {
            e.preventDefault();
            e.stopPropagation();
        });
    });
</script>