<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
  <%- include('../partials/css') %>

</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    <%- include('../partials/navigation') %>
      <%- include('../partials/sidebar') %>
        <div class="content-wrapper">
          <%- include('../partials/header') %>
            <section class="content">
              <%- include('editContent') %>
            </section>

            <div id="snackbar">
            </div>
        </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
        <%- include('../partials/footer') %>
  </div>
  <%- include('../partials/js') %>
</body>

</html>