<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    .img-preview {
        height: 225px;
    }

    #drop_file_area {
        height: 100px;
        border: 2px dashed #ccc;
        line-height: 100px;
        text-align: center;
        font-size: 20px;
        background: #343a40;
        margin-bottom: 15px;

    }

    #drop_file_area.hover {
        height: 100px;
        border: 3px dashed #0c0;
        line-height: 100px;
        text-align: center;
        font-size: 20px;
        background: #343a40;
        margin-bottom: 15px;
    }

    .container {
        position: relative;
        width: 240px;
        max-width: 240px;
    }

    .container .btn {
        position: absolute;
        top: 10%;
        right: -5%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: red;
        font-size: 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

    .radio-principal {
        position: absolute;
        top: 225px;
        width: 80%;
        text-align: center;
    }

    #previews {
        display: flex;
        max-width: 200px;
        height: 200px;
        flex-wrap: wrap;
        overflow-x: auto;
        white-space: nowrap;
        box-sizing: border-box;

    }

    @media (orientation: landscape) {
        #previews {
            flex-direction: row;
        }
    }

    @media (orientation: portrait) {
        #previews {
            flex-direction: column;
        }
    }

    .horizontal-slide {
        height: 280px;
        margin: 0;
        padding: 0;
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
    }
</style>

<div class="bg-dark border shadow">
    <div class="form-header d-flex align-items-center justify-content-between border">
        <h4>
            <%= option %>
        </h4>
        <a routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2" href="/<%= view %>">
            <%= subtittle %>
        </a>
    </div>
    <form id="myform" class="m-2 ng-untouched ng-pristine ng-valid" method="POST" action="/newCenterShapes">
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <div role="alert" class="alert alert-warning" hidden=""> </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <div role="alert" class="alert alert-success" hidden=""> </div>
            </div>
        </div>
        <ul id="myTab" role="tablist" class="nav nav-tabs">
            <li class="nav-item"><a id="home-tab" data-toggle="tab" href="#data" role="tab" aria-controls="home"
                    aria-selected="true" class="nav-link active">Data</a>
            </li>
            <li class="nav-item"><a id="data-tab" data-toggle="tab" href="#images" role="tab" aria-controls="images"
                    aria-selected="false" class="nav-link">Images</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div id="data" role="tabpanel" aria-labelledby="data-tab" class="tab-pane fade active show">
                <div class="m-2"><label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">
                        Products: </label>
                    <select name="productId" id="productId" class="select2"
                        oninvalid="invalidFunction(event, this.name)" required data-placeholder="Select a Product"
                        style="width: 100%;">
                        <% data.products.forEach(function (item) { %>
                            <%= item.name %>
                                <option value="<%= item.id %>-<%= item.localSku %>">
                                    <%= item.name %>
                                </option>
                                <% })%>
                    </select>
                    <div>
                        <div class="form-row mt-4"><label for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm"> Stone shapes:
                            </label>
                            <div class="col s-12">
                                <select name="stoneShapes" id="stoneShapes" class="select2" multiple="multiple"
                                    oninvalid="invalidFunction(event, this.name)" required
                                    data-placeholder="Select a stone shape" style="width: 100%;">
                                    <% data.stoneShapes.forEach(function (item) { %>
                                        <%= item.name %>
                                            <option value="<%= item.id %>">
                                                <%= item.name %>
                                            </option>
                                            <% })%>
                                </select>
                            </div>
                        </div>

                        <div class="form-row mt-4"><label for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm"> Metal colors:
                            </label>

                            <div class="col s-12">
                                <select name="metals" id="metals" class="select2" multiple="multiple"
                                    oninvalid="invalidFunction(event, this.name)" required
                                    data-placeholder="Select metal color" style="width: 100%;">
                                    <% data.metals.forEach(function (item) { %>
                                        <%= item.name %>
                                            <option value="<%= item.id %>">
                                                <%= item.name %>
                                            </option>
                                            <% })%>
                                </select>
                            </div>
                        </div>

                        <div class="form-row mt-4"><label for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm"> Stone center
                                ctw: </label>
                            <div class="col s-12">
                                <select name="stonceCenters" id="stonceCenters" class="select2" multiple="multiple"
                                    oninvalid="invalidFunction(event, this.name)" required
                                    data-placeholder="Select a stone centers" style="width: 100%;">
                                    <option value="" disabled=""> Select stone centers</option>
                                    <% data.stoneCenter.forEach(function (item) { %>
                                        <%= item.name %>
                                            <option value="<%= item.id %>">
                                                <%= item.name %> - <%= item.price %>$ <%= item.description %>
                                            </option>
                                            <% })%>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <p style="color: red;" id="errorHeader"></p>
            <div id="images" role="tabpanel" aria-labelledby="images-tab" class="tab-pane fade">
            </div>
            <div class="d-flex flex-row-reverse bd-highlight mt-3">
                <!---->
                <div class="p-2 bd-highlight">
                    <input type="reset" value="Reset" class="btn btn-danger">
                </div>
                <div class="p-2 bd-highlight">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>

    </form>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationDialog"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationDialog">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the picture you selected?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnConfirm">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    let indexStoneShape = Array();
    let indexMetals = Array();
    let indexCenter = Array();
    $(document).ready(function () {
        $("form").change(function () {
            makeStoneCentersInfo();
        });
    });
    var metals = document.getElementById('metals');
    var stoneShapes = document.getElementById('stoneShapes');
    var stoneCenters = document.getElementById('stonceCenters');

    var selectedElements = Array();
    var selectedShapes = Array();
    var selectedCenters = Array();

    var div = $('#images');
    var combinationSelected = Array();

    function makeStoneCentersInfo() {
        selectedElements = Array();
        for (var j = 0; j < metals.children.length; j++) {
            var child = metals.children[j];
            if (child.selected == true) {
                selectedElements.push(child);
            }
        }
        selectedShapes = Array();
        for (var j = 0; j < stoneShapes.children.length; j++) {
            var child = stoneShapes.children[j];
            if (child.selected == true) {
                selectedShapes.push(child);
            }
        }
        selectedCenters = Array();
        for (var j = 0; j < stoneCenters.children.length; j++) {
            var child = stoneCenters.children[j];
            if (child.selected == true) {
                selectedCenters.push(child);
            }
        }
        buildNewDiv();
    }


    Array.prototype.diff = function (a) {
        return this.filter(function (i) { return a.indexOf(i) < 0; });
    };

    function buildNewDiv() {
        var newCombinationSelected = new Array();

        selectedShapes.forEach((ele, i) => {
            selectedElements.forEach((elem, ind) => {
                selectedCenters.forEach((element, index) => {
                    newCombinationSelected.push('combination' + ele.value + "" + elem.value + "" + element.value);
                });
            });
        });
        var html = '';
        var html2 = '';
        var html3 = '';
        var ic = 1;
        selectedShapes.forEach((ele, i) => {
            html = '<div class="m-2" id="combinacionnew"> '
                + '<p xclass="m-2 title-stone-shape text-left">'
                + '<strong>Shape: ' + ele.label + '</strong>'
                + '</p>'
                + '<div>';
            selectedElements.forEach((elem, ind) => {
                html2 = html + '<div id="metals' + elem.value + '">'
                    + '<p class="m-2 title-metals text-left">'
                    + '<strong>Metal: ' + elem.label + '</strong></p>'
                    + '<div>';
                selectedCenters.forEach((element, index) => {
                    var indice = ele.value + "" + elem.value + "" + element.value;
                    var value = ele.value + "-" + elem.value + "-" + element.value;
                    html3 = html2 + '<div id="centers' + elem.value + '" class="row">'
                        + '<div  class="col-sm-12 bg-img">'
                        + '<p class="m-2 title-centers text-left">'
                        + element.label
                        + '</p>'
                        ///aqui comienza la vista para el drag and drop
                        + '<div id="actions" class="form-row col-md-12 col-sm-12"> ' +
                        ' <div id="drop_file_area" class="col fileinput-button drop_file_area" ondragleave="dragLeave(event, this)" ondragover="allowDrop(event, this)"' +
                        ' ondrop="drop(event,\'imgg' + indice + '\', this, \'icon' + indice + '\', \'products\', \'iconPrincipal\',' + indice + ')"> ' +
                        'DRAG AND DROP ZONE ' +
                        '</div> ' +
                        '</div> ' +
                        '<div  class="form-row">' +
                        '<div  class="col-md-12 col-sm-12 gal-img">' +
                        '<div class="img-content m-2 ">' +
                        '<div  class="img-fluid mt-2 img img-preview previews" style="width:100%;max-width:100%;"> ' +
                        '<ul id="imgg' + indice + '" class="list-group list-group-horizontal image-preview mb-3  horizontal-slide" > ' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<input name="index[]" value="' + value + '" style="display:none" />' +
                        '</div></div></div><br/><br/>' +
                        '<div  >' +
                        '<input style="display: none;" id="icon' + indice + '" name="icon[]" />' +

                        '</div></div>'

                        //hasta aqui
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + "</div>";

                    if (!combinationSelected.includes('combination' + ele.value + "" + elem.value + "" + element.value)) {
                        html3 = html3.replace('combinacionnew', 'combination' + ele.value + "" + elem.value + "" + element.value);
                        combinationSelected.push('combination' + ele.value + "" + elem.value + "" + element.value);
                        div.append(html3);
                    }
                });

            });
        });


        const diff1 = combinationSelected.diff(newCombinationSelected);
        console.log(diff1);
        diff1.forEach(element => {
            $("#" + element).remove();
            const index = combinationSelected.indexOf(element);
            if (index > -1) {
                combinationSelected.splice(index, 1);
            }
        });
    }

    window.onload = function () {
        buildNewDiv();
    }
</script>

<script>
    function allowDrop(event, input) {
        event.preventDefault();
        event.stopPropagation();
        input.classList.add("hover");
    }

    function dragLeave(event, input) {
        event.preventDefault();
        event.stopPropagation();
        input.classList.remove("hover");
    }
    function drop(event, id, div, input, type, submitName, index) {
        event.preventDefault();
        event.stopPropagation();
        var snackbar = document.getElementById("snackbar");
        div.classList.remove("hover");
        $(".btn-success").prop('disabled', true);
        handleImgsById(event.dataTransfer.files, id, submitName, input, index);

        var formData = new FormData();
        for (var i = 0; i < event.dataTransfer.files.length; i++) {
            formData.append(input, event.dataTransfer.files[i]); // since inputs allow multi files submission, therefore files are in array
        }
        readfiles(event.dataTransfer.files, input);
        $.ajax({
            type: "POST",
            url: "../uploadFile/" + type,
            data: formData,
            processData: true,  // tell jQuery not to process the data
            success: function (data) {
                $(".btn-success").prop('disabled', false);
                snackbar.innerHTML = "The image(s) has been sucessfully uploaded...";
                snackbar.className = "show";
                setTimeout(function () {
                    snackbar.className = snackbar.className.replace("show", "");
                }, 5000);
            },
            error: function (error) {
                console.log(xhttp.status);
            },
            async: true,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            timeout: 60000
        });
    }


    function readfiles(files, id) {
        let text = "";
        let input = $("#" + id);
        for (var i = 0; i < files.length; i++) {
            text += files[i].name += ",";
            /*
            if (i != files.length - 1) {
                text += ",";
            }
            */
        }
        input.val(input.val() + text);
    }

    function deletePicture(event, li, input) {
        event.preventDefault();
        var value = $(li).attr('id');
        var element = $("#" + input);
        $("#confirmationModal").modal('show');
        $("#btnConfirm").on('click', function () {
            $(li).remove();
            element.val(element.val().replaceAll(value + ",", ""));
            $("#confirmationModal").modal('hide');
            snackbar.innerHTML = "The image has been deleted...";
            snackbar.className = "show";
            setTimeout(function () {
                snackbar.className = snackbar.className.replace("show", "");
            }, 3000);
        })

    }

    $(document).ready(function () {
        $("html").on("dragover", function (e) {
            e.preventDefault();
            e.stopPropagation();
        });

        $("html").on("drop", function (e) {
            e.preventDefault();
            e.stopPropagation();
        });
    });
</script>