<div _ngcontent-rht-c61="" class="bg-dark border shadow">
    <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
        <h4 _ngcontent-gak-c44="">
            <%= option %>
        </h4>
        <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2"
            href="/<%= view %>/all">
            <%= subtittle %>
        </a>
    </div>
    <h4 _ngcontent-rht-c61="" class="text-center mt-3 mb-3">Data</h4>
    <form _ngcontent-rht-c61="" id="myform" class="m-2 ng-dirty ng-valid ng-touched" method="POST" action="#">
        <div _ngcontent-rht-c61="" class="row d-flex justify-content-center">
            <div _ngcontent-rht-c61="" class="col-12">
                <div _ngcontent-rht-c61="" role="alert" class="alert alert-warning" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-rht-c61="" class="row d-flex justify-content-center">
            <div _ngcontent-rht-c61="" class="col-12">
                <div _ngcontent-rht-c61="" role="alert" class="alert alert-success" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-rht-c61="" class="form-row mt-4"><label _ngcontent-rht-c61="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Name: </label>
            <div _ngcontent-rht-c61="" class="col s-12"><input _ngcontent-rht-c61="" type="text"
                    value="<%= data.name %>" name="name" placeholder="Enter name . . ." required=""
                    class="form-input-text ng-dirty ng-valid ng-touched">
                <!---->
            </div>
        </div>
        <div _ngcontent-rht-c61="" class="form-row mt-4"><label _ngcontent-rht-c61="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Description: </label>
            <div _ngcontent-rht-c61="" class="col s-12"><textarea _ngcontent-rht-c61="" name="description" cols="10"
                    rows="4" placeholder="Enter description . . ."
                    class="form-input-textarea ng-valid ng-dirty ng-touched"><%= data.description %></textarea>
                <!---->
            </div>
        </div>
        <input _ngcontent-ipx-c50="" type="text" name="createdAt" value="<%= data.createdAt %>"
            placeholder="Enter createdAt . . ." required="" style="display: none;"
            class="form-input-text ng-untouched ng-pristine ng-invalid">
        <div _ngcontent-rht-c61="" class="d-flex flex-row-reverse bd-highlight mt-3">
            <div _ngcontent-rht-c61="" class="p-2 bd-highlight"><input _ngcontent-rht-c61="" type="reset" value="Reset"
                    class="btn btn-danger"></div>
            <div _ngcontent-rht-c61="" class="p-2 bd-highlight"><input _ngcontent-rht-c61="" type="submit" value="Save"
                    class="btn btn-success">
                <app-loading _ngcontent-rht-c61="" _nghost-rht-c56="" hidden=""><button _ngcontent-rht-c56=""
                        type="button" disabled="" class="btn btn-sending"><span _ngcontent-rht-c56="" role="status"
                            aria-hidden="true" class="spinner-border spinner-border-sm"></span> Sending...
                    </button></app-loading>
            </div>
        </div>
    </form>
</div>