<div class="container-fluid" id="main_content">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Create order</h5>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <!-- /.col -->
                  <div class="col-md-12 mx-auto">
                      <div _ngcontent-ovg-c54="" class="bg-dark border shadow">
                          <form _ngcontent-ovg-c54="" novalidate="" class="m-2 ng-untouched ng-pristine ng-valid">
                              <div _ngcontent-ovg-c54="" class="row d-flex justify-content-center">
                                  <div _ngcontent-ovg-c54="" class="col-12">
                                      <div _ngcontent-ovg-c54="" role="alert" class="alert alert-warning" hidden="">  </div>
                                  </div>
                              </div>
                              <div _ngcontent-ovg-c54="" class="row d-flex justify-content-center">
                                  <div _ngcontent-ovg-c54="" class="col-12">
                                      <div _ngcontent-ovg-c54="" role="alert" class="alert alert-success" hidden="">  </div>
                                  </div>
                              </div>
                              <ul _ngcontent-ovg-c54="" id="myTab" role="tablist" class="nav nav-tabs">
                                  <li _ngcontent-ovg-c54="" class="nav-item"><a _ngcontent-ovg-c54="" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true" class="nav-link active">General</a></li>
                                  <li _ngcontent-ovg-c54="" class="nav-item"><a _ngcontent-ovg-c54="" id="shipping-address-tab" data-toggle="tab" href="#shipping-address" role="tab" aria-controls="shipping-address" aria-selected="false" class="nav-link">Shipping Address</a></li>
                                  <li _ngcontent-ovg-c54="" class="nav-item"><a _ngcontent-ovg-c54="" id="billing-address-tab" data-toggle="tab" href="#billing-address" role="tab" aria-controls="billing-address" aria-selected="false" class="nav-link">Billing Address</a></li>
                                  <li _ngcontent-ovg-c54="" class="nav-item"><a _ngcontent-ovg-c54="" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products" aria-selected="false" class="nav-link">Products</a></li>
                                  <!---->
                              </ul>
                              <div _ngcontent-ovg-c54="" id="myTabContent" class="tab-content">
                                  <div _ngcontent-ovg-c54="" id="general" role="tabpanel" aria-labelledby="general-tab" class="tab-pane fade show active">
                                      <div _ngcontent-ovg-c54="" class="m-2">
                                          <div _ngcontent-ovg-c54="" class="form-row mt-4">
                                              <label _ngcontent-ovg-c54="" for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> First Name: <span _ngcontent-ovg-c54="" class="material-icons ml-2" style="font-size: 8px; color: red;"> radio_button_checked </span></label>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <input _ngcontent-ovg-c54="" type="text" name="order.first_name" placeholder="Enter first name . . ." class="form-input-text ng-untouched ng-pristine ng-valid"><!---->
                                              </div>
                                          </div>
                                          <div _ngcontent-ovg-c54="" class="form-row mt-4">
                                              <label _ngcontent-ovg-c54="" for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Last Name: <span _ngcontent-ovg-c54="" class="material-icons ml-2" style="font-size: 8px; color: red;"> radio_button_checked </span></label>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <input _ngcontent-ovg-c54="" type="text" name="order.last_name" placeholder="Enter last name . . ." class="form-input-text ng-untouched ng-pristine ng-valid"><!---->
                                              </div>
                                          </div>
                                          <div _ngcontent-ovg-c54="" class="form-row mt-4">
                                              <label _ngcontent-ovg-c54="" for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Email: <span _ngcontent-ovg-c54="" class="material-icons ml-2" style="font-size: 8px; color: red;"> radio_button_checked </span></label>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <input _ngcontent-ovg-c54="" type="text" name="order.email" placeholder="Enter email . . ." class="form-input-text ng-untouched ng-pristine ng-valid"><!---->
                                              </div>
                                          </div>
                                          <div _ngcontent-ovg-c54="" class="form-row mt-4">
                                              <label _ngcontent-ovg-c54="" for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Phone: <span _ngcontent-ovg-c54="" class="material-icons ml-2" style="font-size: 8px; color: red;"> radio_button_checked </span></label>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <input _ngcontent-ovg-c54="" type="text" name="order.phone" placeholder="Enter phone . . ." class="form-input-text ng-untouched ng-pristine ng-valid"><!---->
                                              </div>
                                          </div>
                                          <div _ngcontent-ovg-c54="" class="form-row mt-4">
                                              <label _ngcontent-ovg-c54="" for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Notes: </label>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <div _ngcontent-ovg-c54="" class="form-group"><textarea _ngcontent-ovg-c54="" name="notes" id="" rows="3" placeholder="Notes (Optional) . . ." class="form-input-textarea ng-untouched ng-pristine ng-valid">                                    </textarea></div>
                                                  <!---->
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div _ngcontent-ovg-c54="" id="shipping-address" role="tabpanel" aria-labelledby="shipping-address-tab" class="tab-pane fade">
                                      <div _ngcontent-ovg-c54="" class="m-2">
                                          <div _ngcontent-ovg-c54="" class="form-row mt-4">
                                              <label _ngcontent-ovg-c54="" for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Shipping address line1: <span _ngcontent-ovg-c54="" class="material-icons ml-2" style="font-size: 8px; color: red;"> radio_button_checked </span></label>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <input _ngcontent-ovg-c54="" type="text" name="order.shipping_address_line1" placeholder="Enter shipping address line1 . . ." class="form-input-text ng-untouched ng-pristine ng-valid"><!---->
                                              </div>
                                          </div>
                                          <div _ngcontent-ovg-c54="" class="form-row mt-4">
                                              <label _ngcontent-ovg-c54="" for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Shipping address line2: </label>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <input _ngcontent-ovg-c54="" type="text" name="order.shipping_address_line2" placeholder="Enter shipping address line2 . . ." class="form-input-text ng-untouched ng-pristine ng-valid"><!---->
                                              </div>
                                          </div>
                                          <div _ngcontent-ovg-c54="" class="form-row mt-4">
                                              <label _ngcontent-ovg-c54="" for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Country: <span _ngcontent-ovg-c54="" class="material-icons ml-2" style="font-size: 8px; color: red;"> radio_button_checked </span></label>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <div _ngcontent-ovg-c54="" class="input-group">
                                                      <select _ngcontent-ovg-c54="" name="shipping_country" aria-label="Select Country" class="form-input-select ng-untouched ng-pristine ng-valid">
                                                          <option _ngcontent-ovg-c54="" value="" selected="" disabled>Select Country </option>
                                                          <% if ( countries ){ %>
                                                              <% countries.forEach(function (item) { %>
                                                                  <option _ngcontent-ovg-c54="" value="<%= item.name %>"> <%= item.name %></option>
                                                          <% }) }%>
                                                          <!---->
                                                      </select>
                                                  </div>
                                                  <!---->
                                              </div>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <input _ngcontent-ovg-c54="" type="text" name="shipping_city" aria-describedby="City" placeholder="City" class="form-input-text ng-untouched ng-pristine ng-valid"><!---->
                                              </div>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <input _ngcontent-ovg-c54="" type="text" name="shipping_zip_code" aria-describedby="shipping_zip_code" placeholder="Zip" maxlength="7" class="form-input-text ng-untouched ng-pristine ng-valid"><!---->
                                              </div>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <div _ngcontent-ovg-c54="" class="input-group">
                                                      <select _ngcontent-ovg-c54="" name="shipping_state" aria-label="Select State/Province" class="form-input-select ng-untouched ng-pristine ng-valid">
                                                          <option _ngcontent-ovg-c54="" value="" selected="" disabled>Select State</option>
                                                          <% if ( states ){ %>
                                                              <% states.forEach(function (item) { %>
                                                                  <option _ngcontent-ovg-c54="" value="<%= item.name %>"> <%= item.name %></option>
                                                          <% }) }%>
                                                          <!---->
                                                      </select>
                                                  </div>
                                                  <!---->
                                              </div>
                                          </div>
                                          <div _ngcontent-ovg-c54="" class="form-row mt-4">
                                              <div _ngcontent-ovg-c54="" class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"></div>
                                              <div _ngcontent-ovg-c54="" class="col">
                                                  <div _ngcontent-ovg-c54="" class="custom-control custom-checkbox ml-2"><input _ngcontent-ovg-c54="" type="checkbox" id="customControlAutosizing" name="use_address" class="custom-control-input ng-untouched ng-pristine ng-valid"><label _ngcontent-ovg-c54="" for="customControlAutosizing" class="custom-control-label"> Use this address for billing. </label></div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div _ngcontent-ovg-c54="" id="billing-address" role="tabpanel" aria-labelledby="billing-address-tab" class="tab-pane fade">
                                      <div _ngcontent-ovg-c54="" class="m-2">
                                          <div _ngcontent-ovg-c54="" class="form-row mt-4">
                                              <label _ngcontent-ovg-c54="" for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Billing address line1: <span _ngcontent-ovg-c54="" class="material-icons ml-2" style="font-size: 8px; color: red;"> radio_button_checked </span></label>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <input _ngcontent-ovg-c54="" type="text" name="order.billing_address_line1" placeholder="Enter billing address line1 . . ." class="form-input-text ng-untouched ng-pristine ng-valid"><!---->
                                              </div>
                                          </div>
                                          <div _ngcontent-ovg-c54="" class="form-row mt-4">
                                              <label _ngcontent-ovg-c54="" for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Billing address line2: </label>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <input _ngcontent-ovg-c54="" type="text" name="order.billing_address_line2" placeholder="Enter billing address line2 . . ." class="form-input-text ng-untouched ng-pristine ng-valid"><!---->
                                              </div>
                                          </div>
                                          <div _ngcontent-ovg-c54="" class="form-row mt-4">
                                              <label _ngcontent-ovg-c54="" for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Country: <span _ngcontent-ovg-c54="" class="material-icons ml-2" style="font-size: 8px; color: red;"> radio_button_checked </span></label>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <div _ngcontent-ovg-c54="" class="input-group">
                                                      <select _ngcontent-ovg-c54="" name="billing_country" aria-label="Select Country" class="form-input-select ng-untouched ng-pristine ng-valid">
                                                          <option _ngcontent-ovg-c54="" value="" selected="" disabled>Select Country </option>
                                                          <% if ( countries ){ %>
                                                              <% countries.forEach(function (item) { %>
                                                                  <option _ngcontent-ovg-c54="" value="<%= item.name %>"> <%= item.name %></option>
                                                          <% }) }%>
                                                          <!---->
                                                      </select>
                                                  </div>
                                                  <!---->
                                              </div>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <input _ngcontent-ovg-c54="" type="text" name="billing_city" aria-describedby="City" placeholder="City" class="form-input-text ng-untouched ng-pristine ng-valid"><!---->
                                              </div>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <input _ngcontent-ovg-c54="" type="text" name="billing_zip_code" aria-describedby="billing_zip_code" placeholder="Zip" maxlength="7" class="form-input-text ng-untouched ng-pristine ng-valid"><!---->
                                              </div>
                                              <div _ngcontent-ovg-c54="" class="col s-12">
                                                  <div _ngcontent-ovg-c54="" class="input-group">
                                                      <select _ngcontent-ovg-c54="" name="billing_state" aria-label="Select State/Province" class="form-input-select ng-untouched ng-pristine ng-valid">
                                                          <option _ngcontent-ovg-c54="" value="" selected="" disabled>Select State</option>
                                                          <% if ( states ){ %>
                                                              <% states.forEach(function (item) { %>
                                                                  <option _ngcontent-ovg-c54="" value="<%= item.name %>"> <%= item.name %></option>
                                                          <% }) }%>
                                                          <!---->
                                                      </select>
                                                  </div>
                                                  <!---->
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div _ngcontent-ovg-c54="" id="products" role="tabpanel" aria-labelledby="products-tab" class="tab-pane fade">
                                      <div _ngcontent-ovg-c54="" class="m-2">
                                          <div _ngcontent-ovg-c54="" class="form-row mt-4">
                                              <label _ngcontent-ovg-c54="" for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm d-flex align-items-center"> Product: <button _ngcontent-ovg-c54="" type="button" data-toggle="modal" data-target="#searchProductModal" class="btn btn-info ml-4"> Search Product </button></label>
                                              <div _ngcontent-ovg-c54="" class="col s-12"><input _ngcontent-ovg-c54="" type="text" name="product.name" placeholder="Enter name" disabled="" class="form-input-text ng-untouched ng-pristine"></div>
                                          </div>
                                          <!---->
                                      </div>
                                  </div>
                                  <div _ngcontent-ovg-c54="" id="shopping-cart" role="tabpanel" aria-labelledby="shopping-cart-tab" class="tab-pane fade">
                                      <div _ngcontent-ovg-c54="" class="m-2">
                                          <app-shopping-cart _ngcontent-ovg-c54="" _nghost-ovg-c45="">
                                              <!---->
                                          </app-shopping-cart>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                    <!-- /.progress-group -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

      </div>