<div class="container-fluid" id="main_content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">All countries</h5>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <!-- /.col -->
            <div class="col-md-12 mx-auto table-responsive p-0">

              <% if (msg=='error' ) { %>
                <p style="color: #e74c3c;"
                    class="border border-red-500 background-red-100 text-red-500 p-3 mt-5 text-center error">
                    There was an error on the delete attempt, details:<br/>
                    <strong>This country has one or more states related to, it can not be deleted.</strong> 
                </p>
                  
                <% } %>

              <div _ngcontent-qte-c40="" class="search input-group p-4 d-flex justify-content-center">
                <input _ngcontent-qte-c40="" type="search" id="search" placeholder="Buscar   .  .  .  .  ."
                  class="ng-pristine ng-valid ng-touched">
                <button _ngcontent-qte-c40="" type="button" class="btn btn-secondary"><i _ngcontent-qte-c40=""
                    class="material-icons">search</i>
                </button>
              </div>

              <div class="scroll1">
                <div class="div1"></div>
              </div>
              <div class="scroll2">
                <table _ngcontent-qte-c40="" class="table table-hover text-nowrap no-cellpadding">
                  <thead _ngcontent-qte-c40="">
                    <tr _ngcontent-qte-c40="">
                      <th _ngcontent-qte-c40="" scope="col">#</th>
                      <th _ngcontent-qte-c40="" scope="col">Name</th>
                      <th _ngcontent-qte-c40="" scope="col">Currency</th>
                      <th _ngcontent-qte-c40="" scope="col">Created</th>
                      <th _ngcontent-qte-c40="" scope="col">Updated</th>
                      <th _ngcontent-qte-c40="" scope="col">Options</th>
                    </tr>
                  </thead>
                  <tbody id="listingTable" _ngcontent-qte-c40="">
                    <% if ( !countries ){ %>
                      <tr _ngcontent-qte-c40="">
                        <td _ngcontent-qte-c40="" colspan="4" scope="col">There is no countries available</td>
                      </tr>
                      <% } else { %>
                        <% countries.forEach(function (item) { %>
                          <tr _ngcontent-qte-c40="">
                            <td _ngcontent-qte-c40="" scope="col">
                              <%= item.id %>
                            </td>
                            <td _ngcontent-qte-c40="" scope="col">
                              <%= item.name %>
                            </td>
                            <td _ngcontent-qte-c40="" scope="col">
                              <%= item.currency %>
                            </td>
                            <td _ngcontent-qte-c40="" scope="col">
                              <%= item.createdAt %>
                            </td>
                            <td _ngcontent-qte-c40="" scope="col">
                              <%= item.updatedAt %>
                            </td>
                            <td _ngcontent-qte-c40="" scope="col">
                              <div _ngcontent-yil-c42="" class="text-center">
                                <a _ngcontent-yil-c42="" class="btn btn-info mr-2" title="<%= item.name %>"
                                  href="/editCountries/<%= item.id %>">
                                  <i _ngcontent-yil-c42="" class="material-icons">border_color</i>
                                </a>
                                <a _ngcontent-yil-c42="" data-confirm="Are you sure?" title="<%= item.name %>"
                                  href="/deleteCountry/<%= item.id %>">
                                  <button _ngcontent-yil-c42="" class="btn btn-danger">
                                    <i _ngcontent-yil-c42="" class="material-icons">delete_forever</i>
                                  </button>
                                </a>
                              </div>
                            </td>
                          </tr>
                          <% })} %>
                  </tbody>
                </table>
                <center>
                  <a href="javascript:prevPage()" id="btn_prev">Prev</a>
                  <strong> Page:</strong> <span id="page"></span>
                  <a href="javascript:nextPage()" id="btn_next">Next</a>
                </center>
              </div>
              <!-- /.progress-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</div>
<app-delete _ngcontent-vgi-c40="" _nghost-vgi-c39="">
  <div _ngcontent-vgi-c39="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    class="modal fade" style="display: none;" aria-hidden="true">
    <div _ngcontent-vgi-c39="" role="document" class="modal-dialog">
      <div _ngcontent-vgi-c39="" class="modal-content">
        <div _ngcontent-vgi-c39="" class="modal-header">
          <h5 _ngcontent-vgi-c39="" id="exampleModalLabel" class="modal-title">Delete client!</h5>
          <button _ngcontent-vgi-c39="" type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span _ngcontent-vgi-c39="" aria-hidden="true">×</span>
          </button>
        </div>
        <div _ngcontent-vgi-c39="" class="modal-body">
          <p _ngcontent-vgi-c39="">Surely I would like to delete the client <b
              _ngcontent-vgi-c39="">gbc93@hotmail.com</b> ?</p>
          <p _ngcontent-vgi-c39="">Email: gbc93@hotmail.com</p>
        </div>
        <div _ngcontent-vgi-c39="" class="modal-footer">
          <button _ngcontent-vgi-c39="" type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
          <button _ngcontent-vgi-c39="" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</app-delete>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
  $(document).ready(function () {
    $(function () {
      $('.scroll1').on('scroll', function (e) {
        $('.scroll2').scrollLeft($('.scroll1').scrollLeft());
      });
      $('.scroll2').on('scroll', function (e) {
        $('.scroll1').scrollLeft($('.scroll2').scrollLeft());
      });
    });

    $('.div1').width($('table').width());

  });
</script>