<div class="container-fluid" id="main_content">
    <div _ngcontent-yil-c44="" class="bg-dark border shadow">
        <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
            <h4 _ngcontent-gak-c44="">
                <%= option %>
            </h4>
            <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2"
                href="/<%= view %>/all">
                <%= subtittle %>
            </a>
        </div>
        <h4 _ngcontent-yil-c44="" class="text-center mt-3 mb-3">Data</h4>
        <form _ngcontent-yil-c44="" novalidate="" id="myform" name="myform" action="#" method="POST"
            class="m-2 ng-untouched ng-pristine ng-invalid">
            <div _ngcontent-yil-c44="" class="row d-flex justify-content-center">
                <div _ngcontent-yil-c44="" class="col-12">
                    <div _ngcontent-yil-c44="" role="alert" class="alert alert-warning" hidden=""> </div>
                </div>
            </div>
            <div _ngcontent-yil-c44="" class="row d-flex justify-content-center">
                <div _ngcontent-yil-c44="" class="col-12">
                    <div _ngcontent-yil-c44="" role="alert" class="alert alert-success" hidden=""> </div>
                </div>
            </div>

            <div _ngcontent-yil-c44="" class="form-row mt-4">
                <label _ngcontent-yil-c44="" for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">
                    Name: </label>
                <div _ngcontent-yil-c44="" class="col s-12">
                    <input _ngcontent-yil-c44="" type="text" id="name" name="name" placeholder="Enter name . . ."
                        required="true" class="form-input-text ng-untouched ng-pristine ng-invalid"
                        value="<%= data.name %>" />
                    <!---->
                    <input _ngcontent-yil-c44="" type="text" name="id" style="display:none"
                        class="form-input-text ng-untouched ng-pristine ng-invalid" value="<%= data.id %>" />
                    <input _ngcontent-yil-c44="" type="text" name="updatedAt" placeholder="Enter name . . ." required=""
                        style="display:none" class="form-input-text ng-untouched ng-pristine ng-invalid"
                        value="<%= data.updatedAt %>" />
                    <input _ngcontent-yil-c44="" type="text" name="createdAt" placeholder="Enter name . . ." required=""
                        style="display:none" class="form-input-text ng-untouched ng-pristine ng-invalid"
                        value="<%= data.createdAt %>" />

                </div>
            </div>
            <div _ngcontent-yil-c44="" class="form-row mt-4">
                <label _ngcontent-yil-c44="" for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">
                    Currency: </label>
                <div _ngcontent-yil-c44="" class="col s-12">
                    <input _ngcontent-yil-c44="" type="text" id="currency" name="currency"
                        placeholder="Enter currency . . ." required="true"
                        class="form-input-text ng-untouched ng-pristine ng-invalid" value="<%= data.currency %>" />
                    <!---->
                </div>
            </div>
            <div _ngcontent-yil-c44="" class="d-flex flex-row-reverse bd-highlight mt-3">
                <div _ngcontent-yil-c44="" class="p-2 bd-highlight">
                    <input _ngcontent-yil-c44="" type="reset" value="Reset" class="btn btn-danger">
                </div>
                <div _ngcontent-yil-c44="" class="p-2 bd-highlight">
                    <input _ngcontent-yil-c44="" type="submit" value="Save" class="btn btn-success">
                    <app-loading _ngcontent-yil-c44="" _nghost-yil-c43="" hidden="">
                        <button _ngcontent-yil-c43="" type="button" disabled="" class="btn btn-sending">
                            <span _ngcontent-yil-c43="" role="status" aria-hidden="true"
                                class="spinner-border spinner-border-sm"></span> Sending...
                        </button>
                    </app-loading>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        if ($(this).val().length == 0 && $("#name").val().length == 0) {
            $(".btn-success").prop("disabled", true);
        } else {
            $(".btn-success").prop("disabled", false);
        }
        $("#currency").on("change paste keyup", function () {
            if ($(this).val().length > 0 && $("#name").val().length > 0) {
                $(".btn-success").prop("disabled", false);
            } else {
                $(".btn-success").prop("disabled", true);
            }
        });

        $("#name").on("change paste keyup", function () {
            if ($(this).val().length > 0 && $("#currency").val().length > 0) {
                $(".btn-success").prop("disabled", false);
            } else {
                $(".btn-success").prop("disabled", true);
            }
        });

        $(".btn-danger").on("click", function () {
            $(".btn-success").prop("disabled", true);
        });
    });
</script>