<div _ngcontent-osd-c47="" class="bg-dark border shadow">
    <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
        <h4 _ngcontent-gak-c44="">
            <%= option %>
        </h4>
        <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2"
            href="/<%= view %>">
            <%= subtittle %>
        </a>
    </div>
    <h4 _ngcontent-osd-c47="" class="text-center mt-3 mb-3">Data</h4>
    <form _ngcontent-osd-c47="" id="myform" class="m-2 ng-untouched ng-pristine ng-valid" method="POST" action="#"> 
        <div _ngcontent-osd-c47="" class="row d-flex justify-content-center">
            <div _ngcontent-osd-c47="" class="col-12">
                <div _ngcontent-osd-c47="" role="alert" class="alert alert-warning" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-osd-c47="" class="row d-flex justify-content-center">
            <div _ngcontent-osd-c47="" class="col-12">
                <div _ngcontent-osd-c47="" role="alert" class="alert alert-success" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-osd-c47="" class="form-row mt-4"><label _ngcontent-osd-c47="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Name: </label>
            <div _ngcontent-osd-c47="" class="col s-12"><input _ngcontent-osd-c47="" type="text" name="name" value="<%= data.name %>"
                    placeholder="Enter shape . . ." required=""
                    class="form-input-text ng-untouched ng-pristine ng-valid">
                <!---->
            </div>
        </div>
        <div _ngcontent-osd-c47="" class="form-row mt-4"><label _ngcontent-osd-c47="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Size: </label>
            <div _ngcontent-osd-c47="" class="col s-12"><input _ngcontent-osd-c47="" type="text" name="size" value="<%= data.size %>"
                    placeholder="Enter size . . ." required=""
                    class="form-input-text ng-untouched ng-pristine ng-valid">
                <!---->
            </div>
        </div>
        <div _ngcontent-osd-c47="" class="form-row mt-4"><label _ngcontent-osd-c47="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Price: </label>
            <div _ngcontent-osd-c47="" class="col s-12"><input _ngcontent-osd-c47="" type="number" name="price" value="<%= data.price %>"
                    placeholder="Enter price . . ." required=""
                    class="form-input-text ng-untouched ng-pristine ng-valid">
                <!---->
            </div>
        </div>
        <div _ngcontent-osd-c47="" class="form-row mt-4"><label _ngcontent-osd-c47="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Description: </label>
            <div _ngcontent-osd-c47="" class="col s-12">
                <textarea _ngcontent-osd-c47="" name="description"
                    cols="10" rows="4" placeholder="Enter stone color description . . ." 
                    class="form-input-textarea ng-untouched ng-pristine ng-valid"><%= data.description %></textarea>
                <!---->
            </div>
        </div>
        <div _ngcontent-osd-c47="" class="form-row mt-4"><label _ngcontent-osd-c47="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Icon: </label>
            <div _ngcontent-osd-c47="" class="col s-12">
                <div _ngcontent-osd-c47="" class="text-center border">
                    <!---->
                    <div _ngcontent-osd-c47="" class="image-preview mb-3"><img _ngcontent-osd-c47=""
                            class="img-fluid m-4" id="imgg0" name="imgg0" width="150" height="150"  src="<%= data.icon %>">
                    </div>
                    <!---->
                    <!---->
                    <!---->
                </div>
                
                <input _ngcontent-yil-c44="" type="text"
                name="createdAt" placeholder="Enter name . . ." required="" style="display:none"
                class="form-input-text ng-untouched ng-pristine ng-invalid"
                value="<%= data.createdAt %>"/>
                <input type="text" name="oldIcon" value="<%= data.icon %>" style="display: none;"/>
                <div _ngcontent-osd-c47="" class="custom-file"><input _ngcontent-osd-c47="" type="file" onchange="handleFiles(this.files);uploadFile('inputGroupFile01', 'stone-centers');"
                        name="icon" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" value="<%= data.icon %>"
                        accept="image/*" class="custom-file-input ng-untouched ng-pristine ng-valid"><label
                        _ngcontent-osd-c47="" for="inputGroupFile01" class="custom-file-label">Choose file</label></div>
                <!---->
            </div>
        </div>
        <div _ngcontent-osd-c47="" class="d-flex flex-row-reverse bd-highlight mt-3">
            <div _ngcontent-osd-c47="" class="p-2 bd-highlight"><input _ngcontent-osd-c47="" type="submit" value="Save" class="btn btn-success">
                <app-loading _ngcontent-osd-c47="" _nghost-osd-c41="" hidden=""><button _ngcontent-osd-c41=""
                        type="button" disabled="" class="btn btn-sending"><span _ngcontent-osd-c41="" role="status"
                            aria-hidden="true" class="spinner-border spinner-border-sm"></span> Sending...
                    </button></app-loading>
            </div>
        </div>
    </form>
</div>

<script>
    
function handleFiles(files) {
    var imgs = document.querySelectorAll('img');
    //Image element index
    let imgIndex=0;

    //Loop through all the images
    for(var i = 0; i < files.length; i++){
        var reader = new FileReader();

        reader.onload = function(e) {
          var img = document.getElementById('imgg'+imgIndex);
          img.src = e.target.result; 
          imgIndex++;
        }
        
        reader.readAsDataURL(files[i]);     
   }
}

</script>