<div class="container-fluid" id="main_content">
    <div _ngcontent-puf-c85="" class="bg-dark border shadow">
        <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
            <h4 _ngcontent-gak-c44="">
                <%= option %>
            </h4>
            <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2"
                href="/<%= view %>">
                <%= subtittle %>
            </a>
        </div>
        <div _ngcontent-puf-c85="" class="row d-flex justify-content-center">
            <div _ngcontent-puf-c85="" class="col-12">
                <div _ngcontent-puf-c85="" role="alert" class="alert alert-warning" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-puf-c85="" class="row d-flex justify-content-center">
            <div _ngcontent-puf-c85="" class="col-12">
                <div _ngcontent-puf-c85="" role="alert" class="alert alert-success" hidden=""> </div>
            </div>
        </div>
        <form _ngcontent-puf-c85="" class="m-2 ng-untouched ng-pristine ng-invalid" method="POST" action="#">


            <div class="form-row mt-3">
                <label _ngcontent-gak-c44="" for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">
                    Name - Email:</label>
                <div class="col s-12 m-6">
                    <input type="text" id="name" name="name" placeholder="Enter name ..."
                        class="form-input-text ng-untouched ng-pristine ng-invalid" required value="<%= data.name %>" />
                </div>
                <div class="col s-12 m-6">
                    <input type="email" id="email" name="email" placeholder="Enter name ..."
                        class="form-input-text ng-untouched ng-pristine ng-invalid" required
                        value="<%= data.email %>" />
                        
                        <input type="text" id="createdAt" name="createdAt" style="display: none;"
                        class="form-input-text ng-untouched ng-pristine ng-invalid" required
                        value="<%= data.createdAt %>" />
                </div>

            </div>

            <div _ngcontent-gak-c44="" class="form-row mt-3">
                <label _ngcontent-gak-c44="" for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">
                    Password - Password confirmation: </label>
                <div _ngcontent-gak-c44="" class="col s-12 m-6">
                    <input _ngcontent-gak-c44="" type="password" name="password" id="password"
                        placeholder="Enter password" required class="form-input-password ng-dirty ng-valid ng-touched">

                </div>
                <div _ngcontent-gak-c44="" class="col s-12 m-6">
                    <input _ngcontent-gak-c44="" type="password" id="passwordConfirmation" name="passwordConfirmation"
                        placeholder="Enter password confirmation" required=""
                        class="form-input-password ng-pristine ng-invalid ng-touched">
                </div>
            </div>

            <div _ngcontent-puf-c85="" class="d-flex flex-row-reverse bd-highlight mt-3">
                <div _ngcontent-puf-c85="" class="p-2 bd-highlight"><input _ngcontent-puf-c85="" type="reset"
                        value="Reset" class="btn btn-danger"></div>
                <div _ngcontent-puf-c85="" class="p-2 bd-highlight">
                    <input _ngcontent-puf-c85="" type="submit" id="submit" value="Save" disabled class="btn btn-success">
                    <app-loading _ngcontent-puf-c85="" _nghost-puf-c75="" hidden=""><button _ngcontent-puf-c75=""
                            type="button" class="btn btn-sending"><span _ngcontent-puf-c75="" role="status"
                                aria-hidden="true" class="spinner-border spinner-border-sm"></span>
                            Sending...
                        </button></app-loading>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#submit").prop("disabled", true);
        $("#password").on("change paste keyup", function () {
            if($(this).val() != $("#passwordConfirmation").val()){
                $("#submit").prop("disabled", true);
            } else {
                $("#submit").prop("disabled", false);
            }
        });
        $("#passwordConfirmation").on("change paste keyup", function () {
            if($(this).val() != $("#password").val()){
                $("#submit").prop("disabled", true);
            } else {
                $("#submit").prop("disabled", false);
            }
        });
    });

</script>