<div _ngcontent-ipx-c58="" class="bg-dark border shadow">
    <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
        <h4 _ngcontent-gak-c44="">
            <%= option %>
        </h4>
        <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2"
            href="/<%= view %>">
            <%= subtittle %>
        </a>
    </div>
    <h4 _ngcontent-ipx-c58="" class="text-center mt-3 mb-3">Data</h4>
    <form _ngcontent-ipx-c58=""id="myform" class="m-2 ng-untouched ng-pristine ng-invalid" method="POST" action="/newMetals">
        <div _ngcontent-ipx-c58="" class="row d-flex justify-content-center">
            <div _ngcontent-ipx-c58="" class="col-12">
                <div _ngcontent-ipx-c58="" role="alert" class="alert alert-warning" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-ipx-c58="" class="row d-flex justify-content-center">
            <div _ngcontent-ipx-c58="" class="col-12">
                <div _ngcontent-ipx-c58="" role="alert" class="alert alert-success" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-ipx-c58="" class="form-row mt-4"><label _ngcontent-ipx-c58="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Name: </label>
            <div _ngcontent-ipx-c58="" class="col s-12"><input _ngcontent-ipx-c58="" type="text" name="name"
                    placeholder="Enter name . . ." required=""
                    class="form-input-text ng-untouched ng-pristine ng-invalid">
                <!---->
            </div>
        </div>
        <div _ngcontent-ipx-c58="" class="form-row mt-4"><label _ngcontent-ipx-c58="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Carat: </label>
            <div _ngcontent-ipx-c58="" class="col s-12"><input _ngcontent-ipx-c58="" type="number" name="carat"
                    placeholder="Enter carat . . ." required=""
                    class="form-input-number ng-untouched ng-pristine ng-valid">
                <!---->
            </div>
        </div>
        <div _ngcontent-ipx-c58="" class="form-row mt-4"><label _ngcontent-ipx-c58="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Price: </label>
            <div _ngcontent-ipx-c58="" class="col s-12"><input _ngcontent-ipx-c58="" type="number" name="price"
                    placeholder="Enter Price . . ." required=""
                    class="form-input-text ng-untouched ng-pristine ng-invalid">
                <!---->
            </div>
        </div>
        <div _ngcontent-ipx-c58="" class="form-row mt-4"><label _ngcontent-ipx-c58="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Metal Color: </label>
            <div _ngcontent-ipx-c58="" class="col s-12">
                <select name="metalColorId" id="metalColorId" class="select2">
                    <option value="" disabled > Select Metal Colors</option>
                    <% data.forEach(function (item) { %>
                        <option value="<%= item.id %>"><%= item.description %></option>
                    <% }) %>
                </select>
                <!---->
            </div>
        </div>
        <div _ngcontent-ipx-c58="" class="form-row mt-4"><label _ngcontent-ipx-c58="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Icon: </label>
            <div _ngcontent-ipx-c58="" class="col s-12">
                <div _ngcontent-ipx-c58="" class="text-center border">
                    <!---->
                    <!---->
                    <div _ngcontent-ipx-c58="" class="image-preview mb-3"><img _ngcontent-ipx-c58="" id="imgg0"
                            src="https://cdn1.iconfinder.com/data/icons/cash-coin-essentials/48/v-39-512.png"
                            class="img-fluid m-4" style="width: 150px;"></div>
                    <!---->
                    <!---->
                </div>
                <div _ngcontent-ipx-c58="" class="custom-file"><input _ngcontent-ipx-c58="" type="file" onchange="handleFiles(this.files);uploadFile('inputGroupFile01', 'metals');"
                        name="icon" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
                        accept="image/*" class="custom-file-input ng-untouched ng-pristine ng-valid"><label
                        _ngcontent-ipx-c58="" for="inputGroupFile01" class="custom-file-label">Choose file</label></div>
            </div>
        </div>
        <div _ngcontent-ipx-c58="" class="d-flex flex-row-reverse bd-highlight mt-3">
            <div _ngcontent-ipx-c58="" class="p-2 bd-highlight"><input _ngcontent-ipx-c58="" type="reset" value="Reset"
                    class="btn btn-danger"></div>
            <div _ngcontent-ipx-c58="" class="p-2 bd-highlight"><input _ngcontent-ipx-c58="" type="submit" value="Save" class="btn btn-success"
                    >
                <app-loading _ngcontent-ipx-c58="" _nghost-ipx-c41="" hidden=""><button _ngcontent-ipx-c41=""
                        type="button" disabled="" class="btn btn-sending"><span _ngcontent-ipx-c41="" role="status"
                            aria-hidden="true" class="spinner-border spinner-border-sm"></span> Sending...
                    </button></app-loading>
            </div>
        </div>
    </form>
</div>