<% var msg=msg %>
  <div class="container-fluid" id="main_content">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">All Products - Google Shopping</h5>
            <h2>
              <%= data.msg %>
            </h2>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <!-- /.col -->
              <div class="col-md-12 mx-auto table-responsive p-0">

                <div _ngcontent-qte-c40="" class="search input-group p-4 d-flex justify-content-center">
                  <input _ngcontent-qte-c40="" type="search" id="search" placeholder="Buscar   .  .  .  .  ."
                    class="ng-pristine ng-valid ng-touched">
                  <button _ngcontent-qte-c40="" type="button" class="btn btn-secondary"><i _ngcontent-qte-c40=""
                      class="material-icons">search</i>
                  </button>
                </div>
                <div _ngcontent-uqf-c65="" class="text-center">
                  <a _ngcontent-nio-c60="" data-confirm="Are you sure?" href="/sendGoogle/all">
                    <button _ngcontent-nio-c60 class="btn btn-success">
                      Send all available products to Google
                    </button>
                  </a>
                  <br /><br />
                </div>
                </td>
                <div class="scroll1">
                  <div class="div1"></div>
                </div>
                <div class="scroll2">
                  <table _ngcontent-qte-c40="" class="table table-hover text-nowrap no-cellpadding">
                    <thead _ngcontent-qte-c40="">
                      <tr _ngcontent-qte-c40="">
                        <th _ngcontent-qte-c40="" scope="col">#</th>
                        <th _ngcontent-qte-c40="" scope="col">Sku</th>
                        <th _ngcontent-qte-c40="" scope="col">Name</th>
                        <th _ngcontent-qte-c40="" scope="col">Options</th>
                      </tr>
                    </thead>
                    <tbody id="listingTable" _ngcontent-qte-c40="">
                      <% if ( !data ){ %>
                        <tr _ngcontent-qte-c40="">
                          <td _ngcontent-qte-c40="" colspan="4" scope="col">No hay productos disponibles</td>
                        </tr>
                        <% } else { %>
                          <% data.forEach(function (item) { %>
                            <tr _ngcontent-qte-c40="">
                              <td _ngcontent-qte-c40="" scope="col">
                                <%= item.id %>
                              </td>
                              <td _ngcontent-qte-c40="" scope="col">
                                <%= item.localSku %>
                              </td>
                              <td _ngcontent-qte-c40="" scope="col">
                                <%= item.name %>
                              </td>
                              <td _ngcontent-qte-c40="" scope="col">
                                <div _ngcontent-uqf-c65="" class="text-center">
                                  <a _ngcontent-nio-c60="" data-confirm="Are you sure?" title="<%= item.localSku %>"
                                    href="/sendGoogle/<%= item.id %>">
                                    <button _ngcontent-nio-c60 class="btn btn-success">
                                      Send to Google
                                    </button>
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <% })} %>
                    </tbody>
                  </table>
                  <center>
                    <a href="javascript:prevPage()" id="btn_prev">Prev</a>
                    <strong> Page:</strong> <span id="page"></span>
                    <a href="javascript:nextPage()" id="btn_next">Next</a>
                  </center>
                </div>
                <!-- /.progress-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- ./card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

  </div>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script>
    $(document).ready(function () {
      $(function () {
        $('.scroll1').on('scroll', function (e) {
          $('.scroll2').scrollLeft($('.scroll1').scrollLeft());
        });
        $('.scroll2').on('scroll', function (e) {
          $('.scroll1').scrollLeft($('.scroll2').scrollLeft());
        });
      });

      $('.div1').width($('table').width());

    });
  </script>