<div class="container-fluid" id="main_content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <a href="/costumers">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user-check"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Costumers Registered</span>
            <span class="info-box-number">
              <%= constumersCount %>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
      <a href="/orders">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-shopping-cart "></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Orders Received</span>
            <span class="info-box-number">
              <%= ordersCount %>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
      <a href="/subscribes">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-thumbs-up"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Subscriptions</span>
            <span class="info-box-number">
              <%= subscriptionCount %>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
      <!-- /.info-box -->
    </div>

    <!-- /.col -->
  </div>
  <!-- /.row -->

  <!-- /.row -->
</div>
<!--/. container-fluid -->