<div class="container-fluid" id="main_content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        <%= subtitle %>
                    </h5>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-md-12 mx-auto">
                            <div _ngcontent-gak-c63="" class="row d-flex justify-content-center">
                                <div _ngcontent-gak-c63="" class="col-12">
                                    <div _ngcontent-gak-c63="" role="alert" class="alert alert-warning" hidden="">
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-gak-c63="" class="row d-flex justify-content-center">
                                <div _ngcontent-gak-c63="" class="col-12">
                                    <div _ngcontent-gak-c63="" role="alert" class="alert alert-success" hidden="">
                                    </div>
                                </div>
                            </div>

                            <div _ngcontent-gak-c63="" class="form-row mt-4">
                                <label _ngcontent-gak-c63="" for="colFormLabelSm"
                                    class="col-sm-3 col-form-label col-form-label-sm"> Product: </label>
                                <div _ngcontent-gak-c63="" class="col s-12">
                                    <div class="ng-select-container ng-has-value">
                                        <div class="ng-value-container">
                                            <select name="productId" id="productId" class="select2" required data-placeholder="Select Product/Metal/Stone"
                                                onchange="loadOtions(this.value)">
                                                <option value="" selected disabled> Select Product/Metal/Stone
                                                </option>
                                                <% data.threeGeneral.forEach(function (item) { %>
                                                    <option
                                                        value="<%= item.productId %>/<%= item.metalColorId %>/<%= item.stoneShapeId %>/ <%= item.imageCount %> <%= item.localSku %>">
                                                        Product: <%= item.localSku %> - <%= item.name %>
                                                            - Metal : <%= item.metalName %>
                                                                <% if( item.stoneName !='N/A' ) { %> - Stone:
                                                                    <%= item.stoneName %>
                                                                        <% }%>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                            <br>
                                            <center>
                                                <div id="360"></div>
                                            </center>
                                            <div class="text-center">
                                                <a _ngcontent-yil-c42="" data-confirm="Are you sure?" id="delete"
                                                    title="Delete 360 image" href="#" style="display: none;">
                                                    <button _ngcontent-yil-c42="" class="btn btn-danger">
                                                        <i _ngcontent-yil-c42=""
                                                            class="material-icons">delete_forever</i>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</div>
<script src="https://cdn.scaleflex.it/plugins/js-cloudimage-360-view/2.6.0/js-cloudimage-360-view.min.js"></script>
<script>
    function loadOtions(str) {
        window.CI360.destroy();
        var dele = document.getElementById('delete');
        var arr = str.split(" ");
        /*$.get("<%= db %>" + 'three-sixties?filter={"where":{"productId":' + Number(str) + '}}', function (data) {
            var imagesDiv = document.getElementById('metal');
            let personasMap = data.map(item => {
                return [item.metalColorId, item]
            });
            var personasMapArr = new Map(personasMap); // Pares de clave y valor

            let unicos = [...personasMapArr.values()]; // Conversión a un array

            console.log(unicos);

        });
        */
        var div360 = document.getElementById('360');
        console.log(arr);
        div360.setAttribute("style", "max-width: 500px;");
        div360.setAttribute("data-folder", "/upload/360/" + arr[0]);
        div360.setAttribute("data-filename", arr[2]+".{index}.jpg");
        div360.setAttribute("data-amount", arr[1]);

        div360.setAttribute("class", "cloudimage-360 Center");

        dele.setAttribute("href", '/delete360/' + arr[0].replaceAll('\/', '-'));
        dele.style.display = "";
        window.CI360.init();
    }

</script>