<div class="container-fluid" id="main_content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Home Shops</h5>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <!-- /.col -->
            <div class="col-md-12 mx-auto table-responsive p-0 text-center">
              <% if (msg=='error' ) { %>
                <p style="color: #e74c3c;"
                  class="border border-red-500 background-red-100 text-red-500 p-3 mt-5 text-center error">
                  There is/are a/some home shop products related to the item you are trying to delete.<br /> it can not
                  be removed until there is no home shop products related<br />
                </p>

                <% } %>
                  <% data.forEach(function (item) { %>
                    <div
                      class="ImageWithActionPointsstyle__ImageWrapper-sc-1dlworr-1 gDBwnv GridItemstyle__GridItem-sc-1l38tef-0 ugquo">
                      <span style="font-size: 0px;"></span>
                      <img src="<%= item.path %>" width="300" id="imgg-<%= item.id %>" alt="product image"
                        draggable="false"
                        class="ImageWithActionPointsstyle__ImageContainer-sc-1dlworr-2 dzKPzQ" /><br />
                      <a href="/deleteHomePicture/<%= item.id %>">Delete picture</a>
                      <button onclick="modify('file-<%= item.id %>')">Modify Picture</button>
                      <div class="row">
                        <!-- /.col -->
                        <div class="col-md-12 mx-auto table-responsive p-0 text-center ">
                          <input type="file" accept="image/*" name="file" id="file-<%= item.id %>"
                            index="imgg-<%= item.id %>" style="display: none;"
                            onchange="handleImgId(this.files, 'imgg-<%= item.id %>' ); uploadFile(this.id, 'home'); uploadDb(this.files[0],'<%= item.createdAt %>', '/<%= item.id %>')" />
                        </div>
                      </div>
                    </div>
                    <br />
                    <% }) %>

                      <!-- /.progress-group -->
            </div>
            <!-- /.col -->
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-md-12 mx-auto table-responsive p-0 text-center">
              <legend>Add new image</legend>
              <div
                class="ImageWithActionPointsstyle__ImageWrapper-sc-1dlworr-1 gDBwnv GridItemstyle__GridItem-sc-1l38tef-0 ugquo">
                <span style="font-size: 0px;"></span>
                <img src="" width="300" id="imgg-new" draggable="false"
                  class="ImageWithActionPointsstyle__ImageContainer-sc-1dlworr-2 dzKPzQ" /><br />
                <div class="row">
                  <!-- /.col -->
                  <div class="col-md-12 mx-auto table-responsive p-0 text-center ">
                    <input type="file" accept="image/*" name="file" id="file-new" index="imgg-new"
                      onchange="handleImgId(this.files, 'imgg-new' ); uploadFile(this.id, 'home'); uploadDb(this.files[0],'', '')" />
                  </div>
                </div>
              </div>
              <br />

              <!-- /.progress-group -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="snackbar">
  </div>
  <!-- /.row -->

</div>

<script>
  function modify(id) {
    var file = document.getElementById(id);
    file.style = "display:";
  }
  function uploadDb(file, createdAt, id) {
    var src = file.name;
    $.post("../homeShop" + id,
      { path: src, createdAt: createdAt },
      function (data) {

        var snackbar = document.getElementById("snackbar");
        snackbar.innerHTML = data.response+"<br/>The page will reload";
        snackbar.className = "show";
        setTimeout(function () {
          snackbar.className = snackbar.className.replace("show", "");
        }, 3000);
        setTimeout(function () {
          if (data.url) {
            location.reload();
          }
        }, 2000);
      }
    );
  }
</script>