<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="../plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="../plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- Bootstrap4 Duallistbox -->
<!-- Theme style -->
<link rel="stylesheet" href="../dist/css/adminlte.min.css">
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="../js/DateTimePicker.css" />

<style>
  /*
  table {
    table-layout: fixed;
    width: 100%;
  }
  */

  input[type='search'] {
    min-width: 85%;
    max-width: 85%;
  }

  input[type='text'] {
    min-width: 100%;
    max-width: 100%;
  }

  input[type='email'] {
    min-width: 100%;
    max-width: 100%;
  }

  input[type='password'] {
    min-width: 100%;
    max-width: 100%;
  }

  input[type='number'] {
    min-width: 100%;
    max-width: 100%;
  }

  select {
    min-width: 100%;
    max-width: 100%;
  }

  textarea {
    min-width: 100%;
    max-width: 100%;
  }

  input[type='file'] {
    color: transparent;
  }


.table td {
  padding: 5;
  word-wrap: break-word;
}
</style>

<style>
  .scroll1,
  .scroll2 {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .scroll1 {
    height: 20px;
  }

  .div1 {
    height: 20px;
  }
</style>

<style>
   /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 0px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #00bc8c;; /* Green background color */
  color: black; /* Black text color */
  text-align: center; /* Centered text */
  border-radius: 15px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  right: 0%; /* Center the snackbar */
  top: 60px; /* 60px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 60px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 60px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 60px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 60px; opacity: 1;}
  to {top: 0; opacity: 0;}
} 
</style>