<script src="../plugins/jquery/jquery.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

<script src="../dist/js/adminlte.js"></script>

<script src="../plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="../plugins/raphael/raphael.min.js"></script>
<script src="../plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="../plugins/jquery-mapael/maps/usa_states.min.js"></script>

<script src="../plugins/chart.js/Chart.min.js"></script>

<script src="../dist/js/demo.js"></script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


<script>
    function handleFiles(files) {
        var imgs = document.querySelectorAll('img');
        //Image element index
        let imgIndex = 0;

        //Loop through all the images
        for (var i = 0; i < files.length; i++) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var img = document.getElementById('imgg' + imgIndex);
                img.src = e.target.result;
                imgIndex++;
            }

            reader.readAsDataURL(files[i]);
        }
    }

    function handleMultipleFiles(files) {
        var multiplePrevImgs = document.getElementById('imgMultiplePreview');
        var imgs = document.querySelectorAll('img');
        var html = '<ul _ngcontent-xax-c43="" class="list-group list-group-horizontal image-preview mb-3">';
        //Image element index
        let imgIndex = 0;

        //Loop through all the images
        for (var i = 0; i < files.length; i++) {
            var reader = new FileReader();

            reader.onload = function (e) {
                html = html + '<li _ngcontent-xax-c43="" class="list-group-item"><img _ngcontent-xax-c43="" class="img-fluid" src="' + e.target.result + '"></li>';
                multiplePrevImgs.innerHTML = html + "</ul>";
                //imgIndex++;
            }
            reader.readAsDataURL(files[i]);
        }
    }

    function uploadFile(str, type) {
        $(".btn-success").prop('disabled', true);
        var snackbar = document.getElementById("snackbar");
        var xhttp = new XMLHttpRequest(); // create new AJAX request
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) { // sucess from server
                console.log(xhttp.status);
                $(".btn-success").prop('disabled', false);
                snackbar.innerHTML = "The image(s) has been sucessfully uploaded...";
                snackbar.className = "show";
                setTimeout(function () {
                    snackbar.className = snackbar.className.replace("show", "");
                }, 5000);

            } else { // errors occured
                console.log(xhttp.status);
            }
        }
        xhttp.open("POST", "../uploadFile/" + type)
        var formData = new FormData()
        for (var i = 0; i < document.getElementById(str).files.length; i++) {
            formData.append(str, document.getElementById(str).files[i]); // since inputs allow multi files submission, therefore files are in array
        }
        xhttp.send(formData)
    }

    function handleImgId(files, id) {
        var imgs = document.querySelectorAll(id);
        //Image element index
        let imgIndex = 0;

        //Loop through all the images
        for (var i = 0; i < files.length; i++) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var img = document.getElementById(id);
                img.src = e.target.result;
                imgIndex++;
            }

            reader.readAsDataURL(files[i]);
        }
    }

    function handleImgsById(files, id, index, input, indice) {
        var multiplePrevImgs = $("#" + id);
        var html = '';
        for (var i = 0; i < files.length; i++) {
            var reader = new FileReader();
            reader.onload = function (e) {
                html = '<li class="list-group-item horizontal container" id="' + e.target.fileName + '" >'
                    + '<img class="img-fluid"  src="' + e.target.result + '" style="height:200px; width:200px; min-width:200px;display:inline;">'
                    + '<button class="btn delete" onclick="deletePicture(event, document.getElementById( \'' + e.target.fileName + '\'), \'' + e.target.input + '\')"><i class="fas fa-trash-alt"></i></button>'

                    + '<div class="radio-principal">'
                    + '<input type="radio" id="' + e.target.index + '" name="' + e.target.index + '[' + e.target.indice + ']" checked value="' + e.target.fileName + '" > '
                    + '<label for="' + e.target.index + '">Principal</label></div>'

                    + '</li>';
                multiplePrevImgs.append(html);
            }
            reader.fileName = files[i].name;
            reader.index = index;
            reader.input = input;
            reader.indice = indice;
            reader.readAsDataURL(files[i]);
        }
    }

    function invalidFunction(e, name) {
        e.preventDefault();

        snackbar.style = "background-color:  #f0ad4e;";
        snackbar.innerHTML = "Please fill all the required fields.<br/>Please validate " + name + " field";
        snackbar.className = "show";
        setTimeout(function () {
            snackbar.className = snackbar.className.replace("show", "");
        }, 3000);

    }
</script>



<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="../plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="../plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- InputMask -->
<script src="../plugins/moment/moment.min.js"></script>
<script src="../plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="../plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Bootstrap Switch -->
<script src="../plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- BS-Stepper -->
<script src="../plugins/bs-stepper/js/bs-stepper.min.js"></script>
<!-- dropzonejs -->
<script src="../plugins/dropzone/min/dropzone.min.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
    })

    $('#pushmenu').click(function () {
        if ($('body').hasClass('sidebar-collapse')) {
            $('body').removeClass('sidebar-collapse');
        } else {
            $('body').addClass('sidebar-collapse');
        }
    });

    var $rows = $('#listingTable tr');
    $('#search').keyup(function () {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        var wholerows = $rows.show().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            text.indexOf(val)
            return !~text.indexOf(val);
        }).hide();
        if (val == null || val == "") {
            changePage(current_page);
        }
    });
</script>

<script src="../js/DateTimePicker.js"></script>

<script>
    var current_page = 1;
    var records_per_page = 30;

    //var objJson = Array();
    /*
    for (var i = 0; i < tableRows.length; i++) {
            objJson.push(tableRows[i].innerHTML);
    }
    */
    if (document.getElementById("listingTable")) {
        var tableRows = document.getElementById("listingTable").rows;
    }

    function prevPage() {
        if (current_page > 1) {
            current_page--;
            changePage(current_page);
        }
    }

    function nextPage() {
        if (current_page < numPages()) {
            current_page++;
            changePage(current_page);
        }
    }

    function changePage(page) {
        var btn_next = document.getElementById("btn_next");
        var btn_prev = document.getElementById("btn_prev");
        var listing_table = document.getElementById("listingTable");
        var page_span = document.getElementById("page");

        // Validate page
        if (page < 1) page = 1;
        if (page > numPages()) page = numPages();
        for (var i = 0; i < tableRows.length; i++) {
            tableRows[i].style.display = "none";
        }
        for (var i = (page - 1) * records_per_page; i < (page * records_per_page); i++) {
            if (tableRows[i] != undefined)
                tableRows[i].style.display = "";
        }
        /*
        for (var i = (page - 1) * records_per_page; i < (page * records_per_page); i++) {
                if (objJson[i] != undefined)
                $("#listingTable").append( "<tr>"+objJson[i]+"</tr>") ;
        }
        */
        page_span.innerHTML = page;

        if (page == 1) {
            btn_prev.style.visibility = "hidden";
        } else {
            btn_prev.style.visibility = "visible";
        }

        if (page == numPages()) {
            btn_next.style.visibility = "hidden";
        } else {
            btn_next.style.visibility = "visible";
        }
    }

    function numPages() {
        return Math.ceil(tableRows.length / records_per_page);
    }

    window.onload = function () {
        if (tableRows)
            changePage(1);
    };
</script>