<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="https://api.amcordesign.com/images/logo/logo_amcor_design.png" alt="AMCORDESIGN LOGO" width="240">
</div>