<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="../dist/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AMCOR DESIGN ADMIN</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="#" class="d-block">
          <%= user.name %>
        </a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

        <li class="nav-header">
          <strong>General</strong>
        </li>
        <li class="nav-item <% if (option == "Dashboard"){ %> menu-open <%} %>">
            <a href="#" class="nav-link ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/" class="nav-link <% if (option == "Dashboard"){ %> active <%} %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item <% if (option == "Home Shop" || option=="Home Shop Products" ){ %> menu-open <%} %>">
            <a href="#" class="nav-link ">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Home Shop
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/Home Shop/view" class="nav-link <% if (option == "Home Shop"){ %> active <%} %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Home Shop</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/Home Shop Products" class="nav-link <% if (option == "Home Shop Products"){ %> active <%} %>
                    ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Home Shop Products</p>
                </a>
              </li>
            </ul>
        </li>
        <!--
          <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Widgets
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
          -->
        <li class="nav-item <% if (option == "Users" || option=="Create Users" ){ %> active menu-open <%} %>">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Users
                <i class="fas fa-angle-left right"></i>
                <!-- <span class="badge badge-info right">6</span> -->
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/users" class="nav-link <% if (option == "Users"){ %> active <%} %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All users</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/users/create" class="nav-link <% if (option == "Create Users"){ %> active <%} %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add users </p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item  <% if (option == "Customers" || option=="Create Customers" ){ %> menu-open <%} %> ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Customers
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/customers"" class=" nav-link <% if (option=="Customers" ){ %> active <%} %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All Customers</p>
                </a>
              </li>
              <!--
              <li class="nav-item">
                <a href="/addCostumer"" class=" nav-link <% if (option=="Create Costumers" ){ %> active <%} %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Create Costumers</p>
                </a>
              </li>
              -->
            </ul>
        </li>
        <li class="nav-item <% if (option == "Countries" || option=="Country" ){ %> menu-open <%} %> ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-globe"></i>
              <p>
                Countries
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/countries/all" class="nav-link <% if (option == "Countries"){ %> active <%} %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All countries</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/countries/create" class="nav-link <% if (option == "Country"){ %> active <%} %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add country</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item <% if (option == "States" || option=="Create States" ){ %> menu-open <%} %> ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-globe"></i>
              <p>
                States
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/states/all" class="nav-link <% if (option == "States"){ %> active <%} %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All states</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addStates" class="nav-link <% if (option == "Create States"){ %> active <%} %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add states</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item <% if (option == "All Google Products" ){ %> active menu-open <%} %>">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-shopping-cart"></i>
              <p>
                Google Shopping
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/google-products" class="nav-link <% if (option == "All Google Products" ){ %> active <%} %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All products google</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-header">
          <strong>Orders</strong>
        </li>
        <li class="nav-item  ">
            <a href="/orders" class="nav-link <% if (option == "All orders" ){ %> active  %><% } %> ">
                <i class="nav-icon far fa-image"></i>
                <p>
                  Received
                </p>
            </a>
            <a href="/CreateOrder" class="nav-link <% if (option == "Create order" ){ %> active %><% } %> ">
                <i class="nav-icon far fa-image"></i>
                <p>
                  Create order
                </p>
            </a>
        </li>
        <li class="nav-header"><strong>Catalog</strong></li>
        <li class="nav-item <% if (option == "Products" || option=="Create Products" ){ %> menu-open %><% } %> ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Products
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/products/all" class="nav-link <% if (option == "Products" ){ %> active %><% } %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All products</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addProducts" class="nav-link <% if ( option == "Create Products" ){ %> active %><% } %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add products</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item  <% if (option == "Center Shape Images" || option=="Create Center Shape Images" ){ %>
          menu-open %><% } %> ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Center shape images
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/centerShapes" class="nav-link<% if (option == "Center Shape Images" ){ %> active %><% } %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All center shape images</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addCenterShapes" class="nav-link <% if (option == "Create Center Shape Images" ){ %> active
                  %><% } %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add center shape images</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item  <% if (option == "Categories" || option=="Create Categories" ){ %> menu-open %><% } %> ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Categories
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/categories" class="nav-link  <% if (option == "Categories" ){ %> active %><% } %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All categories</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addcategories" class="nav-link <% if ( option == "Create Categories" ){ %> active %><% } %>
                    ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add categories</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item  <% if (option == "Create Coupon" || option=="Coupons" ){ %> menu-open %><% } %> ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Coupons
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/coupons/all" class="nav-link <% if ( option == "Coupons" ){ %> active %><% } %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All coupons</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addCoupons" class="nav-link <% if ( option == "Create Coupon" ){ %> active %><% } %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add coupons</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item  <% if (option == "Images" || option=="360" || option=="Get 360" ){ %> menu-open %><% } %>
            ">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Images
                <!--<span class="badge badge-info right">Beta</span>!-->
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/360images/new" class="nav-link <% if (option == "360" ){ %> active %> <% } %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>360 Images </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/get360" class="nav-link <% if (option == "Get 360" ){ %> active %> <% } %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>See 360 Images </p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-header"><strong>Attributes</strong></li>
        <li class="nav-item <% if (option == "Metals" || option=="Create Metals" ){ %> menu-open %><% } %>">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Metal colors
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/metals" class="nav-link <% if (option == "Metals" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All metal colors</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addMetals" class="nav-link <% if (option == "Create Metals" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add metal colors</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item <% if (option == "Styles" || option=="Create Styles" ){ %> menu-open %><% } %>">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Styles
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/styles" class="nav-link <% if (option == "Styles" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All Styles</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addStyles" class="nav-link <% if (option == "Create Styles" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add Styles</p>
                </a>
              </li>
            </ul>
        </li>

        <li class="nav-header"><strong>Stones</strong></li>
        <li class="nav-item <% if (option == "Stone Shapes" || option=="Create Stone Shapes" ){ %> menu-open %><% } %>
            ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Stone shapes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/stoneShapes" class="nav-link <% if (option == "Stone Shapes"){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All stone shapes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addStoneShapes" class="nav-link <% if (option == "Create Stone Shapes" ){ %> active %><% } %>
                    ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add stone shapes</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item <% if (option == "Stone Colors" || option=="Create Stone Colors" ){ %> menu-open %><% } %>
            ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Stone colors
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/stoneColors" class="nav-link <% if (option == "Stone Colors" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All stone colors</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addStoneColors" class="nav-link <% if (option == "Create Stone Colors" ){ %> active %><% } %>
                    ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add stone colors</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item <% if (option == "Stone Sides" || option=="Create Stone Sides" ){ %> menu-open %><% } %>">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Stone sides
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/stoneSides" class="nav-link <% if (option == "Stone Sides" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All stone sides</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addStoneSides" class="nav-link <% if (option == "Create Stone Sides" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add stone sides</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item <% if (option == "Stone Center" || option=="Create Stone Centers" ){ %> menu-open %><% } %>
            ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Stone centers
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/stoneCenters" class="nav-link <% if ( option == "Stone Center" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All stone centers</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addStoneCenters" class="nav-link <% if ( option == "Create Stone Centers" ){ %> active %><% }
                    %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add stone centers</p>
                </a>
              </li>
            </ul>
        </li>

        <li class="nav-header"><strong>Sizes</strong></li>
        <li class="nav-item <% if (option == "Type Sizes" || option=="Create Type Sizes" ){ %> menu-open %><% } %>">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Type sizes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/typeSizes" class="nav-link <% if (option == "Type Sizes" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All type sizes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addTypeSizes" class="nav-link <% if ( option == "Create Type Sizes" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add type sizes</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item <% if (option == "Sizes" || option=="Create Sizes" ){ %> menu-open %><% } %>">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Sizes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/sizes" class="nav-link <% if (option == "Sizes" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All sizes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addSizes" class="nav-link <% if (option == "Create Sizes" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add sizes</p>
                </a>
              </li>
            </ul>
        </li>

        <li class="nav-item <% if (option == "Type Sizes" || option=="Size Type Sizes" ){ %> menu-open %><% } %>">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Size Type sizes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/sizeTypeSizes" class="nav-link <% if (option == "Size Type Sizes" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All size type sizes</p>
                </a>
              </li>
            </ul>
        </li>

        <li class="nav-header"><strong>Other Variations</strong></li>
        <li class="nav-item <% if (option == "Extra Variations" || option=="Create Extra Variations" ){ %> menu-open %>
          <% } %> ">
            <a href="#" class="nav-link ">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Extra Variations
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/extraVariations/all" class="nav-link <% if (option == "Extra Variations" ){ %> active %><% }
                    %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All Extra Variations</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addExtraVariations" class="nav-link <% if (option == "Create Extra Variations" ){ %> active
                  %><% } %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add Extra Variations</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item <% if (option == "Variations" || option=="Create Variations" ){ %> menu-open %><% } %> ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Variations
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/variations" class="nav-link <% if (option == "Variations" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>All Variations</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addVariations" class="nav-link <% if (option == "Create Variations" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add Variations</p>
                </a>
              </li>
            </ul>
        </li>

        <li class="nav-header"><strong>Inventories</strong></li>
        <li class="nav-item  <% if (option == "Moissanites" || option=="Create Moissanites" ){ %> menu-open %><% } %>
            ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Moissanites
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/moissanites" class="nav-link  <% if (option == "Moissanites" ){ %> active %><% } %>">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Moissanites</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addMoissanites" class="nav-link  <% if (option == "Create Moissanites" ){ %> active %><% } %>
                    ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Create Moissanites</p>
                </a>
              </li>
            </ul>
        </li>

        <li class="nav-header"><strong>Reviews</strong></li>
        <li class="nav-item  <% if (option == "Reviews" || option=="Create Reviews" ){ %> menu-open %><% } %> ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Reviews
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/reviews" class="nav-link  <% if (option == "Reviews" ){ %> active %><% } %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Reviews</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/addReviews" class="nav-link  <% if (option == "Create Reviews" ){ %> active %><% } %> ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Review Create</p>
                </a>
              </li>
            </ul>
        </li>

        <li class="nav-header"><strong>Subscribe</strong></li>
        <li class="nav-item">
          <a href="/subscribes" class="nav-link  <% if (option == "Subscribed" ){ %> active %><% } %> ">
              <i class="nav-icon far fa-image"></i>
              <p>
                Subscribe
              </p>
          </a>
        </li>

        <li class="nav-header"><strong>Extra</strong></li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <p>
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>