<div class="container-fluid" id="main_content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">All order </h5>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-md-12 mx-auto">


                            <div _ngcontent-ovg-c40="" class="bg-dark table-responsive p-0">
                                <div _ngcontent-ovg-c40="" class="row d-flex justify-content-center">
                                    <div _ngcontent-ovg-c40="" class="col-12">
                                        <div _ngcontent-ovg-c40="" role="alert" class="alert alert-warning m-2"
                                            hidden=""> </div>
                                    </div>
                                </div>
                                <div _ngcontent-ovg-c40="" class="row d-flex justify-content-center">
                                    <div _ngcontent-ovg-c40="" class="col-12">
                                        <div _ngcontent-ovg-c40="" role="alert" class="alert alert-success m-2"
                                            hidden=""> </div>
                                    </div>
                                </div>
                                <div _ngcontent-ovg-c40="" class="search input-group p-4 d-flex justify-content-center">
                                    <input _ngcontent-ovg-c40="" type="search" id="search"
                                        placeholder="Buscar   .  .  .  .  ."
                                        class="ng-pristine ng-valid ng-touched"><button _ngcontent-ovg-c40=""
                                        type="button" class="btn btn-secondary"><i _ngcontent-ovg-c40=""
                                            class="material-icons">search</i></button>
                                </div>

                                <div class="scroll1">
                                    <div class="div1"></div>
                                </div>
                                <div class="scroll2">
                                    <table _ngcontent-ovg-c40="" class="table table-hover text-nowrap no-cellpadding">
                                        <thead _ngcontent-ovg-c40="">
                                            <tr _ngcontent-ovg-c40="">
                                                <th _ngcontent-ovg-c40="" scope="col">Sent</th>
                                                <th _ngcontent-ovg-c40="" scope="col"># Order</th>
                                                <th _ngcontent-ovg-c40="" scope="col">Client</th>
                                                <th _ngcontent-ovg-c40="" scope="col">Email</th>
                                                <th _ngcontent-ovg-c40="" scope="col">Phone</th>
                                                <th _ngcontent-ovg-c40="" scope="col">City</th>
                                                <th _ngcontent-ovg-c40="" scope="col">Total</th>
                                                <th _ngcontent-ovg-c40="" scope="col">Payment Type</th>
                                                <th _ngcontent-ovg-c40="" scope="col">State</th>
                                                <th _ngcontent-ovg-c40="" scope="col">Options</th>
                                            </tr>
                                        </thead>
                                        <tbody id="listingTable" _ngcontent-ovg-c40="">
                                            <tr _ngcontent-ovg-c40="" class="ng-star-inserted">
                                                <% if ( !data ){ %>
                                            <tr _ngcontent-qte-c40="">
                                                <td _ngcontent-qte-c40="" colspan="4" scope="col">No orders yet</td>
                                            </tr>
                                            <% } else { %>
                                                <% data.forEach(function (item) { %>
                                                    <tr>
                                                        <th _ngcontent-ovg-c40="" scope="row">
                                                            <%= item.sent %>
                                                        </th>
                                                        <td _ngcontent-ovg-c40=""><strong _ngcontent-ovg-c40="">#<%=
                                                                    item.orderNumber %></strong></td>
                                                        <td _ngcontent-ovg-c40="">
                                                            <%= item.firstName %>
                                                                <%= item.lastName %>
                                                        </td>
                                                        <td _ngcontent-ovg-c40="">
                                                            <%= item.email %>
                                                        </td>
                                                        <td _ngcontent-ovg-c40="">
                                                            <%= item.phone %>
                                                        </td>
                                                        <td _ngcontent-ovg-c40="">
                                                            <%= item.shippingCity %>
                                                        </td>
                                                        <td _ngcontent-ovg-c40="">$ <%= item.total %>
                                                        </td>
                                                        <td _ngcontent-ovg-c40="">
                                                            <strong _ngcontent-ovg-c40="">
                                                                <%= item.paymentType %>
                                                            </strong>
                                                        </td>
                                                        <td _ngcontent-ovg-c40="">
                                                            <span _ngcontent-ovg-c40=""
                                                                class="badge badge-danger badge-pill text-capitalize ng-star-inserted">
                                                                <%= item.orderStatus %>
                                                            </span>
                                                        </td>
                                                        <td _ngcontent-ovg-c40="">
                                                            <div _ngcontent-ovg-c40="" class="text-center">

                                                                <a _ngcontent-nio-c60="" class="mr-2 mt-2" title="View"
                                                                    href="/viewOrder/<%= item.id %>">

                                                                    <button _ngcontent-yil-c42="" class="btn btn-info ">
                                                                        <i _ngcontent-yil-c42=""
                                                                            class="material-icons">visibility</i>
                                                                    </button>
                                                                </a>

                                                                <a _ngcontent-nio-c60="" class="mr-2 mt-2" title="Copy"
                                                                    href="/copyOrder/<%= item.id %>">

                                                                    <button _ngcontent-yil-c42="" class="btn btn-info ">
                                                                        <i _ngcontent-yil-c42=""
                                                                            class="material-icons">content_copy</i>
                                                                    </button>
                                                                </a>


                                                                <a _ngcontent-ovg-c40="" class="btn btn-info mr-2"
                                                                    title="Edit order"
                                                                    href="/editOrders/<%= item.id %>"><i
                                                                        _ngcontent-ovg-c40=""
                                                                        class="material-icons">border_color</i></a>
                                                                <button
                                                                    onclick="window.location.href='/deleteOrders/<%= item.id %>'"
                                                                    _ngcontent-ovg-c40="" class="btn btn-danger"><i
                                                                        _ngcontent-ovg-c40=""
                                                                        class="material-icons">delete_forever</i></button>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <% }) }%>
                                                        <!---->
                                        </tbody>
                                    </table>
                                    <center>
                                        <a href="javascript:prevPage()" id="btn_prev">Prev</a>
                                        <strong> Page:</strong> <span id="page"></span>
                                        <a href="javascript:nextPage()" id="btn_next">Next</a>
                                    </center>
                                </div>
                                <!----
                      <div _ngcontent-ovg-c40="" class="container">
                          <div _ngcontent-ovg-c40="" class="d-flex justify-content-center">
                              <nav _ngcontent-ovg-c40="" aria-label="Page navigation example">
                                  <ul _ngcontent-ovg-c40="" class="pagination">
                                      <li _ngcontent-ovg-c40="" class="page-item active ng-star-inserted"><a _ngcontent-ovg-c40="" class="page-link">1</a></li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                      <div _ngcontent-ovg-c40="" class="text-center" hidden="">
                          <div _ngcontent-ovg-c40="" role="status" class="spinner-border"><span _ngcontent-ovg-c40="" class="sr-only">Loading...</span></div>
                      </div>
                  </div>
                                      ---->


                                <!-- /.progress-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $('.scroll1').on('scroll', function (e) {
                    $('.scroll2').scrollLeft($('.scroll1').scrollLeft());
                });
                $('.scroll2').on('scroll', function (e) {
                    $('.scroll1').scrollLeft($('.scroll2').scrollLeft());
                });
            });

            $('.div1').width($('table').width());

        });
    </script>