<link rel="stylesheet" type="text/css" href="../js/jsonViewer/json-viewer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<style>
    .iti__country-list {
        background-color: #343a40;
    }


    .phone1 {
        background-color: #343a40;
        visibility: hidden !important;
    }

    .phone2 {
        background-color: #343a40;
        position: absolute;
        top: 0;
        left: 50px;
        width: calc(100% - 54px);
        border-color: transparent;
    }

    /* enable absolute positioning */
    .inner-addon {
        position: relative;
    }

    /* style icon */
    .inner-addon .material-icons {
        position: absolute;
        padding: 5px;
        pointer-events: none;
    }

    /* align icon */
    .left-addon .material-icons {
        left: 0px;
    }

    /* add padding  */
    .left-addon input {
        padding-left: 30px;
    }

    .right-addon input {
        padding-right: 30px;
    }


    .input-icon {
        position: relative;
    }

    .input-icon>i {
        position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 50%;
        pointer-events: none;
        width: 25px;
        text-align: center;
        font-style: normal;
    }

    .input-icon>input {
        padding-left: 25px;
        padding-right: 0;
    }

    .input-icon-right>i {
        right: 0;
    }

    .input-icon-right>input {
        padding-left: 0;
        padding-right: 25px;
        text-align: right;
    }

    .input-icon2-right>input {
        padding-left: 0;
        padding-right: 25px;
        text-align: right;
    }

    .input-icon2 {
        position: relative;
    }

    .input-icon2>i {
        position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 50%;
        pointer-events: none;
        width: 45px;
        text-align: center;
        font-style: normal;
    }

    .input-icon2>input {
        padding-left: 45px;
        padding-right: 0;
    }

    .input-icon2-right>i {
        right: 0;
    }

    .input-icon2-right>input {
        padding-left: 0;
        padding-right: 25px;
        text-align: right;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<div class="container-fluid form-content pt-2 pb-3">
    <div class="form-header d-flex align-items-center justify-content-between border">
        <h4>Create Order</h4><a routerlink="/orders" class="btn btn-outline-secondary mr-2" href="/orders">Orders</a>
    </div>
    <div class="bg-dark border shadow">
        <div class="m-2">
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <div role="alert" class="alert alert-warning" hidden=""> </div>
                </div>
            </div>
            <form action="#" method="post">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h3>Data User:</h3>
                        <div class="form-row">
                            <div class="col-md-6 col-sm-12"><label>First Name: </label></div>
                            <div class="col-md-6 col-sm-12">
                                <input type="text" placeholder="First Name" class="form-control" name="firstName"
                                    required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 col-sm-12"><label>Last Name: </label></div>
                            <div class="col-md-6 col-sm-12">
                                <input type="text" placeholder="Last Name" class="form-control" name="lastName"
                                    required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 col-sm-12"><label>Email: </label></div>
                            <div class="col-md-6 col-sm-12">
                                <input type="email" placeholder="Email" class="form-control" name="email" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 col-sm-12"><label>Phone: </label></div>
                            <div class="col-md-6 col-sm-12">
                                <div class="phone-container">
                                    <input type="tel" class="form-control phone1" id="PhoneNumber1">
                                    <input type="tel" class="form-control phone2" name="phone" id="PhoneNumber2"
                                        required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h3>Shipping Address:</h3>
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-12">
                                        <label>Country: </label>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" name="shippingCountry" id="shippingCountrytxt"
                                            style="display: none">
                                        <select class="select2" required id="shippingCountry"
                                            data-placeholder="Choose country"
                                            onchange="selectShippingCountry(this.value)">
                                            <option value="" selected disabled>Choose country</option>
                                            <option value='AF'>AFGHANISTAN</option>
                                            <option value='AL'>ALBANIA</option>
                                            <option value='DZ'>ALGERIA</option>
                                            <option value='AS'>AMERICAN SAMOA</option>
                                            <option value='AD'>ANDORRA</option>
                                            <option value='AO'>ANGOLA</option>
                                            <option value='AQ'>ANTARCTICA</option>
                                            <option value='AG'>ANTIGUA AND BARBUDA</option>
                                            <option value='AR'>ARGENTINA</option>
                                            <option value='AM'>ARMENIA</option>
                                            <option value='AW'>ARUBA</option>
                                            <option value='AU'>AUSTRALIA</option>
                                            <option value='AT'>AUSTRIA</option>
                                            <option value='AZ'>AZERBAIJAN</option>
                                            <option value='BS'>BAHAMAS</option>
                                            <option value='BH'>BAHRAIN</option>
                                            <option value='BD'>BANGLADESH</option>
                                            <option value='BB'>BARBADOS</option>
                                            <option value='BY'>BELARUS</option>
                                            <option value='BE'>BELGIUM</option>
                                            <option value='BZ'>BELIZE</option>
                                            <option value='BJ'>BENIN</option>
                                            <option value='BM'>BERMUDA</option>
                                            <option value='BT'>BHUTAN</option>
                                            <option value='BO'>BOLIVIA</option>
                                            <option value='BA'>BOSNIA AND HERZEGOVINA</option>
                                            <option value='BW'>BOTSWANA</option>
                                            <option value='BV'>BOUVET ISLAND</option>
                                            <option value='BR'>BRAZIL</option>
                                            <option value='IO'>BRITISH INDIAN OCEAN TERRITORY</option>
                                            <option value='BN'>BRUNEI DARUSSALAM</option>
                                            <option value='BG'>BULGARIA</option>
                                            <option value='BF'>BURKINA FASO</option>
                                            <option value='BI'>BURUNDI</option>
                                            <option value='KH'>CAMBODIA</option>
                                            <option value='CM'>CAMEROON</option>
                                            <option value='CA'>CANADA</option>
                                            <option value='CV'>CAPE VERDE</option>
                                            <option value='KY'>CAYMAN ISLANDS</option>
                                            <option value='CF'>CENTRAL AFRICAN REPUBLIC</option>
                                            <option value='TD'>CHAD</option>
                                            <option value='CL'>CHILE</option>
                                            <option value='CN'>CHINA</option>
                                            <option value='CX'>CHRISTMAS ISLAND</option>
                                            <option value='CC'>COCOS (KEELING) ISLANDS</option>
                                            <option value='CO'>COLOMBIA</option>
                                            <option value='KM'>COMOROS</option>
                                            <option value='CG'>CONGO</option>
                                            <option value='CD'>CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>
                                            <option value='CK'>COOK ISLANDS</option>
                                            <option value='CR'>COSTA RICA</option>
                                            <option value='CI'>CÔTE D'IVOIRE</option>
                                            <option value='HR'>CROATIA</option>
                                            <option value='CU'>CUBA</option>
                                            <option value='CY'>CYPRUS</option>
                                            <option value='CZ'>CZECH REPUBLIC</option>
                                            <option value='DK'>DENMARK</option>
                                            <option value='DJ'>DJIBOUTI</option>
                                            <option value='DM'>DOMINICA</option>
                                            <option value='DO'>DOMINICAN REPUBLIC</option>
                                            <option value='EC'>ECUADOR</option>
                                            <option value='EG'>EGYPT</option>
                                            <option value='SV'>EL SALVADOR</option>
                                            <option value='GQ'>EQUATORIAL GUINEA</option>
                                            <option value='ER'>ERITREA</option>
                                            <option value='EE'>ESTONIA</option>
                                            <option value='ET'>ETHIOPIA</option>
                                            <option value='FK'>FALKLAND ISLANDS (MALVINAS)</option>
                                            <option value='FO'>FAROE ISLANDS</option>
                                            <option value='FJ'>FIJI</option>
                                            <option value='FI'>FINLAND</option>
                                            <option value='FR'>FRANCE</option>
                                            <option value='GF'>FRENCH GUIANA</option>
                                            <option value='PF'>FRENCH POLYNESIA</option>
                                            <option value='TF'>FRENCH SOUTHERN TERRITORIES</option>
                                            <option value='GA'>GABON</option>
                                            <option value='GM'>GAMBIA</option>
                                            <option value='GE'>GEORGIA</option>
                                            <option value='DE'>GERMANY</option>
                                            <option value='GH'>GHANA</option>
                                            <option value='GI'>GIBRALTAR</option>
                                            <option value='GR'>GREECE</option>
                                            <option value='GL'>GREENLAND</option>
                                            <option value='GD'>GRENADA</option>
                                            <option value='GP'>GUADELOUPE</option>
                                            <option value='GU'>GUAM</option>
                                            <option value='GT'>GUATEMALA</option>
                                            <option value='GN'>GUINEA</option>
                                            <option value='GW'>GUINEA-BISSAU</option>
                                            <option value='GY'>GUYANA</option>
                                            <option value='HT'>HAITI</option>
                                            <option value='HM'>HEARD ISLAND AND MCDONALD ISLANDS</option>
                                            <option value='HN'>HONDURAS</option>
                                            <option value='HK'>HONG KONG</option>
                                            <option value='HU'>HUNGARY</option>
                                            <option value='IS'>ICELAND</option>
                                            <option value='IN'>INDIA</option>
                                            <option value='ID'>INDONESIA</option>
                                            <option value='IR'>IRAN, ISLAMIC REPUBLIC OF</option>
                                            <option value='IQ'>IRAQ</option>
                                            <option value='IE'>IRELAND</option>
                                            <option value='IL'>ISRAEL</option>
                                            <option value='IT'>ITALY</option>
                                            <option value='JM'>JAMAICA</option>
                                            <option value='JP'>JAPAN</option>
                                            <option value='JO'>JORDAN</option>
                                            <option value='KZ'>KAZAKHSTAN</option>
                                            <option value='KE'>KENYA</option>
                                            <option value='KI'>KIRIBATI</option>
                                            <option value='KP'>KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF</option>
                                            <option value='KR'>KOREA, REPUBLIC OF</option>
                                            <option value='KW'>KUWAIT</option>
                                            <option value='KG'>KYRGYZSTAN</option>
                                            <option value='LA'>LAO PEOPLE'S DEMOCRATIC REPUBLIC</option>
                                            <option value='LV'>LATVIA</option>
                                            <option value='LB'>LEBANON</option>
                                            <option value='LS'>LESOTHO</option>
                                            <option value='LR'>LIBERIA</option>
                                            <option value='LY'>LIBYAN ARAB JAMAHIRIYA</option>
                                            <option value='LI'>LIECHTENSTEIN</option>
                                            <option value='LT'>LITHUANIA</option>
                                            <option value='LU'>LUXEMBOURG</option>
                                            <option value='MO'>MACAO</option>
                                            <option value='MK'>MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
                                            <option value='MG'>MADAGASCAR</option>
                                            <option value='MW'>MALAWI</option>
                                            <option value='MY'>MALAYSIA</option>
                                            <option value='MV'>MALDIVES</option>
                                            <option value='ML'>MALI</option>
                                            <option value='MT'>MALTA</option>
                                            <option value='MH'>MARSHALL ISLANDS</option>
                                            <option value='MQ'>MARTINIQUE</option>
                                            <option value='MR'>MAURITANIA</option>
                                            <option value='MU'>MAURITIUS</option>
                                            <option value='YT'>MAYOTTE</option>
                                            <option value='MX'>MEXICO</option>
                                            <option value='FM'>MICRONESIA, FEDERATED STATES OF</option>
                                            <option value='MD'>MOLDOVA, REPUBLIC OF</option>
                                            <option value='MD'>MONACO</option>
                                            <option value='MN'>MONGOLIA</option>
                                            <option value='MS'>MONTSERRAT</option>
                                            <option value='MA'>MOROCCO</option>
                                            <option value='MZ'>MOZAMBIQUE</option>
                                            <option value='MM'>MYANMAR</option>
                                            <option value='NA'>NAMIBIA</option>
                                            <option value='NR'>NAURU</option>
                                            <option value='NP'>NEPAL</option>
                                            <option value='NL'>NETHERLANDS</option>
                                            <option value='AN'>NETHERLANDS ANTILLES</option>
                                            <option value='NC'>NEW CALEDONIA</option>
                                            <option value='NZ'>NEW ZEALAND</option>
                                            <option value='NI'>NICARAGUA</option>
                                            <option value='NE'>NIGER</option>
                                            <option value='NG'>NIGERIA</option>
                                            <option value='NU'>NIUE</option>
                                            <option value='NF'>NORFOLK ISLAND</option>
                                            <option value='MP'>NORTHERN MARIANA ISLANDS</option>
                                            <option value='NO'>NORWAY</option>
                                            <option value='OM'>OMAN</option>
                                            <option value='PK'>PAKISTAN</option>
                                            <option value='PW'>PALAU</option>
                                            <option value='PS'>PALESTINIAN TERRITORY, OCCUPIED</option>
                                            <option value='PA'>PANAMA</option>
                                            <option value='PG'>PAPUA NEW GUINEA</option>
                                            <option value='PY'>PARAGUAY</option>
                                            <option value='PE'>PERU</option>
                                            <option value='PH'>PHILIPPINES</option>
                                            <option value='PN'>PITCAIRN</option>
                                            <option value='PL'>POLAND</option>
                                            <option value='PR'>PUERTO RICO</option>
                                            <option value='QA'>QATAR</option>
                                            <option value='RE'>RÉUNION</option>
                                            <option value='RO'>ROMANIA</option>
                                            <option value='RU'>RUSSIAN FEDERATION</option>
                                            <option value='RW'>RWANDA</option>
                                            <option value='SH'>SAINT HELENA</option>
                                            <option value='KN'>SAINT KITTS AND NEVIS</option>
                                            <option value='LC'>SAINT LUCIA</option>
                                            <option value='PM'>SAINT PIERRE AND MIQUELON</option>
                                            <option value='VC'>SAINT VINCENT AND THE GRENADINES</option>
                                            <option value='WS'>SAMOA</option>
                                            <option value='SM'>SAN MARINO</option>
                                            <option value='ST'>SAO TOME AND PRINCIPE</option>
                                            <option value='SA'>SAUDI ARABIA</option>
                                            <option value='SN'>SENEGAL</option>
                                            <option value='CS'>SERBIA AND MONTENEGRO</option>
                                            <option value='SC'>SEYCHELLES</option>
                                            <option value='SL'>SIERRA LEONE</option>
                                            <option value='SG'>SINGAPORE</option>
                                            <option value='SK'>SLOVAKIA</option>
                                            <option value='SI'>SLOVENIA</option>
                                            <option value='SB'>SOLOMON ISLANDS</option>
                                            <option value='SO'>SOMALIA</option>
                                            <option value='ZA'>SOUTH AFRICA</option>
                                            <option value='GS'>SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
                                            <option value='ES'>SPAIN</option>
                                            <option value='LK'>SRI LANKA</option>
                                            <option value='SD'>SUDAN</option>
                                            <option value='SR'>SURINAME</option>
                                            <option value='SJ'>SVALBARD AND JAN MAYEN</option>
                                            <option value='SZ'>SWAZILAND</option>
                                            <option value='SE'>SWEDEN</option>
                                            <option value='CH'>SWITZERLAND</option>
                                            <option value='SY'>SYRIAN ARAB REPUBLIC</option>
                                            <option value='TW'>TAIWAN, PROVINCE OF CHINA</option>
                                            <option value='TJ'>TAJIKISTAN</option>
                                            <option value='TZ'>TANZANIA, UNITED REPUBLIC OF</option>
                                            <option value='TH'>THAILAND</option>
                                            <option value='TL'>TIMOR-LESTE</option>
                                            <option value='TG'>TOGO</option>
                                            <option value='TK'>TOKELAU</option>
                                            <option value='TO'>TONGA</option>
                                            <option value='TT'>TRINIDAD AND TOBAGO</option>
                                            <option value='TN'>TUNISIA</option>
                                            <option value='TR'>TURKEY</option>
                                            <option value='TM'>TURKMENISTAN</option>
                                            <option value='TC'>TURKS AND CAICOS ISLANDS</option>
                                            <option value='TV'>TUVALU</option>
                                            <option value='UG'>UGANDA</option>
                                            <option value='UA'>UKRAINE</option>
                                            <option value='AE'>UNITED ARAB EMIRATES</option>
                                            <option value='GB'>UNITED KINGDOM</option>
                                            <option value='US'>UNITED STATES</option>
                                            <option value='UM'>UNITED STATES MINOR OUTLYING ISLANDS</option>
                                            <option value='UY'>URUGUAY</option>
                                            <option value='UZ'>UZBEKISTAN</option>
                                            <option value='VU'>VANUATU</option>
                                            <option value='VE'>VENEZUELA</option>
                                            <option value='VN'>VIET NAM</option>
                                            <option value='VG'>VIRGIN ISLANDS, BRITISH</option>
                                            <option value='VI'>VIRGIN ISLANDS, U.S.</option>
                                            <option value='WF'>WALLIS AND FUTUNA</option>
                                            <option value='EH'>WESTERN SAHARA</option>
                                            <option value='YE'>YEMEN</option>
                                            <option value='ZM'>ZAMBIA</option>
                                            <option value='ZW'>ZIMBABWE</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-12"><label>State: </label></div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" placeholder="State" class="form-control" name="shippingState"
                                            required id="state">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-12"><label>City: </label></div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" placeholder="City" class="form-control" name="shippingCity"
                                            required id="city">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-12"><label>Address Line1: </label></div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" placeholder="Address Line 1" class="form-control" required
                                            name="shippingAddressLine1" id="addressLine1">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-12"><label>Address Line2 (Optional):
                                        </label></div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" placeholder="Address Line 2" class="form-control"
                                            name="shippingAddressLine2" id="addressLine2">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-12"><label>Zip Code(Optional): </label>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" placeholder="Zip Code" class="form-control"
                                            name="shippingZipCode" id="zipCode">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h3>Billing Address:</h3>
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-12">
                                        <label>Country: </label>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" name="billingCountry" id="billingCountrytxt"
                                            style="display: none">
                                        <select id="selectbillingCountry" class="select2"
                                            onchange="selectBillingCountry(this.value)" required
                                            data-placeholder="Choose country">
                                            <option value="" selected disabled>Choose country</option>
                                            <option value='AF'>AFGHANISTAN</option>
                                            <option value='AL'>ALBANIA</option>
                                            <option value='DZ'>ALGERIA</option>
                                            <option value='AS'>AMERICAN SAMOA</option>
                                            <option value='AD'>ANDORRA</option>
                                            <option value='AO'>ANGOLA</option>
                                            <option value='AQ'>ANTARCTICA</option>
                                            <option value='AG'>ANTIGUA AND BARBUDA</option>
                                            <option value='AR'>ARGENTINA</option>
                                            <option value='AM'>ARMENIA</option>
                                            <option value='AW'>ARUBA</option>
                                            <option value='AU'>AUSTRALIA</option>
                                            <option value='AT'>AUSTRIA</option>
                                            <option value='AZ'>AZERBAIJAN</option>
                                            <option value='BS'>BAHAMAS</option>
                                            <option value='BH'>BAHRAIN</option>
                                            <option value='BD'>BANGLADESH</option>
                                            <option value='BB'>BARBADOS</option>
                                            <option value='BY'>BELARUS</option>
                                            <option value='BE'>BELGIUM</option>
                                            <option value='BZ'>BELIZE</option>
                                            <option value='BJ'>BENIN</option>
                                            <option value='BM'>BERMUDA</option>
                                            <option value='BT'>BHUTAN</option>
                                            <option value='BO'>BOLIVIA</option>
                                            <option value='BA'>BOSNIA AND HERZEGOVINA</option>
                                            <option value='BW'>BOTSWANA</option>
                                            <option value='BV'>BOUVET ISLAND</option>
                                            <option value='BR'>BRAZIL</option>
                                            <option value='IO'>BRITISH INDIAN OCEAN TERRITORY</option>
                                            <option value='BN'>BRUNEI DARUSSALAM</option>
                                            <option value='BG'>BULGARIA</option>
                                            <option value='BF'>BURKINA FASO</option>
                                            <option value='BI'>BURUNDI</option>
                                            <option value='KH'>CAMBODIA</option>
                                            <option value='CM'>CAMEROON</option>
                                            <option value='CA'>CANADA</option>
                                            <option value='CV'>CAPE VERDE</option>
                                            <option value='KY'>CAYMAN ISLANDS</option>
                                            <option value='CF'>CENTRAL AFRICAN REPUBLIC</option>
                                            <option value='TD'>CHAD</option>
                                            <option value='CL'>CHILE</option>
                                            <option value='CN'>CHINA</option>
                                            <option value='CX'>CHRISTMAS ISLAND</option>
                                            <option value='CC'>COCOS (KEELING) ISLANDS</option>
                                            <option value='CO'>COLOMBIA</option>
                                            <option value='KM'>COMOROS</option>
                                            <option value='CG'>CONGO</option>
                                            <option value='CD'>CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>
                                            <option value='CK'>COOK ISLANDS</option>
                                            <option value='CR'>COSTA RICA</option>
                                            <option value='CI'>CÔTE D'IVOIRE</option>
                                            <option value='HR'>CROATIA</option>
                                            <option value='CU'>CUBA</option>
                                            <option value='CY'>CYPRUS</option>
                                            <option value='CZ'>CZECH REPUBLIC</option>
                                            <option value='DK'>DENMARK</option>
                                            <option value='DJ'>DJIBOUTI</option>
                                            <option value='DM'>DOMINICA</option>
                                            <option value='DO'>DOMINICAN REPUBLIC</option>
                                            <option value='EC'>ECUADOR</option>
                                            <option value='EG'>EGYPT</option>
                                            <option value='SV'>EL SALVADOR</option>
                                            <option value='GQ'>EQUATORIAL GUINEA</option>
                                            <option value='ER'>ERITREA</option>
                                            <option value='EE'>ESTONIA</option>
                                            <option value='ET'>ETHIOPIA</option>
                                            <option value='FK'>FALKLAND ISLANDS (MALVINAS)</option>
                                            <option value='FO'>FAROE ISLANDS</option>
                                            <option value='FJ'>FIJI</option>
                                            <option value='FI'>FINLAND</option>
                                            <option value='FR'>FRANCE</option>
                                            <option value='GF'>FRENCH GUIANA</option>
                                            <option value='PF'>FRENCH POLYNESIA</option>
                                            <option value='TF'>FRENCH SOUTHERN TERRITORIES</option>
                                            <option value='GA'>GABON</option>
                                            <option value='GM'>GAMBIA</option>
                                            <option value='GE'>GEORGIA</option>
                                            <option value='DE'>GERMANY</option>
                                            <option value='GH'>GHANA</option>
                                            <option value='GI'>GIBRALTAR</option>
                                            <option value='GR'>GREECE</option>
                                            <option value='GL'>GREENLAND</option>
                                            <option value='GD'>GRENADA</option>
                                            <option value='GP'>GUADELOUPE</option>
                                            <option value='GU'>GUAM</option>
                                            <option value='GT'>GUATEMALA</option>
                                            <option value='GN'>GUINEA</option>
                                            <option value='GW'>GUINEA-BISSAU</option>
                                            <option value='GY'>GUYANA</option>
                                            <option value='HT'>HAITI</option>
                                            <option value='HM'>HEARD ISLAND AND MCDONALD ISLANDS</option>
                                            <option value='HN'>HONDURAS</option>
                                            <option value='HK'>HONG KONG</option>
                                            <option value='HU'>HUNGARY</option>
                                            <option value='IS'>ICELAND</option>
                                            <option value='IN'>INDIA</option>
                                            <option value='ID'>INDONESIA</option>
                                            <option value='IR'>IRAN, ISLAMIC REPUBLIC OF</option>
                                            <option value='IQ'>IRAQ</option>
                                            <option value='IE'>IRELAND</option>
                                            <option value='IL'>ISRAEL</option>
                                            <option value='IT'>ITALY</option>
                                            <option value='JM'>JAMAICA</option>
                                            <option value='JP'>JAPAN</option>
                                            <option value='JO'>JORDAN</option>
                                            <option value='KZ'>KAZAKHSTAN</option>
                                            <option value='KE'>KENYA</option>
                                            <option value='KI'>KIRIBATI</option>
                                            <option value='KP'>KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF</option>
                                            <option value='KR'>KOREA, REPUBLIC OF</option>
                                            <option value='KW'>KUWAIT</option>
                                            <option value='KG'>KYRGYZSTAN</option>
                                            <option value='LA'>LAO PEOPLE'S DEMOCRATIC REPUBLIC</option>
                                            <option value='LV'>LATVIA</option>
                                            <option value='LB'>LEBANON</option>
                                            <option value='LS'>LESOTHO</option>
                                            <option value='LR'>LIBERIA</option>
                                            <option value='LY'>LIBYAN ARAB JAMAHIRIYA</option>
                                            <option value='LI'>LIECHTENSTEIN</option>
                                            <option value='LT'>LITHUANIA</option>
                                            <option value='LU'>LUXEMBOURG</option>
                                            <option value='MO'>MACAO</option>
                                            <option value='MK'>MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
                                            <option value='MG'>MADAGASCAR</option>
                                            <option value='MW'>MALAWI</option>
                                            <option value='MY'>MALAYSIA</option>
                                            <option value='MV'>MALDIVES</option>
                                            <option value='ML'>MALI</option>
                                            <option value='MT'>MALTA</option>
                                            <option value='MH'>MARSHALL ISLANDS</option>
                                            <option value='MQ'>MARTINIQUE</option>
                                            <option value='MR'>MAURITANIA</option>
                                            <option value='MU'>MAURITIUS</option>
                                            <option value='YT'>MAYOTTE</option>
                                            <option value='MX'>MEXICO</option>
                                            <option value='FM'>MICRONESIA, FEDERATED STATES OF</option>
                                            <option value='MD'>MOLDOVA, REPUBLIC OF</option>
                                            <option value='MD'>MONACO</option>
                                            <option value='MN'>MONGOLIA</option>
                                            <option value='MS'>MONTSERRAT</option>
                                            <option value='MA'>MOROCCO</option>
                                            <option value='MZ'>MOZAMBIQUE</option>
                                            <option value='MM'>MYANMAR</option>
                                            <option value='NA'>NAMIBIA</option>
                                            <option value='NR'>NAURU</option>
                                            <option value='NP'>NEPAL</option>
                                            <option value='NL'>NETHERLANDS</option>
                                            <option value='AN'>NETHERLANDS ANTILLES</option>
                                            <option value='NC'>NEW CALEDONIA</option>
                                            <option value='NZ'>NEW ZEALAND</option>
                                            <option value='NI'>NICARAGUA</option>
                                            <option value='NE'>NIGER</option>
                                            <option value='NG'>NIGERIA</option>
                                            <option value='NU'>NIUE</option>
                                            <option value='NF'>NORFOLK ISLAND</option>
                                            <option value='MP'>NORTHERN MARIANA ISLANDS</option>
                                            <option value='NO'>NORWAY</option>
                                            <option value='OM'>OMAN</option>
                                            <option value='PK'>PAKISTAN</option>
                                            <option value='PW'>PALAU</option>
                                            <option value='PS'>PALESTINIAN TERRITORY, OCCUPIED</option>
                                            <option value='PA'>PANAMA</option>
                                            <option value='PG'>PAPUA NEW GUINEA</option>
                                            <option value='PY'>PARAGUAY</option>
                                            <option value='PE'>PERU</option>
                                            <option value='PH'>PHILIPPINES</option>
                                            <option value='PN'>PITCAIRN</option>
                                            <option value='PL'>POLAND</option>
                                            <option value='PR'>PUERTO RICO</option>
                                            <option value='QA'>QATAR</option>
                                            <option value='RE'>RÉUNION</option>
                                            <option value='RO'>ROMANIA</option>
                                            <option value='RU'>RUSSIAN FEDERATION</option>
                                            <option value='RW'>RWANDA</option>
                                            <option value='SH'>SAINT HELENA</option>
                                            <option value='KN'>SAINT KITTS AND NEVIS</option>
                                            <option value='LC'>SAINT LUCIA</option>
                                            <option value='PM'>SAINT PIERRE AND MIQUELON</option>
                                            <option value='VC'>SAINT VINCENT AND THE GRENADINES</option>
                                            <option value='WS'>SAMOA</option>
                                            <option value='SM'>SAN MARINO</option>
                                            <option value='ST'>SAO TOME AND PRINCIPE</option>
                                            <option value='SA'>SAUDI ARABIA</option>
                                            <option value='SN'>SENEGAL</option>
                                            <option value='CS'>SERBIA AND MONTENEGRO</option>
                                            <option value='SC'>SEYCHELLES</option>
                                            <option value='SL'>SIERRA LEONE</option>
                                            <option value='SG'>SINGAPORE</option>
                                            <option value='SK'>SLOVAKIA</option>
                                            <option value='SI'>SLOVENIA</option>
                                            <option value='SB'>SOLOMON ISLANDS</option>
                                            <option value='SO'>SOMALIA</option>
                                            <option value='ZA'>SOUTH AFRICA</option>
                                            <option value='GS'>SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
                                            <option value='ES'>SPAIN</option>
                                            <option value='LK'>SRI LANKA</option>
                                            <option value='SD'>SUDAN</option>
                                            <option value='SR'>SURINAME</option>
                                            <option value='SJ'>SVALBARD AND JAN MAYEN</option>
                                            <option value='SZ'>SWAZILAND</option>
                                            <option value='SE'>SWEDEN</option>
                                            <option value='CH'>SWITZERLAND</option>
                                            <option value='SY'>SYRIAN ARAB REPUBLIC</option>
                                            <option value='TW'>TAIWAN, PROVINCE OF CHINA</option>
                                            <option value='TJ'>TAJIKISTAN</option>
                                            <option value='TZ'>TANZANIA, UNITED REPUBLIC OF</option>
                                            <option value='TH'>THAILAND</option>
                                            <option value='TL'>TIMOR-LESTE</option>
                                            <option value='TG'>TOGO</option>
                                            <option value='TK'>TOKELAU</option>
                                            <option value='TO'>TONGA</option>
                                            <option value='TT'>TRINIDAD AND TOBAGO</option>
                                            <option value='TN'>TUNISIA</option>
                                            <option value='TR'>TURKEY</option>
                                            <option value='TM'>TURKMENISTAN</option>
                                            <option value='TC'>TURKS AND CAICOS ISLANDS</option>
                                            <option value='TV'>TUVALU</option>
                                            <option value='UG'>UGANDA</option>
                                            <option value='UA'>UKRAINE</option>
                                            <option value='AE'>UNITED ARAB EMIRATES</option>
                                            <option value='GB'>UNITED KINGDOM</option>
                                            <option value='US'>UNITED STATES</option>
                                            <option value='UM'>UNITED STATES MINOR OUTLYING ISLANDS</option>
                                            <option value='UY'>URUGUAY</option>
                                            <option value='UZ'>UZBEKISTAN</option>
                                            <option value='VU'>VANUATU</option>
                                            <option value='VE'>VENEZUELA</option>
                                            <option value='VN'>VIET NAM</option>
                                            <option value='VG'>VIRGIN ISLANDS, BRITISH</option>
                                            <option value='VI'>VIRGIN ISLANDS, U.S.</option>
                                            <option value='WF'>WALLIS AND FUTUNA</option>
                                            <option value='EH'>WESTERN SAHARA</option>
                                            <option value='YE'>YEMEN</option>
                                            <option value='ZM'>ZAMBIA</option>
                                            <option value='ZW'>ZIMBABWE</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-12"><label>State: </label></div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" placeholder="State" class="form-control" name="billingState"
                                            required id="state">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-12"><label>City: </label></div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" placeholder="City" class="form-control" name="billingCity"
                                            required id="city">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-12"><label>Address Line1: </label></div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" placeholder="Address Line 1" class="form-control" required
                                            name="billingAddressLine1" id="addressLine1">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-12"><label>Address Line2 (Optional):
                                        </label></div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" placeholder="Address Line 2" class="form-control"
                                            name="billingAddressLine2" id="addressLine2">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-12"><label>Zip Code(Optional): </label>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" placeholder="Zip Code" class="form-control"
                                            name="billingZipCode" id="zipCode">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <h4>LIST OF PRODUCTS</h4>
                        <select id="products" class="select2" data-placeholder="Search products"
                            onchange="addProduct(this.value)">
                            <option value="" selected="selected" disabled></option>
                            <% products.forEach(function (element, index ) { %>
                                <option value="<%= element.id %>">
                                    <%= element.localSku %>
                                        <%= element.name %>
                                </option>
                                <% });%>
                        </select>
                        <div id="selectedProducts" style="display: none"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div id="OrderDetail"></div>
                    </div>
                </div>
                <br /><br />

                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <h4>TOTAL</h4>
                    </div>
                    <div class="col-md-12 col-sm-12 ">
                        <div class="form-row">
                            <div class="col-md-6 col-sm-6"></div>
                            <div class="col-md-6 col-sm-6 text-center">
                                <div class="form-row">
                                    <div class="col-md-4 col-sm-4 text-center">
                                        <label class="text-muted">Subtotal:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 text-center">
                                        <div class="input-icon">
                                            <input type="text" id="grandSubtotal" class="form-control" value="0.00"
                                                readonly>
                                            <i>$</i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-4 col-sm-4 text-center">
                                        <label class="text-muted">Tax:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 text-center">
                                        <div class="input-group">
                                            <input type="text" name="tax" id="tax" class="form-control" value="0.00">
                                            <div class="input-group-append"><span class="input-group-text">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-row">
                                    <div class="col-md-4 col-sm-4 text-center">
                                        <label class="text-muted">Total discount:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 text-center">
                                        <div class="input-group">
                                            <input type="text" id="grandDiscount" class="form-control" value="0.00"
                                                readonly>
                                            <div class="input-group-append"><span class="input-group-text">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-row">
                                    <div class="col-md-4 col-sm-4 text-center">
                                        <label class="text-muted"><strong>TOTAL:</strong></label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 text-center">
                                        <div class="input-icon">
                                            <input type="text" name="grandTotal" id="grandTotal" class="form-control"
                                                value="0.00" readonly>
                                            <i>$</i>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-md-2 col-sm-2 ">
                        <h4>Notes:</h4>
                    </div>
                    <div class="col-md-10 col-sm-10 ">
                        <textarea name="notes" id="notes" cols="30" width="100%" class="form-control"
                            rows="2"></textarea>
                    </div>
                </div>
                <br /><br />

                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <h4>TRACKING</h4>
                    </div>
                    <div class="col-md-12 col-sm-12 ">
                        <div class="form-row mt-4 ">
                            <label class="col-sm-2 col-form-label col-form-label-sm">
                                Name - Number Id:
                            </label>
                            <div class="col s-12 m-6">
                                <input type="text" class="form-control" name="name" id="name">
                            </div>
                            <div class="col s-12 m-6">
                                <input type="text" class="form-control" name="number" id="number">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 ">
                        <div class="form-row mt-4 ">
                            <label class="col-sm-2 col-form-label col-form-label-sm">
                                Url:
                            </label>
                            <div class="col s-12 m-6">
                                <input type="text" class="form-control" name="url" id="url">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 ">
                        <div class="form-row mt-4 ">
                            <label class="col-sm-2 col-form-label col-form-label-sm">
                                Departure Date - Departure Time:
                            </label>
                            <div class="col s-6 m-6">
                                <input type="date" name="departureDate" placeholder="Enter departure date"
                                    class="form-input-date form-control ng-pristine ng-valid ng-touched">
                            </div>
                            <div class="col s-6 m-6">
                                <input type="time" name="departureTime" placeholder="Enter departure time"
                                    class="form-input-time ng-untouched form-control ng-pristine ng-valid">
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />

                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <h4>PAYPAL TRANSACTION RESULT</h4>
                    </div>
                    <!--
                    <div class="col-md-12 col-sm-12">
                        <div class="form-row mt-12">
                            <label class="col-sm-2 col-form-label col-form-label-sm">
                                Order ID:
                            </label>
                            <div class="col s-12 m-12">
                                <input type="text" name="orderId" id="orderId" class="form-control">
                            </div>
                        </div>
                    </div>
                    !-->
                    <div class="col-md-12 col-sm-12">
                        <div class="form-row mt-12">
                            <label class="col-sm-2 col-form-label col-form-label-sm">
                                Paypal ID:
                            </label>
                            <div class="col s-12 m-12">
                                <input type="text" name="paypalId" id="paypalId" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="form-row mt-12 text-center">
                            <button type="button" class="btn btn-primary " data-toggle="modal" id="btnPaypal"
                                style="display:none" data-target="#modalPaypal">
                                Detail
                            </button>
                        </div>

                    </div>
                </div>
                <br /><br />

                <div class="row">
                    <div class="modal fade" id="modalPaypal" tabindex="-1" role="dialog" style="padding: 0%;"
                        aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">PAYPAL DETAIL</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                        onClick="">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="height: 500px;padding: 0.2rem;">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <textarea style="width: 100%; min-height: 490px;" name="detail"
                                                        id="detail"></textarea>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <p>Output:</p>
                                                    <div id="json"
                                                        style="max-height: 440px;display: flex; background-color: white;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <button type="button" id="load-json"
                                        onclick="setJSON();jsonViewer.showJSON(jsonObj);"
                                        class="load-json load-json btn btn-secondary">
                                        Update detail
                                    </button>

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="d-flex flex-row-reverse bd-highlight mt-3">
                    <div class="p-2 bd-highlight"><input type="reset" value="Reset" class="btn btn-danger"></div>
                    <div class="p-2 bd-highlight">
                        <input type="submit" value="Save" class="btn btn-success">
                        <app-loading hidden=""><button type="button" disabled="" class="btn btn-sending">
                                <span role="status" aria-hidden="true" class="spinner-border spinner-border-sm"></span>
                                Sending...
                            </button>
                        </app-loading>
                    </div>
                </div>
            </form>

            <div class="alert alert-info" style="display: none;"></div>

        </div>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" style="padding: 0%;" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="dialog">
        <div class="modal-content">
            <div class="modal-body" style="height: 500px;padding: 0.2rem;">
                <iframe src="" name="myIframe" id="myIframe" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalVideo" tabindex="-1" role="dialog" style="padding: 0%;" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="dialog">
        <div class="modal-content">
            <div class="modal-body" style="height: 500px;padding: 0.2rem;">
                <iframe src="" name="iframeVideo" id="iframeVideo" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalInventory" tabindex="-1" role="dialog" style="padding: 0%;"
    aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="dialog">
        <div class="modal-content">
            <div class="modal-body" style="height: 500px;padding: 0.2rem; overflow: scroll;">
                <h4>SELECT A STONE</h4>

                <div class="inner-addon left-addon">
                    <i class="material-icons">search</i>
                    <input type="search" id="search" class="form-control" style="width: 100%"
                        placeholder="Search gemstones / diamonds" class="ng-pristine ng-valid ng-touched">
                </div>



                <table id="inventory" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">Stock #</th>
                            <th class="th-sm">Shape</th>
                            <th class="th-sm">Carat</th>
                            <th class="th-sm">Color</th>
                            <th class="th-sm">Cut</th>
                            <th class="th-sm">Size</th>
                            <th class="th-sm">Price</th>
                            <th class="th-sm">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="listingTable">
                        <% inventory.forEach(function (element, index ) { %>

                            <tr>
                                <td>
                                    <%= element.stockNo %>
                                </td>
                                <td>
                                    <%= element.shape %>
                                </td>
                                <td>
                                    <%= element.weight %>
                                </td>
                                <td>
                                    <%= element.color %>
                                </td>
                                <td>
                                    <%= element.cutGrade %>
                                </td>
                                <td>
                                    <%= element.measurements %>
                                </td>
                                <td>$ <%= element.buyPriceTotal %>
                                </td>
                                <td> <button type="button" class="btn btn-primary btnSelectGem" id="btnSelectGem"
                                        data-dismiss="modal" index="0"
                                        onclick="selectGem('<%= element.stockNo %>', '<%= element.buyPriceTotal %>', '<%= element.videoLink %>', '<%= element.imageLink %>', this, '<%= element.id %>')">Select</button>
                                </td>
                            </tr>

                            <% });%>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/jsonviewer/json-viewer.js"></script>
<script src="https://jsuites.net/v4/jsuites.js"></script>

<script>
    const snackbar = document.getElementById("snackbar");
    const phoneInputField = document.getElementById('PhoneNumber1');
    const phoneInput = intlTelInput(phoneInputField, {
        initialCountry: "us",
        preferredCountries: ["us", "ec", "co", "ca"],
        autoHideDialCode: false,
        autoPlaceholder: "aggressive",
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
    });
    const info = document.querySelector(".alert-info");

    // function that uses intl-tel-input format as jQuery-Mask
    function initMasking(formatterInput, maskedInput) {
        // get the format fromt intl-tel-input placeholder
        var format = $(formatterInput).attr('placeholder');
        var countryData = phoneInput.getSelectedCountryData();
        // use the format as placeholder to jQuery-Mask input
        if (format != "") {
            $(maskedInput).attr('placeholder', "+" + countryData.dialCode + " " + format);
            console.log(format);
            format = format.replace(/[1-9]/g, 0);
            format = "+" + countryData.dialCode + " " + format;
            console.log(format);
            $(maskedInput).attr("data-mask", format);
        }

    }
    $("#PhoneNumber1").on("countrychange", function (e, countryData) {
        $(this).val('');
        $("#PhoneNumber2").val('');
        // update the mask
        initMasking("#PhoneNumber1", "#PhoneNumber2");
    });
    // initialize the mask
    $(document).ready(function ($) {
        setTimeout(function () {
            initMasking("#PhoneNumber1", "#PhoneNumber2");
        }, 1000);
    });

    //for json viewer
    var textarea = document.getElementById("detail");
    var jsonObj = {};
    var jsonViewer = new JSONViewer();
    document.querySelector("#json").appendChild(jsonViewer.getContainer());
    var setJSON = function () {
        try {
            var value = textarea.value;
            jsonObj = JSON.parse(value);
        } catch (err) {
            alert(err);
        }
    };


    var cont = 0;
    function addProduct(select) {
        var order_detail = $("#OrderDetail");
        var html = "";
        $.post("../getProductInfo",
            { Id: select },
            function (data) {
                html = '<div id="' + data.productInfo.local_sku + '" <h5 class="card-header"> <strong> ' + data.productInfo.name + ' </strong> </h5>' +
                    '<div class="card-body"><div  class="row"><div  class="col-md-6 col-sm-12">' +

                    '<div class="form-row"><div class="col-md-6 col-sm-12">' +
                    '<label>Supplier SKU:</label></div><div class="col-md-6 col-sm-12"><label class="text-muted">'
                    + data.productInfo.supplier_sku +
                    ' </label></div> </div>' +

                    '<input type="number" style="display:none" readonly id="manufacturer' + cont + '" value="' + data.productInfo.manufacturer + '" />' +

                    '<input type="text" style="display:none" readonly name="productName[]" id="productName' + cont + '" value="' + data.productInfo.name + '" />' +
                    '<input type="number" style="display:none" readonly name="grams[]" id="gramsWeight' + cont + '" value="' + data.productInfo.grams_weight + '" />' +
                    '<input type="text" style="display:none" readonly name="supplierSku[]" id="supplierSku' + cont + '" value="' + data.productInfo.supplier_sku + '" />' +
                    '<input type="number" style="display:none" readonly id="metalPrice' + cont + '" value="0" />' +
                    '<input type="number" style="display:none" readonly id="stoneColorPrice' + cont + '"  value="0" />' +
                    '<input type="number" style="display:none" readonly name="gemstoneId[]" id="gemstoneId' + cont + '"  />' +


                    '<input style="display:none" readonly name="metal[' + cont + ']" id="metal' + cont + '"  />' +
                    '<input style="display:none" readonly name="stoneColor[' + cont + ']" id="stoneColor' + cont + '"  />' +
                    '<input style="display:none" readonly name="stoneSide[' + cont + ']" id="stoneSide' + cont + '"  />' +


                    '<div class="form-row"><div class="col-md-6 col-sm-12">' +
                    '<label>Grams:</label></div><div class="col-md-6 col-sm-12"><label class="text-muted">'
                    + data.productInfo.grams_weight +
                    ' </label></div> </div>' +

                    '<div class="form-row"><div class="col-md-6 col-sm-12">' +
                    '<label>Metal:</label></div><div class="col-md-6 col-sm-12"><br/> <select class="form-control select2" id="metal" data-placeholder="Metal" onchange="setMetalPrice(this.value,' + data.productInfo.grams_weight + ',' + cont + ')">' +
                    '<option value=\'\' selected disabled>Metal</option>';
                data.metalProducts.forEach(element => {
                    html += '<option value="' + element.metal_id + '-' + element.price + '-' + element.name + '">' + element.name + '</option>';
                });
                html += ' </select></div> </div>' +


                    //stoneColor
                    '<div class="form-row"><div class="col-md-6 col-sm-12">' +
                    '<label>Stone Color:</label></div><div class="col-md-6 col-sm-12"> <br/>' +
                    '<select class="form-control select2" id="stoneColor"  data-placeholder="Stone color" onchange="getStoneColorCarat(this.value, \'' + data.productInfo.local_sku + 'stoneColorCaratDiv\', ' + cont + ')" >' +
                    '<option value=\'\' selected disabled>Stone color</option>';
                data.productStoneColors.forEach(element => {
                    html += '<option value=\'' + element.stone_color_id + '-' + element.carat + '-' + element.price + '-' + element.name + '\' >' + element.name + '</option>';
                });
                html += ' </select></div><div class="col-md-6 col-sm-12"></div><div class="col-md-6 col-sm-12"><div id="' + data.productInfo.local_sku + 'stoneColorCaratDiv"> </div></div> </div>' +


                    //stoneSide
                    '<div class="form-row"><div class="col-md-6 col-sm-12">' +
                    '<label>Stone Side:</label></div><div class="col-md-6 col-sm-12"> <br/>' +
                    '<select class="form-control select2" id="stoneSide"  data-placeholder="Stone side" onchange="getStoneSideCarat(this.value, \'' + data.productInfo.local_sku + 'stoneSideCaratDiv\',' + cont + ')" >' +
                    '<option value=\'\' selected disabled>Stone side</option>';
                data.productStoneSides.forEach(element => {
                    html += '<option value=\'' + element.stone_side_id + '-' + element.carat + '-' + element.name + '\' >' + element.name + '</option>';
                });
                html += ' </select></div><div class="col-md-6 col-sm-12"></div><div class="col-md-6 col-sm-12"><div id="' + data.productInfo.local_sku + 'stoneSideCaratDiv"> </div></div> </div>' +


                    '<br/><div class="form-row"><div class="col-md-6 col-sm-12">' +
                    '<label>Personalization:</label></div><div class="col-md-6 col-sm-12"> ' +
                    '<textarea class="form-control" style="width:100" name="personalization[]" id="personalization" rows="3"></textarea></div>';

                html += '  </div></div>' +

                    '<div  class="col-md-6 col-sm-12">' +

                    '<div class="form-row"><div class="col-md-6 col-sm-12">' +
                    '<label>Sizes:</label></div><div class="col-md-6 col-sm-12"> ' +
                    '<select class="form-control select2" id="typeSizes' + select + '"  data-placeholder="Type Sizes" onchange="setTypeSizes(this.value, \'' + data.productInfo.local_sku + 'typeSizesDiv\', ' + select + ')" >' +
                    '<option value=\'\' selected disabled>Type Sizes</option>';
                data.productTypeSizes.forEach(element => {
                    html += '<option value="' + element.type_size_id + '-' + element.name + '-' + data.productInfo.id + '">' + element.name + '</option>';
                });
                html += ' </select></div> </div><div class="col-md-12 col-sm-12"><br/><div class="row" id="' + data.productInfo.local_sku + 'typeSizesDiv"> </div></div>' +


                    '<div  class="col-md-12 col-sm-12">' +

                    '<div class="form-row"><div class="col-md-12 col-sm-12">' +
                    '<label>Variations:</label></div><br/>';

                var variationsId = 0;
                data.productVariations.forEach(element => {
                    html += '<div class="col-md-6 col-sm-12"> ' +
                        '<select class="form-control select2" id="extraVariations' + variationsId + '" data-placeholder="Extra Variations" onchange="setExtraVariations(this.value, \'variations' + variationsId + '\', ' + select + ', ' + data.productVariations.length + ' )" >' +
                        '<option value="" selected disabled>Extra Variations</option>';
                    data.productVariations.forEach(element => {
                        html += '<option value="' + element.variation_id + '-' + element.extraVName + '"> ' +element.extraVName + '</option>'
                    });

                    html += '</select></div>';
                    html += '<div class="col-md-6 col-sm-12"> <div id="variations' + variationsId + '"></div> </div><br/>';
                    variationsId++;
                });
                html += '</div><div class="col-md-12 col-sm-12"></div><br/> ' +


                    '<div class="col-md-12 col-sm-12">  <div class="row"> <div class="col-md-6 col-sm-12">' +
                    '<span><strong>Gemstone / Diamond</strong></span> </div>' +
                    '<div class="col-md-6 col-sm-12 text-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">' +
                    '<a target="myIframe" id="imgLink' + cont + '" href=""><i class="fas fa-image"></i></a></button>' +
                    '&nbsp;&nbsp;<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalVideo">' +
                    '<a target="iframeVideo" id="videoLink' + cont + '" href=""><i class="fas fa-video"></i></a>' +
                    '</button></div></div>' +

                    '<div class="row" ><div class="col-md-6 col-sm-12"> <span><strong>Stock #:</strong></span> </div>' +
                    '<div class="col-md-6 col-sm-12 text-right"> <label class="text-muted" id="stockNoLabel' + cont + '"></label></div></div >' +
                    '<input type="number" readonly id="stockNo' + cont + '" style="display: none" />' +
                    '<div class="row" ><div class="col-md-6 col-sm-12"><span><strong>Price:</strong></span></div>' +
                    '<div class="col-md-6 col-sm-12 text-right"><input type="number" readonly id="gemstonePrice' + cont + '" value="0" style="display: none" />' +
                    '<label class="text-muted" id="gemstonePriceLabel' + cont + '">$ 0.00</label></div></div ><br></div></div> <div class="col-md-12 col-sm-12 text-center">' +
                    '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalInventory" onclick="$(\'.btnSelectGem\').attr(\'index\', ' + cont + ');">Select Stone</button></div>' +

                    '</div></div><br/>' +

                    '<div class="row"><div class="col-md-12 col-sm-12"><div class="form-row"><div class="col-md-6 col-sm-6"><div class="form-row"><div class="col-md-6 col-sm-6">' +
                    '<label>Subtotal ' + (cont + 1) + ':</label></div><div class="col-md-6 col-sm-6"><div class="input-icon"><input type="number" readonly name="subtotal[]" id="subtotal' + cont + '" value="0.00" class="form-control" /><i>$</i></div></div></div>' +
                    '<br/><div class="form-row"><div class="col-md-6 col-sm-6"><label>Quantity ' + (cont + 1) + ':</label></div><div class="col-md-6 col-sm-6">' +
                    '<input type="number" name="quantity[]" id="quantity' + cont + '" class="form-control" value="1" /></div></div></div>' +
                    '<div class="col-md-6 col-sm-6"><div class="form-row"><div class="col-md-6 col-sm-6"><label>Discount ' + (cont + 1) + ':</label></div><div class="col-md-6 col-sm-6">' +
                    '<div class="input-group"><input type="number" name="discount[]" id="discount' + cont + '" step="0.01" value="' + data.productInfo.discount + '" class="form-control" /><div class="input-group-append"><span class="input-group-text">%</span></div></div></div></div><br/><div class="form-row"><div class="col-md-6 col-sm-6"><label>Total ' + (cont + 1) + ':</label>' +
                    '</div><div class="col-md-6 col-sm-6"><div class="input-icon"><input type="number" readonly name="total[]" id="total' + cont + '" class="form-control" /><i>$</i></div></div></div></div></div></div>' +

                    '</div></div></div</div>';
                order_detail.append(html);
                cont++;
            }
        );
        $('#products option:selected').prop('disabled', true);
        $('#selectedProducts').append("<input name='products[]' id='products" + select + "' value='" + select + "'/>");

    }

    function getStoneColorCarat(str, div, index) {
        $("#stoneColor" + index).val(str);
        var arr = str.split('-');
        html = '<br/><div class="input-icon2">' + "<input type='number' class='form-control' value='" + arr[1] + "' id='stoneColorCarat' readonly='readonly'>" + '<i>Carat: </i></div>';
        $("#stoneColorPrice" + index).val(arr[2]);
        $("#" + div).html(html);
    }
    function getStoneSideCarat(str, div, index) {
        $("#stoneSide" + index).val(str);
        var arr = str.split('-');
        html = '<br/><div class="input-icon2">' + "<input type='number' class='form-control' value='" + arr[1] + "'  id='stoneSideCarat' readonly='readonly'>" + '<i>Carat: </i></div>';
        $("#" + div).html(html);
    }
    function setTypeSizes(str, div, id) {
        var arr = str.split('-');
        html = '<div class="col-md-6 col-sm-6">' + arr[1] + '</div><input name="typeSizes[]" style="display:none;" value="' + str + '"/></div><div class="col-md-6 col-sm-6"><input type="text" step="0.01" class="form-control" name="typeSizeValue[]" /><br/></div>';
        $("#" + div).append(html);
        $('#typeSizes' + id + ' option:selected').prop('disabled', true);
    }

    function setExtraVariations(str, div, id, cant) {
        var arr = str.split('-');
        $.post("../getVariations",
            { Id: arr[0] },
            function (data) {
                var html = '<select class=form-control select2" name="variations[]" data-placeholder="Variations" required>';
                data.forEach(element => {
                    html += "<option value='" + arr[0] + "-" + arr[1] + "-" + element.id + "-" + element.name + "-" + id + "'> " + element.name + " </option>";
                });
                html += "</select>";
                $("#" + div).html(html + "<br/>");
            }
        );
        for (var j = 0; j < cant; j++) {
                $('#extraVariations' + j + ' option').prop('disabled', false);
                $('#extraVariations' + j + ' option[value=""]').prop('disabled', true);
            }
        for (var i = 0; i < cant; i++) {
            var value = $('#extraVariations' + i).val();
            for (var j = 0; j < cant; j++) {
                $('#extraVariations' + j + ' option[value="' +  value + '"]').prop('disabled', true);
            }
        }
    }

    function setMetalPrice(str, grams, index) {
        $("#metal" + index).val(str);
        var arr = str.split('-');
        $("#metalPrice" + index).val(arr[1]);
    }

    function selectGem(stock, price, video, image, item, id) {
        var index = $(item).attr('index');
        price = parseFloat(price).toFixed(2);
        $("#stockNo" + index).val(stock);
        $("#stockNoLabel" + index).html(stock);
        $("#gemstonePrice" + index).val(price);
        $("#gemstonePriceLabel" + index).html("$ " + price);
        $("#imgLink" + index).attr("href", image);
        $("#videoLink" + index).attr("href", video);
        $("#gemstoneId" + index).val(id);
    }

    $(document.body).on('change keyup click', function (event) {
        let grandTotal = 0.00;
        let grandSubtotal = 0.00;
        let grandDiscount = 0.00;
        for (i = 0; i < cont; i++) {
            let manufacturer = parseFloat($("#manufacturer" + i).val());
            let grams_weight = parseFloat($("#gramsWeight" + i).val());
            let metal_price = parseFloat($("#metalPrice" + i).val());
            let stone_color_price = parseFloat($("#stoneColorPrice" + i).val());
            let gemstone_price = parseFloat($("#gemstonePrice" + i).val());


            let quantity = parseFloat($("#quantity" + i).val());
            let discount = parseFloat($("#discount" + i).val());

            let subtotal = manufacturer + (grams_weight * metal_price) + stone_color_price + gemstone_price;
            $("#subtotal" + i).val(subtotal.toFixed(2));

            let total = (subtotal * quantity) * (1 - (discount / 100));
            $("#total" + i).val(total.toFixed(2));

            grandSubtotal += subtotal;
            grandTotal += total;
            $("#grandSubtotal").val(grandTotal.toFixed(2));

            grandDiscount = (1 - (grandTotal / grandSubtotal)) * 100;
            $("#grandDiscount").val(grandDiscount.toFixed(2));

            let tax = 1 + $("#tax").val() / 100;

            let finalPrice = grandTotal * tax;
            $("#grandTotal").val(finalPrice.toFixed(2));
        }

        if ($("#paypalId").val() != "") {
            $("#btnPaypal").css("display", "block");
        } else {
            $("#btnPaypal").css("display", "none");
        }
    });


    function selectShippingCountry(str) {
        $("#shippingCountrytxt").val(str);
    }
    function selectBillingCountry(str) {
        $("#billingCountrytxt").val(str);
    }

</script>