<main _ngcontent-hrn-c36="" class="page-content">
    <router-outlet _ngcontent-hrn-c36=""></router-outlet>
    <app-edit _nghost-hrn-c42="">
        <div _ngcontent-hrn-c42="" class="container-fluid form-content pt-2 pb-3">
            <h3 _ngcontent-hrn-c42=""><i _ngcontent-hrn-c42="" class="material-icons">shopping_cart</i> Number Order:
                #<%= data.orderNumber %>
            </h3>
            <div _ngcontent-hrn-c42="" class="form-header d-flex align-items-center justify-content-between border">
                <h4 _ngcontent-hrn-c42="">View Order</h4><a _ngcontent-hrn-c42="" routerlink="/orders"
                    class="btn btn-outline-secondary mr-2" href="/orders">Orders</a>
            </div>
            <div _ngcontent-hrn-c42="" class="bg-dark border shadow">
                <div _ngcontent-hrn-c42="" class="m-2">
                    <div _ngcontent-hrn-c42="" class="row d-flex justify-content-center">
                        <div _ngcontent-hrn-c42="" class="col-12">
                            <div _ngcontent-hrn-c42="" role="alert" class="alert alert-warning" hidden=""> </div>
                        </div>
                    </div>
                    <div _ngcontent-hrn-c42="" class="row">
                        <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12">
                            <h3 _ngcontent-hrn-c42="">Data User:</h3>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1"><b _ngcontent-hrn-c42="">Number Order:</b></label>
                                </div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1"><b _ngcontent-hrn-c42="">#<%= data.orderNumber %>
                                        </b></label></div>
                            </div>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">First Name: </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.firstName %>
                                    </label></div>
                            </div>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">Last Name: </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.lastName %>
                                    </label></div>
                            </div>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">Email: </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.email %>
                                    </label></div>
                            </div>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">Phone: </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.phone %>
                                    </label></div>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-hrn-c42="" class="row">
                        <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12">
                            <h3 _ngcontent-hrn-c42="">Shipping Address:</h3>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">Country: </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.shippingCountry %>
                                    </label></div>
                            </div>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">City: </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.shippingCity %>
                                    </label></div>
                            </div>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">State: </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.shippingState %>
                                    </label></div>
                            </div>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">Address Line1: </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.shippingAddressLine1 %>
                                    </label></div>
                            </div>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">Address Line2 (Optional): </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted"> </label>
                                    <%= data.shippingAddressLine2 %>
                                </div>
                            </div>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">Zip Code(Optional): </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.shippingZipCode %>
                                    </label></div>
                            </div>
                        </div>
                        <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12">
                            <h3 _ngcontent-hrn-c42="">Billing Address:</h3>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">Country: </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.billingCountry %>
                                    </label></div>
                            </div>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">City: </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.billingCity %>
                                    </label></div>
                            </div>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">State: </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.billingState %>
                                    </label></div>
                            </div>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">Address Line1: </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.billingAddressLine1 %>
                                    </label></div>
                            </div>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">Address Line2 (Optional): </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.billingAddressLine2 %>
                                    </label></div>
                            </div>
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">Zip Code(Optional): </label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.billingZipCode %>
                                    </label></div>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-hrn-c42="" class="row">
                        <div _ngcontent-hrn-c42="" class="col">
                            <div _ngcontent-hrn-c42="" class="form-row">
                                <div _ngcontent-hrn-c42="" class="col-md-3 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1">Notes:</label></div>
                                <div _ngcontent-hrn-c42="" class="col-md-9 col-sm-12"><label _ngcontent-hrn-c42=""
                                        for="exampleInputEmail1" class="text-muted">
                                        <%= data.notes %>
                                    </label></div>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-hrn-c42="" class="mt-4">
                        <h3 _ngcontent-hrn-c42="" class="text-center">Products:</h3>
                        <% orderInfo.forEach(function (item) { %>
                            <div _ngcontent-hrn-c42="" class="card">
                                <h5 _ngcontent-hrn-c42="" class="card-header">
                                    <%= item.name %>
                                </h5>
                                <div _ngcontent-hrn-c42="" class="card-body">
                                    <div _ngcontent-hrn-c42="" class="row">
                                        <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12">
                                            <div _ngcontent-hrn-c42="" class="form-row">
                                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label
                                                        _ngcontent-hrn-c42="" for="exampleInputEmail1">Supplier SKU:
                                                    </label></div>
                                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label
                                                        _ngcontent-hrn-c42="" for="exampleInputEmail1"
                                                        class="text-muted">
                                                        <%= item.supplierSku %>
                                                    </label></div>
                                            </div>

                                            <!---->
                                            <% if( item.grams ){ %>
                                                <div _ngcontent-hrn-c42="" class="form-row">
                                                    <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label
                                                            _ngcontent-hrn-c42="" for="exampleInputEmail1">Grams:
                                                        </label>
                                                    </div>
                                                    <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label
                                                            _ngcontent-hrn-c42="" for="exampleInputEmail1"
                                                            class="text-muted">
                                                            <%= item.grams %>
                                                        </label></div>
                                                </div>
                                                <% } %>
                                                    <!---->
                                                    <!---->
                                                    <% if( item.metalName ){ %>
                                                        <div _ngcontent-hrn-c42="" class="form-row">
                                                            <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label
                                                                    _ngcontent-hrn-c42="" for="exampleInputEmail1">Metal
                                                                    Color:
                                                                </label>
                                                            </div>
                                                            <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label
                                                                    _ngcontent-hrn-c42="" for="exampleInputEmail1"
                                                                    class="text-muted">
                                                                    <%= item.metalName %>
                                                                </label></div>
                                                        </div>
                                                        <% } %>
                                                            <!---->
                                                            <!---->
                                                            <% if( item.stoneCenterName ){ %>
                                                                <div _ngcontent-hrn-c42="" class="form-row">
                                                                    <div _ngcontent-hrn-c42=""
                                                                        class="col-md-6 col-sm-12"><label
                                                                            _ngcontent-hrn-c42=""
                                                                            for="exampleInputEmail1">Stone
                                                                            Center:
                                                                        </label>
                                                                    </div>
                                                                    <div _ngcontent-hrn-c42=""
                                                                        class="col-md-6 col-sm-12"><label
                                                                            _ngcontent-hrn-c42=""
                                                                            for="exampleInputEmail1" class="text-muted">
                                                                            <%= item.stoneCenterName %>
                                                                        </label></div>
                                                                </div>
                                                                <% } %>
                                                                    <!---->
                                                                    <% if( item.stoneShapeName ){ %>
                                                                        <div _ngcontent-hrn-c42="" class="form-row">
                                                                            <div _ngcontent-hrn-c42=""
                                                                                class="col-md-6 col-sm-12"><label
                                                                                    _ngcontent-hrn-c42=""
                                                                                    for="exampleInputEmail1">Stone
                                                                                    Shape:
                                                                                </label>
                                                                            </div>
                                                                            <div _ngcontent-hrn-c42=""
                                                                                class="col-md-6 col-sm-12"><label
                                                                                    _ngcontent-hrn-c42=""
                                                                                    for="exampleInputEmail1"
                                                                                    class="text-muted">
                                                                                    <%= item.stoneShapeName %>
                                                                                </label></div>
                                                                        </div>
                                                                        <% } %>
                                                                            <!---->
                                                                            <% if( item.stoneColorName ){ %>
                                                                                <div _ngcontent-hrn-c42=""
                                                                                    class="form-row">
                                                                                    <div _ngcontent-hrn-c42=""
                                                                                        class="col-md-6 col-sm-12">
                                                                                        <label _ngcontent-hrn-c42=""
                                                                                            for="exampleInputEmail1">Stone
                                                                                            Color:
                                                                                        </label>
                                                                                    </div>
                                                                                    <div _ngcontent-hrn-c42=""
                                                                                        class="col-md-6 col-sm-12">
                                                                                        <label _ngcontent-hrn-c42=""
                                                                                            for="exampleInputEmail1"
                                                                                            class="text-muted">
                                                                                            <%= item.stoneColorName %>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <% } %>

                                                                                    <!---->
                                        </div>
                                        <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12">
                                            <!---->
                                            <% if( item.stoneSideName ){ %>
                                                <div _ngcontent-hrn-c42="" class="form-row">
                                                    <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label
                                                            _ngcontent-hrn-c42="" for="exampleInputEmail1">Stone Side:
                                                        </label>
                                                    </div>
                                                    <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12"><label
                                                            _ngcontent-hrn-c42="" for="exampleInputEmail1"
                                                            class="text-muted">
                                                            <%= item.stoneSideName %>
                                                        </label></div>
                                                </div>
                                                <% } %>

                                                    <!---->

                                                    <% sizeInfo.forEach(function (elem) { %>
                                                        <% if( elem.sizeNumber ){ %>
                                                            <div _ngcontent-hrn-c42="" class="form-row">
                                                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12">
                                                                    <label _ngcontent-hrn-c42=""
                                                                        for="exampleInputEmail1">Finger Size:
                                                                    </label>
                                                                </div>
                                                                <div _ngcontent-hrn-c42="" class="col-md-6 col-sm-12">
                                                                    <label _ngcontent-hrn-c42=""
                                                                        for="exampleInputEmail1" class="text-muted">
                                                                        <%= elem.sizeNumber %>
                                                                    </label></div>
                                                            </div>
                                                            <% } %>
                                                                <% }); %>




                                                                    <!---->
                                                                    <!---->
                                                                    <div _ngcontent-hrn-c42="" class="form-row">
                                                                        <div _ngcontent-hrn-c42=""
                                                                            class="col-md-6 col-sm-12">
                                                                            <label _ngcontent-hrn-c42=""
                                                                                for="exampleInputEmail1">Subtotal:
                                                                            </label>
                                                                        </div>
                                                                        <div _ngcontent-hrn-c42=""
                                                                            class="col-md-6 col-sm-12">
                                                                            <label _ngcontent-hrn-c42=""
                                                                                for="exampleInputEmail1"
                                                                                class="text-muted">$<%= item.subtotal %>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <!---->
                                                                    <div _ngcontent-hrn-c42="" class="form-row">
                                                                        <div _ngcontent-hrn-c42=""
                                                                            class="col-md-6 col-sm-12">
                                                                            <label _ngcontent-hrn-c42=""
                                                                                for="exampleInputEmail1">Dicount:
                                                                            </label>
                                                                        </div>
                                                                        <div _ngcontent-hrn-c42=""
                                                                            class="col-md-6 col-sm-12">
                                                                            <label _ngcontent-hrn-c42=""
                                                                                for="exampleInputEmail1"
                                                                                class="text-muted">
                                                                                <%= item.discount %>%
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <!---->
                                                                    <% if( item.discountCategory ){ %>
                                                                        <div _ngcontent-hrn-c42="" class="form-row">
                                                                            <div _ngcontent-hrn-c42=""
                                                                                class="col-md-6 col-sm-12">
                                                                                <label _ngcontent-hrn-c42=""
                                                                                    for="exampleInputEmail1">Dicount
                                                                                    Category:
                                                                                </label>
                                                                            </div>
                                                                            <div _ngcontent-hrn-c42=""
                                                                                class="col-md-6 col-sm-12">
                                                                                <label _ngcontent-hrn-c42=""
                                                                                    for="exampleInputEmail1"
                                                                                    class="text-muted">
                                                                                    <%= item.discountCategory %>%
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <% } %>


                                                                            <!---->
                                                                            <% if( item.quantity ){ %>
                                                                                <div _ngcontent-hrn-c42=""
                                                                                    class="form-row">
                                                                                    <div _ngcontent-hrn-c42=""
                                                                                        class="col-md-6 col-sm-12">
                                                                                        <label _ngcontent-hrn-c42=""
                                                                                            for="exampleInputEmail1">Quantity:
                                                                                        </label>
                                                                                    </div>
                                                                                    <div _ngcontent-hrn-c42=""
                                                                                        class="col-md-6 col-sm-12">
                                                                                        <label _ngcontent-hrn-c42=""
                                                                                            for="exampleInputEmail1"
                                                                                            class="text-muted">
                                                                                            <%= item.quantity %>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <% } %>

                                                                                    <% if( item.sellingPrice ){ %>
                                                                                        <div _ngcontent-hrn-c42=""
                                                                                            class="form-row">
                                                                                            <div _ngcontent-hrn-c42=""
                                                                                                class="col-md-6 col-sm-12">
                                                                                                <label
                                                                                                    _ngcontent-hrn-c42=""
                                                                                                    for="exampleInputEmail1">Selling
                                                                                                    Price:
                                                                                                </label>
                                                                                            </div>
                                                                                            <div _ngcontent-hrn-c42=""
                                                                                                class="col-md-6 col-sm-12">
                                                                                                <label
                                                                                                    _ngcontent-hrn-c42=""
                                                                                                    for="exampleInputEmail1"
                                                                                                    class="text-muted">$
                                                                                                    <%= item.sellingPrice
                                                                                                        %>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>
                                                                                        <% } %>


                                                                                            <!---->
                                        </div>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                            <% }) %>
                                <!---->
                                <form action="#" method="POST">
                                    <div _ngcontent-hrn-c42="" class="container-fluid">
                                        <div _ngcontent-hrn-c42="" class="form-row mt-4"><label _ngcontent-hrn-c42=""
                                                for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">
                                                Notes:
                                            </label>
                                            <div _ngcontent-hrn-c42="" class="col s-12"><textarea _ngcontent-hrn-c42=""
                                                    id="exampleFormControlTextarea1" rows="3" cols="100" name="notes"
                                                    placeholder="Enter notes . . ."
                                                    class="form-input-textarea ng-pristine ng-valid ng-touched"><%= data.notes %></textarea>
                                            </div>
                                        </div>
                                        <h3 _ngcontent-hrn-c42="" class="text-center">Tracking:</h3>
                                        <div _ngcontent-hrn-c42="" class="form-row mt-4"><label _ngcontent-hrn-c42=""
                                                for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"> Name
                                                -
                                                Number Id: </label>
                                            <div _ngcontent-hrn-c42="" class="col s-12 m-6"><input _ngcontent-hrn-c42=""
                                                    type="text" name="name" placeholder="Enter name" 
                                                    <% tracking.forEach(function (value) { %>
                                                        value="<%= value.name %>"
                                                    <% }) %>
                                                    required="" class="form-input-text ng-pristine ng-valid ng-touched">
                                            </div>
                                            <div _ngcontent-hrn-c42="" class="col s-12 m-6"><input _ngcontent-hrn-c42=""
                                                <% tracking.forEach(function (value) { %>
                                                        value="<%= value.number %>"
                                                    <% }) %>
                                                    type="text" name="number" placeholder="Enter number id" 
                                                    required="" class="form-input-text ng-pristine ng-invalid ng-touched">
                                            </div>
                                        </div>
                                        <div _ngcontent-hrn-c42="" class="form-row mt-4"><label _ngcontent-hrn-c42=""
                                                for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"> Url:
                                            </label>
                                            <div _ngcontent-hrn-c42="" class="col s-12 m-6"><input _ngcontent-hrn-c42=""
                                                <% tracking.forEach(function (value) { %>
                                                    value="<%= value.url %>"
                                                <% }) %>
                                                    type="text" name="url" placeholder="Enter url" 
                                                    required="" class="form-input-text ng-pristine ng-valid ng-touched">
                                                    <input style="display: none;"
                                                    type="text" name="createdAt"
                                                    <% tracking.forEach(function (value) { %>
                                                        value="<%= value.createdAt %>"
                                                    <% }) %>   class="form-input-text ng-pristine ng-valid ng-touched">
                                            </div>
                                        </div>
                                        <div _ngcontent-hrn-c42="" class="form-row mt-4"><label _ngcontent-hrn-c42=""
                                                for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">
                                                Departure
                                                Date - Departure Time: </label>
                                            <div _ngcontent-hrn-c42="" class="col s-12 m-6"><input _ngcontent-hrn-c42=""
                                                <% tracking.forEach(function (value) { %>
                                                    value="<%= value.departureDate %>"
                                                <% }) %>
                                                    type="date" name="departureDate"
                                                    placeholder="Enter departure date"
                                                    class="form-input-date ng-pristine ng-valid ng-touched"></div>
                                            <div _ngcontent-hrn-c42="" class="col s-12 m-6"><input _ngcontent-hrn-c42=""  
                                                <% tracking.forEach(function (value) { %>
                                                    value="<%= value.departureTime %>"
                                                <% }) %>
                                                    type="time" name="departureTime" placeholder="Enter departure time"
                                                    class="form-input-time ng-untouched ng-pristine ng-valid"></div>
                                        </div>
                                    </div>
                                    <!---->
                                    <div _ngcontent-hrn-c42="" class="m-4">
                                        <div _ngcontent-hrn-c42="" class="d-flex justify-content-between">
                                            <div _ngcontent-hrn-c42=""><span _ngcontent-hrn-c42=""><b _ngcontent-hrn-c42="">
                                                        TAX: <%= data.tax %>
                                                    </b></span><br _ngcontent-hrn-c42=""><span _ngcontent-hrn-c42=""><b
                                                        _ngcontent-hrn-c42=""> TOTAL: $<%= data.total %> </b></span>
                                                <p _ngcontent-hrn-c42="" class="text-uppercase">
                                                    <%= data.shippingCountry %>
                                                </p>
                                            </div><span _ngcontent-hrn-c42="">
                                                <input _ngcontent-hrn-c42="" type="submit" value="Update"
                                                    class="btn btn-info"/>
                                                <!--<button _ngcontent-hrn-c42="" printtitle=""
                                                    printsectionid="print-section" ngxprint=""
                                                    stylesheetfile="../../../../../assets/css/custom1.scss"
                                                    class="btn btn-dark m-1"><i _ngcontent-hrn-c42=""
                                                        class="material-icons">print</i></button><button
                                                    _ngcontent-hrn-c42="" type="button" disabled="" class="btn btn-primary"
                                                    hidden=""><span _ngcontent-hrn-c42="" role="status" aria-hidden="true"
                                                        class="spinner-border spinner-border-sm"></span> Sending...
                                                </button><button _ngcontent-hrn-c42="" type="button"
                                                    class="btn btn-success"> Sent </button>
                                                    -->
                                                <!---->
                                                <!---->
                                                <!---->
                                            </span>
                                        </div>
                                    </div>
                                </form>
                    </div>
                </div>
            </div>
        </div>

    </app-edit>
    <!---->
</main>