<link rel="stylesheet" type="text/css" href="../js/jsonViewer/json-viewer.css">
<div class="container-fluid form-content pt-2 pb-3">
    <h3><i class="material-icons">shopping_cart</i> Number Order: #
        <%= data.order.order_number %>
    </h3>
    <div class="form-header d-flex align-items-center justify-content-between border">
        <h4>View Order</h4><a routerlink="/orders" class="btn btn-outline-secondary mr-2" href="/orders">Orders</a>
    </div>
    <div class="bg-dark border shadow">
        <div class="m-2">
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <div role="alert" class="alert alert-warning" hidden=""> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h3>Data User:</h3>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label><b>Number Order:</b></label>
                        </div>
                        <div class="col-md-6 col-sm-12"><label><b>#<%= data.order.order_number %>
                                </b></label></div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>First Name: </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.first_name %>
                            </label></div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>Last Name: </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.last_name%>
                            </label></div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>Email: </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.email %>
                            </label></div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>Phone: </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.phone %>
                            </label></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h3>Shipping Address:</h3>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>Country: </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.shipping_country %>
                            </label></div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>City: </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.shipping_city %>
                            </label></div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>State: </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.shipping_state %>
                            </label></div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>Address Line1: </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.shipping_address_line1 %>
                            </label></div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>Address Line2 (Optional): </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.shipping_address_line2 %>
                            </label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>Zip Code(Optional): </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.shipping_zip_code %>
                            </label></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <h3>Billing Address:</h3>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>Country: </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.billing_country %>
                            </label></div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>City: </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.billing_city %>
                            </label></div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>State: </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.billing_state %>
                            </label></div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>Address Line1: </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.billing_address_line1 %>
                            </label></div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>Address Line2 (Optional): </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.billing_address_line2 %>
                            </label></div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12"><label>Zip Code(Optional): </label></div>
                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                <%= data.order.billing_zip_code %>
                            </label></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Products:</h3>
                <% data.orderProducts.forEach(function (item, index) { %>
                    <div class="card">
                        <h5 class="card-header">
                            <strong>
                                <%= item.name %>
                            </strong>
                        </h5>
                        <div class="card-body col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-row">
                                        <div class="col-md-6 col-sm-12"><label>Supplier SKU:
                                            </label></div>
                                        <div class="col-md-6 col-sm-12"><label class="text-muted">
                                                <%= item.supplier_sku %>
                                            </label></div>
                                    </div>

                                    <!---->
                                    <% if( item.grams ){ %>
                                        <div class="form-row">
                                            <div class="col-md-6 col-sm-12"><label>Grams:
                                                </label>
                                            </div>
                                            <div class="col-md-6 col-sm-12"><label class="text-muted">
                                                    <%= item.grams %>
                                                </label></div>
                                        </div>
                                        <% } %>
                                            <!---->
                                            <!---->
                                            <% if( item.metal_name ){ %>
                                                <div class="form-row">
                                                    <div class="col-md-6 col-sm-12"><label>Metal:
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12"><label class="text-muted">
                                                            <%= item.metal_name %>
                                                        </label></div>
                                                </div>
                                                <% } %>

                                                    <% if( item.stone_color_name ){ %>
                                                        <div class="form-row">
                                                            <div class="col-md-6 col-sm-12">
                                                                <label>Stone
                                                                    Color:
                                                                </label>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12">
                                                                <label class="text-muted">
                                                                    <%= item.stone_color_name %>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <% } %>

                                                            <% if( item.stone_side_name ){ %>
                                                                <div class="form-row">
                                                                    <div class="col-md-6 col-sm-12"><label>Stone Side:
                                                                        </label>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12"><label
                                                                            class="text-muted">

                                                                            <%= item.stone_side_name %>
                                                                        </label></div>
                                                                </div>
                                                                <% } %>

                                                                    <!---->
                                                                    <!---->
                                                                    <% if( item.stone_center_name ){ %>
                                                                        <div class="form-row">
                                                                            <div class="col-md-6 col-sm-12">
                                                                                <label>Stone
                                                                                    Center:
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-6 col-sm-12">
                                                                                <label class="text-muted">
                                                                                    <%= item.stone_center_name %>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <% } %>
                                                                            <!---->
                                                                            <% if( item.stone_shape_name ){ %>
                                                                                <div class="form-row">
                                                                                    <div class="col-md-6 col-sm-12">
                                                                                        <label>Stone
                                                                                            Shape:
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="col-md-6 col-sm-12">
                                                                                        <label class="text-muted">
                                                                                            <%= item.stone_shape_name %>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <% } %>
                                                                                    <!---->

                                                                                    <% if( item.personalization ){ %>
                                                                                        <div class="form-row">
                                                                                            <div
                                                                                                class="col-md-6 col-sm-12">
                                                                                                <label>Personalization:
                                                                                                </label>
                                                                                            </div>
                                                                                            <div
                                                                                                class="col-md-6 col-sm-12">
                                                                                                <label
                                                                                                    class="text-muted">
                                                                                                    <%= item.personalization
                                                                                                        %>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>
                                                                                        <% } %>
                                </div>
                                <!---->
                                <!---->

                                <div class="col-md-6 col-sm-12">
                                    <% if( data.orderProductsSizes[index] !=null &&
                                        data.orderProductsSizes[index].length> 0 &&
                                        data.orderProductsSizes[index].order_product_id === item.id ){ %>
                                        <div class="col-md-8 col-sm-12">
                                            <span><strong>Sizes</strong></span>
                                            <% data.orderProductsSizes.forEach(function (elem) { if
                                                (elem.order_product_id==item.id){ %>
                                                <div class="form-row">
                                                    <div class="col-md-6 col-sm-12">
                                                        <label>
                                                            <strong>
                                                                <%= elem.name %>
                                                            </strong>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 text-right">
                                                        <label class="text-muted">
                                                            <%= elem.size_number %>
                                                        </label>
                                                    </div>
                                                </div>
                                                <% }}); %>
                                                    <br>
                                        </div>
                                        <% } %>
                                            <% if( data.orderProductsVariants.length> 0 ){ %>
                                                <div class="col-md-8 col-sm-12">
                                                    <% data.orderProductsVariants.forEach(function (elem, ind) {
                                                        if(elem.order_product_id===item.id){ if (ind==0){%>
                                                        <span><strong>Variants</strong></span>
                                                        <% } %>
                                                            <div class="form-row">
                                                                <div class="col-md-6 col-sm-12">
                                                                    <label>
                                                                        <strong>
                                                                            <%= elem.extra_variation_name %>
                                                                        </strong>
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-12 text-right">
                                                                    <label class="text-muted">
                                                                        <%= elem.variation_name %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <% }}); %>
                                                </div>
                                                <br>
                                                <% } %>

                                                    <% if( data.inventory.length> 0 ) { %>
                                                        <div class="col-md-8 col-sm-12">
                                                            <% data.inventory.forEach(function (elem) { if
                                                                (elem.id==item.gemstone_id){ %>

                                                                <div class="row">
                                                                    <div class="col-md-6 col-sm-12">
                                                                        <span><strong>Gemstone /
                                                                                Diamond</strong></span>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12 text-right">
                                                                        <button type="button" class="btn btn-primary"
                                                                            data-toggle="modal" data-target="#modal">
                                                                            <a target="myIframe"
                                                                                href="<%= elem.ImageLink %>"><i
                                                                                    class="fas fa-image"></i>
                                                                            </a>
                                                                        </button>

                                                                        <button type="button" class="btn btn-primary"
                                                                            data-toggle="modal"
                                                                            data-target="#modalVideo">
                                                                            <a target="iframeVideo"
                                                                                href="<%= elem.VideoLink %>"><i
                                                                                    class="fas fa-video"></i>
                                                                            </a>
                                                                        </button>

                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-6 col-sm-12">
                                                                        <span><strong>Stock #:</strong></span>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12 text-right">
                                                                        <label class="text-muted">
                                                                            <%= elem.Stock_No %>
                                                                        </label>

                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6 col-sm-12">
                                                                        <span><strong>Price:</strong></span>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12 text-right">
                                                                        <label class="text-muted">
                                                                            $ <%= elem.Buy_Price_Total %>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                    <% }}); %>
                                                        <% } %>

                                </div>
                            </div>

                            <!---->
                        </div>
                        <center>
                            <div class="row">
                                <div class="col-md-10 col-sm-10">
                                    <div class="form-row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-6"><label>Subtotal
                                                        <%= index+1 %>:
                                                    </label>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="input-icon">
                                                        <label class="text-muted">
                                                            $ <%= item.subtotal %>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-6"><label>Quantity <%= index+1 %>:</label>
                                                </div>
                                                <div class="col-md-6 col-sm-6"><label class="text-muted">
                                                        <%= item.quantity %>
                                                    </label></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-6"><label>Discount <%= index+1 %>:</label>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <label class="text-muted">
                                                        <%= item.discount %>%
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-6">
                                                    <label>Total <%= index+1 %>:</label>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <label class="text-muted">
                                                        $ <%= item.total %>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </div>

                    </center>
            </div>

            <% }) %>

                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-6">
                            <strong><label class="text-muted">
                                    <h2>TOTAL</h2>
                                </label></strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <strong>
                                                Subtotal:
                                            </strong>
                                        </div>
                                        <div class="col-md-6 col-sm-10 text-right">
                                            <label class="text-muted">
                                                $ <%= data.order.grandSubtotal %>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <strong>
                                                Tax:
                                            </strong>
                                        </div>
                                        <div class="col-md-6 col-sm-10 text-right">
                                            <label class="text-muted">
                                                <%= data.order.tax %> %
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-8 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Total discount:
                                        </div>
                                        <div class="col-md-6 col-sm-10 text-right">
                                            <strong>
                                                <label class="text-muted">
                                                    <%= data.order.grandDiscount %> %
                                                </label>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <strong>
                                                TOTAL:
                                            </strong>
                                        </div>
                                        <div class="col-md-6 col-sm-10 text-right">
                                            <strong>
                                                <label class="text-muted">
                                                    $ <%= data.order.total %>
                                                </label>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="container-fluid">
                        <br />
                        <div class="row">
                            <div class="col">
                                <div class="form-row">
                                    <div class="col-md-3 col-sm-12"><label>Notes:</label>
                                    </div>
                                    <div class="col-md-9 col-sm-12" style="border-radius: 5px; border-style: solid;">
                                        <label class="text-muted">
                                            <%= data.order.notes %>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <h3 class="text-center">Tracking:</h3>
                        <% if ( data.trackings.length==0) { %>
                            <label class="text-muted">
                                No tracking data
                            </label>
                            <% } else { %>
                                <% data.trackings.forEach(function (value) { %>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-row mt-4"><label for="colFormLabelSm"
                                                    class="col-sm-2 col-form-label col-form-label-sm">
                                                    Name
                                                    -
                                                    Number Id: </label>
                                                <div class="col s-12 m-6">
                                                    <label class="text-muted">
                                                        <%= value.name %>
                                                    </label>
                                                </div>
                                                <div class="col s-12 m-6">
                                                    <label class="text-muted">
                                                        <%= value.number %>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-row mt-4"><label for="colFormLabelSm"
                                                    class="col-sm-2 col-form-label col-form-label-sm">
                                                    URL: </label>
                                                <div class="col s-12 m-6">
                                                    <label class="text-muted">
                                                        <%= value.url %>
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-row mt-4"><label for="colFormLabelSm"
                                                    class="col-sm-2 col-form-label col-form-label-sm">
                                                    Departure
                                                    Date - Departure Time:</label>
                                                <div class="col s-12 m-6">
                                                    <label class="text-muted">
                                                        <%= value.departureDate %>
                                                    </label>
                                                </div>
                                                <div class="col s-12 m-6">
                                                    <label class="text-muted">
                                                        <%= value.departureTime %>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% })} %>
                                        <h3 class="text-center">PAYPAL TRANSACTION RESULT:
                                        </h3>
                                        <% if ( data.orderPaypal.length==0) { %>
                                            <label class="text-muted">
                                                No paypal transaction data
                                            </label>
                                            <% } else { %>
                                                <% data.orderPaypal.forEach(function (value) { %>
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="form-row mt-4">
                                                                <label for="colFormLabelSm"
                                                                    class="col-sm-2 col-form-label col-form-label-sm">
                                                                    Order ID: </label>
                                                                <div class="col s-12 m-6">
                                                                    <label class="text-muted">
                                                                        <%= value.order_id %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="form-row mt-4">
                                                                <label for="colFormLabelSm"
                                                                    class="col-sm-2 col-form-label col-form-label-sm">
                                                                    Paypal ID: </label>
                                                                <div class="col s-12 m-6">
                                                                    <label class="text-muted">
                                                                        <%= value.paypal_id %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row text-center">
                                                        <div class="col-md-12 col-sm-12">

                                                            <button type="button" class="btn btn-primary text-center"
                                                                data-toggle="modal" data-target="#modalPaypal"
                                                                onclick="setJSON();jsonViewer.showJSON(jsonObj);">
                                                                See Details
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="modal fade" id="modalPaypal" tabindex="-1" role="dialog"
                                                        style="padding: 0%;" aria-labelledby="modalLabel"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog modal-lg modal-dialog-centered"
                                                            role="dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">PAYPAL DETAIL</h5>
                                                                    <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close"
                                                                        onClick="">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body"
                                                                    style="height: 500px;padding: 0.2rem;">
                                                                    <div class="row">
                                                                        <div class="col-md-12 col-sm-12">
                                                                            <div class="row">
                                                                                <div class="col-md-6 col-sm-6">
                                                                                    <p>Output:</p>
                                                                                    <div id="json"
                                                                                        style="max-height: 440px;display: flex; background-color: white;">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6 col-sm-6">
                                                                                    <textarea id="detail"
                                                                                        style="width: 100%; min-height: 490px;"
                                                                                        readonly><%= value.detail %>
                                                                                    </textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>



                                                                </div>
                                                                <div class="modal-footer">

                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close</button>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% })} %>
                    </div>
                    <!---->

                </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" style="padding: 0%;" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="dialog">
        <div class="modal-content">
            <div class="modal-body" style="height: 500px;padding: 0.2rem;">
                <iframe src="" name="myIframe" id="myIframe" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalVideo" tabindex="-1" role="dialog" style="padding: 0%;" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="dialog">
        <div class="modal-content">
            <div class="modal-body" style="height: 500px;padding: 0.2rem;">
                <iframe src="" name="iframeVideo" id="iframeVideo" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>


<script src="../js/jsonviewer/json-viewer.js"></script>

<script>
    var textarea = document.getElementById("detail");
    var jsonObj = {};
    var jsonViewer = new JSONViewer();
    document.querySelector("#json").appendChild(jsonViewer.getContainer());
    var setJSON = function () {
        try {
            var value = textarea.value;
            value = value.replaceAll('\"', '"');
            jsonObj = JSON.parse(value);
            textarea.value = value;
        } catch (err) {
            alert(err);
        }
    };
</script>