<div _ngcontent-ipx-c67="" class="bg-dark border shadow">
    <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
        <h4 _ngcontent-gak-c44="">
            <%= option %>
        </h4>
        <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2"
            href="/<%= view %>">
            <%= subtittle %>
        </a>
    </div>
    <form _ngcontent-ipx-c67="" class="m-2 ng-untouched ng-pristine ng-invalid" method="POST" action="#">
        <div _ngcontent-ipx-c67="" class="row d-flex justify-content-center">
            <div _ngcontent-ipx-c67="" class="col-12">
                <div _ngcontent-ipx-c67="" role="alert" class="alert alert-warning" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-ipx-c67="" class="row d-flex justify-content-center">
            <div _ngcontent-ipx-c67="" class="col-12">
                <div _ngcontent-ipx-c67="" role="alert" class="alert alert-success" hidden=""> </div>
            </div>
        </div>
        <ul _ngcontent-ipx-c67="" id="myTab" role="tablist" class="nav nav-tabs">
            <li _ngcontent-ipx-c67="" class="nav-item"><a _ngcontent-ipx-c67="" id="home-tab" data-toggle="tab"
                    href="#general" role="tab" aria-controls="home" aria-selected="true"
                    class="nav-link active">General</a></li>
            <li _ngcontent-ipx-c67="" class="nav-item"><a _ngcontent-ipx-c67="" id="images-tab" data-toggle="tab"
                    href="#images" role="tab" aria-controls="images" aria-selected="false" class="nav-link">Images</a>
            </li>
        </ul>
        <div _ngcontent-ipx-c67="" id="myTabContent" class="tab-content">
            <div _ngcontent-ipx-c67="" id="general" role="tabpanel" aria-labelledby="general-tab"
                class="tab-pane fade active show">
                <div _ngcontent-ipx-c67="">
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Stone Type: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.stoneType %>"
                                name="stoneType" placeholder="Enter stone type . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid">
                            <!---->
                        </div>
                    </div>
                    <input _ngcontent-ipx-c50="" type="text" name="createdAt" value="<%= data.createdAt %>"
                    placeholder="Enter createdAt . . ." oninvalid="invalidFunction(event, this.name)" required="" style="display: none;"
                    class="form-input-text ng-untouched ng-pristine ng-invalid">
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Shape Cut: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.shapeCut %>"
                                name="shapeCut" placeholder="Enter stone type . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid">
                            <!---->
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Sku: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.sku %>"
                                name="sku" placeholder="Enter sku . . ." oninvalid="invalidFunction(event, this.name)" required=""
                                class="form-input-text ng-untouched ng-pristine ng-invalid">
                            <!---->
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Price: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="number" value="<%= data.price %>"
                                name="price" placeholder="Enter price . . ." oninvalid="invalidFunction(event, this.name)" required=""
                                class="form-input-text ng-untouched ng-pristine ng-invalid">
                            <!---->
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Quality: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.quality %>"
                                name="quality" placeholder="Enter quality . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid">
                            <!---->
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Cut: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.cut %>"
                                name="cut" placeholder="Enter cut . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid">
                            <!---->
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Unique cut: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.uniqueCut %>"
                                name="uniqueCut" placeholder="Enter unique cut . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid">
                            <!---->
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Creation Type: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.creationType %>"
                                name="creationType" placeholder="Enter creation type . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid">
                            <!---->
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Weight: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.weight %>"
                                name="weight" placeholder="Enter weight . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid">
                            <!---->
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Size mm: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.sizeMm %>"
                                name="sizeMm" placeholder="Enter size mm . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid">
                            <!---->
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Title: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.title %>"
                                name="title" placeholder="Enter title . . ." oninvalid="invalidFunction(event, this.name)" required=""
                                class="form-input-text ng-untouched ng-pristine ng-invalid">
                            <!---->
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Description: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><textarea _ngcontent-ipx-c67=""
                                id="exampleFormControlTextarea1" rows="3" name="description"
                                placeholder="Enter description moissanite . . ."
                                class="form-input-textarea ng-untouched ng-pristine ng-valid"><%= data.description %></textarea></div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Three Sixty: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.threeSixty %>"
                                name="threeSixty" placeholder="Enter three sixty . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid">
                            <!---->
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Hardness: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.hardness %>"
                                name="hardness" placeholder="Enter hardness . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid">
                            <!---->
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Gem Species: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.gemSpecies %>"
                                name="gemSpecies" placeholder="Enter gem species . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid">
                            <!---->
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Treatment: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.treatment %>"
                                name="treatment" placeholder="Enter treatment . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid">
                            <!---->
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Color: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" value="<%= data.color %>"
                                name="color" placeholder="Enter color . . ."
                                class="form-input-text ng-untouched ng-pristine ng-valid">
                            <!---->
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-ipx-c67="" id="images" role="tabpanel" aria-labelledby="images-tab" class="tab-pane fade">
                <div _ngcontent-ipx-c67="" class="m-2">
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Image 0: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" name="path" value="<%= img[0].path %>" onchange="loadImageUrl(this.value, 0)"
                                placeholder="Enter url . . ." class="form-input-text ng-untouched ng-pristine ng-valid">
                        </div>
                        <div _ngcontent-ipx-c67="" class="col-md-2 sm-12 d-flex justify-content-center">
                            <div _ngcontent-ipx-c67="" class="img-content border text-center">
                                <div _ngcontent-ipx-c67="" class="img"><img _ngcontent-ipx-c67="" alt="Baggage" id="imgg0" 
                                        class="img-fluid" src="<%= img[0].path %>"></div>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Image 1: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" name="path" onchange="loadImageUrl(this.value, 1)" value="<%= img[1].path %>"
                                placeholder="Enter url . . ." class="form-input-text ng-untouched ng-pristine ng-valid">
                        </div>
                        <div _ngcontent-ipx-c67="" class="col-md-2 sm-12 d-flex justify-content-center">
                            <div _ngcontent-ipx-c67="" class="img-content border text-center">
                                <div _ngcontent-ipx-c67="" class="img"><img _ngcontent-ipx-c67="" alt="Baggage" id="imgg1"
                                        class="img-fluid" src="<%= img[1].path %>"></div>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Image 3: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" name="path" onchange="loadImageUrl(this.value, 2)" value="<%= img[2].path %>"
                                placeholder="Enter url . . ." class="form-input-text ng-untouched ng-pristine ng-valid">
                        </div>
                        <div _ngcontent-ipx-c67="" class="col-md-2 sm-12 d-flex justify-content-center">
                            <div _ngcontent-ipx-c67="" class="img-content border text-center">
                                <div _ngcontent-ipx-c67="" class="img"><img _ngcontent-ipx-c67="" alt="Baggage" id="imgg2"
                                        class="img-fluid" src="<%= img[2].path %>"></div>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-ipx-c67="" class="form-row mt-4"><label _ngcontent-ipx-c67="" for="colFormLabelSm"
                            class="col-sm-2 col-form-label col-form-label-sm"> Image 4: </label>
                        <div _ngcontent-ipx-c67="" class="col s-12"><input _ngcontent-ipx-c67="" type="text" name="path" onchange="loadImageUrl(this.value, 3)" value="<%= img[3].path %>"
                                placeholder="Enter url . . ." class="form-input-text ng-untouched ng-pristine ng-valid">
                        </div>
                        <div _ngcontent-ipx-c67="" class="col-md-2 sm-12 d-flex justify-content-center">
                            <div _ngcontent-ipx-c67="" class="img-content border text-center">
                                <div _ngcontent-ipx-c67="" class="img"><img _ngcontent-ipx-c67="" alt="Baggage" id="imgg3"
                                        class="img-fluid" src="<%= img[3].path %>"></div>
                            </div>
                        </div>
                    </div>
                    <input _ngcontent-ipx-c50="" type="text" name="imgId" value="<%= img[0].id %>"
                    placeholder="Enter createdAt . . ." oninvalid="invalidFunction(event, this.name)" required="" style="display: none;"
                    class="form-input-text ng-untouched ng-pristine ng-invalid">
                    <input _ngcontent-ipx-c50="" type="text" name="imgId" value="<%= img[1].id %>"
                    placeholder="Enter createdAt . . ." oninvalid="invalidFunction(event, this.name)" required="" style="display: none;"
                    class="form-input-text ng-untouched ng-pristine ng-invalid">
                    <input _ngcontent-ipx-c50="" type="text" name="imgId" value="<%= img[2].id %>"
                    placeholder="Enter createdAt . . ." oninvalid="invalidFunction(event, this.name)" required="" style="display: none;"
                    class="form-input-text ng-untouched ng-pristine ng-invalid">
                    <input _ngcontent-ipx-c50="" type="text" name="imgId" value="<%= img[3].id %>"
                    placeholder="Enter createdAt . . ." oninvalid="invalidFunction(event, this.name)" required="" style="display: none;"
                    class="form-input-text ng-untouched ng-pristine ng-invalid">
                </div>
            </div>
            <p style="color: red;" id="errorHeader"></p>

            <div _ngcontent-ipx-c67="" class="d-flex flex-row-reverse bd-highlight mt-3">
                <div _ngcontent-ipx-c67="" class="p-2 bd-highlight"><input _ngcontent-ipx-c67="" type="reset"
                        value="Reset" class="btn btn-danger"></div>
                <div _ngcontent-ipx-c67="" class="p-2 bd-highlight"><input _ngcontent-ipx-c67=""  type="submit" value="Save" class="btn btn-success">
                    <app-loading _ngcontent-ipx-c67="" _nghost-ipx-c41="" hidden=""><button _ngcontent-ipx-c41=""
                            type="button" disabled="" class="btn btn-sending"><span _ngcontent-ipx-c41="" role="status"
                                aria-hidden="true" class="spinner-border spinner-border-sm"></span> Sending...
                        </button></app-loading>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function loadImageUrl (url, idImg){
        var img = document.getElementById('imgg'+idImg);
        img.src = url;
    }
</script>