<div class="container-fluid" id="main_content">
    <div _ngcontent-pey-c42="" class="bg-dark border shadow">
        <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
            <h4 _ngcontent-gak-c44="">
                <%= option %>
            </h4>
            <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2" href="/<%= view %>">
                <%= subtittle %>
            </a>
        </div>
        <h4 _ngcontent-pey-c42="" class="text-center mt-3 mb-3">Data</h4>
        <form _ngcontent-pey-c42=""  id="myform" method="POST" action="newTypeSizes" class="m-2 ng-untouched ng-pristine ng-invalid">
            <div _ngcontent-pey-c42="" class="row d-flex justify-content-center">
                <div _ngcontent-pey-c42="" class="col-12">
                    <div _ngcontent-pey-c42="" role="alert" class="alert alert-warning" hidden="">  </div>
                </div>
            </div>
            <div _ngcontent-pey-c42="" class="row d-flex justify-content-center">
                <div _ngcontent-pey-c42="" class="col-12">
                    <div _ngcontent-pey-c42="" role="alert" class="alert alert-success" hidden="">  </div>
                </div>
            </div>
            <div _ngcontent-pey-c42="" class="form-row mt-4">
                <label _ngcontent-pey-c42="" for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"> Name: </label>
                <div _ngcontent-pey-c42="" class="col s-12">
                    <input _ngcontent-pey-c42="" type="text" name="name" placeholder="Enter name . . ." required="" class="form-input-text ng-untouched ng-pristine ng-invalid"><!---->
                </div>
            </div>
            <div _ngcontent-pey-c42="" class="d-flex flex-row-reverse bd-highlight mt-3">
                <div _ngcontent-pey-c42="" class="p-2 bd-highlight"><input _ngcontent-pey-c42="" type="reset" value="Reset" class="btn btn-danger"></div>
                <div _ngcontent-pey-c42="" class="p-2 bd-highlight">
                    <input _ngcontent-pey-c42="" type="submit" value="Save" class="btn btn-success" >
                    <app-loading _ngcontent-pey-c42="" _nghost-pey-c41="" hidden=""><button _ngcontent-pey-c41="" type="button" disabled="" class="btn btn-sending"><span _ngcontent-pey-c41="" role="status" aria-hidden="true" class="spinner-border spinner-border-sm"></span> Sending...
                        </button>
                    </app-loading>
                </div>
            </div>
        </form>
    </div>
</div>
