<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style>
  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<div _ngcontent-xto-c75="" class="form-header d-flex align-items-center justify-content-between border">
  <h4 _ngcontent-xto-c75="">
    <%= subtitle %>
  </h4>
  <div _ngcontent-xto-c75=""><button _ngcontent-xto-c75="" type="button" data-toggle="modal" data-target="#exampleModal"
      class="btn btn-dark"> Upload </button></div>
</div>
<div _ngcontent-xto-c75="" class="search input-group p-4 d-flex justify-content-center"><input _ngcontent-xto-c75=""
    type="search" id="search" placeholder="Buscar   .  .  .  .  ." class="ng-untouched ng-pristine ng-valid"><button
    _ngcontent-xto-c75="" type="button" class="btn btn-secondary"><i _ngcontent-xto-c75=""
      class="material-icons">search</i></button></div>

<div class="container-fluid" id="main_content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-12">
      <a href="/video"><button>Cargar video</button></a>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</div>

<div
  class="swiper-container mySwiper swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
  <div class="swiper-wrapper" id="swiper-wrapper-c2ab42dec8fe0461" aria-live="polite">
    <div class="swiper-slide swiper-slide-active" style="width: 1405px;" role="group" aria-label="1 / 9">Slide 1</div>
    <div class="swiper-slide swiper-slide-next" style="width: 1405px;" role="group" aria-label="2 / 9">Slide 2</div>
    <div class="swiper-slide" style="width: 1405px;" role="group" aria-label="3 / 9">Slide 3</div>
    <div class="swiper-slide" style="width: 1405px;" role="group" aria-label="4 / 9">Slide 4</div>
    <div class="swiper-slide" style="width: 1405px;" role="group" aria-label="5 / 9">Slide 5</div>
    <div class="swiper-slide" style="width: 1405px;" role="group" aria-label="6 / 9">Slide 6</div>
    <div class="swiper-slide" style="width: 1405px;" role="group" aria-label="7 / 9">Slide 7</div>
    <div class="swiper-slide" style="width: 1405px;" role="group" aria-label="8 / 9">Slide 8</div>
    <div class="swiper-slide" style="width: 1405px;" role="group" aria-label="9 / 9">Slide 9</div>
  </div>
  <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-bullets-dynamic" style="width: 80px;"><span
      class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main"
      style="left: 32px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next"
      style="left: 32px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next-next"
      style="left: 32px;"></span><span class="swiper-pagination-bullet" style="left: 32px;"></span><span
      class="swiper-pagination-bullet" style="left: 32px;"></span><span class="swiper-pagination-bullet"
      style="left: 32px;"></span><span class="swiper-pagination-bullet" style="left: 32px;"></span><span
      class="swiper-pagination-bullet" style="left: 32px;"></span><span class="swiper-pagination-bullet"
      style="left: 32px;"></span></div>
  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
  var swiper = new Swiper(".mySwiper", {
    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
    },
  });
</script>