<div class="container-fluid" id="main_content">


    <div _ngcontent-xji-c67="" class="bg-dark border shadow">
        <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
            <h4 _ngcontent-gak-c44="">
                <%= option %>
            </h4>
            <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2"
                href="/<%= view %>/all">
                <%= subtittle %>
            </a>
        </div>


        <h4 _ngcontent-xji-c67="" class="text-center mt-3 mb-3">Data</h4>
        <form _ngcontent-xji-c67="" id="myform" class="m-2 ng-invalid ng-touched ng-dirty" method="POST" action="#">
            <div _ngcontent-xji-c67="" class="row d-flex justify-content-center">
                <div _ngcontent-xji-c67="" class="col-12">
                    <div _ngcontent-xji-c67="" role="alert" class="alert alert-warning" hidden=""> </div>
                </div>
            </div>
            <div _ngcontent-xji-c67="" class="row d-flex justify-content-center">
                <div _ngcontent-xji-c67="" class="col-12">
                    <div _ngcontent-xji-c67="" role="alert" class="alert alert-success" hidden=""> </div>
                </div>
            </div>
            <div _ngcontent-xji-c67="" class="form-row mt-4">
                <label _ngcontent-xji-c67="" for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">
                    Title: </label>
                <div _ngcontent-xji-c67="" class="col s-12">
                    <input _ngcontent-xji-c67="" type="text" name="title" value="<%= data.coupons.title %>"
                        placeholder="Enter title . . ." required=""
                        class="form-input-text ng-pristine ng-invalid ng-touched">
                    <!---->
                </div>
            </div>
            <div _ngcontent-xji-c67="" class="form-row mt-4">
                <label _ngcontent-xji-c67="" for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">
                    Discount: </label>
                <div _ngcontent-xji-c67="" class="col s-12">
                    <input _ngcontent-xji-c67="" type="number" name="discount" value="<%= data.coupons.discount %>"
                        placeholder="Enter discount . . ." required=""
                        class="form-input-text ng-untouched ng-pristine ng-invalid">
                    <!---->
                </div>
            </div>
            <div _ngcontent-xji-c67="" class="form-row mt-4">
                <label _ngcontent-xji-c67="" for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">
                    Start Date / Time: </label>
                <div  class="col s-12">
                    <input type="text" data-field="datetime" name="startDate" 
                    value="<%= data.coupons.startDate %> <%= data.coupons.startHour %>" placeholder="Enter start date . . .">
                    <div id="dtBox"></div>
                </div>
            </div>
            
            <div _ngcontent-xji-c67="" class="form-row mt-4">
                <label _ngcontent-xji-c67="" for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">
                    Finish Date / Time: </label>
                <div _ngcontent-xji-c67="" class="col s-12">
                    <input type="text" data-field="datetime" name="finishDate" 
                    value="<%= data.coupons.finishDate %> <%= data.coupons.finishHour %>" placeholder="Enter finish date . . .">
                    <div id="dtBoxFinish"></div>
                </div>
            </div>
            <div _ngcontent-xji-c67="" class="form-row mt-4">
                <label _ngcontent-xji-c67="" for="colFormLabelSm" class="col-sm-3 col-form-label"> Products: </label>
                <div _ngcontent-xji-c67="" class="col s-12">
                    <div class="form-group">
                        <select name="productId" id="productId" class="select2" multiple="multiple" required
                            data-placeholder="Select products" style="width: 100%;">
                            <% data.products.forEach(function (item) { %>
                                <%= item.name %>
                                    <option value="<%= item.id %>" <%=item.selected %> ><%= item.name %>
                                    </option>
                                    <% })%>
                        </select>
                    </div>
                </div>

                <div _ngcontent-xji-c67="" class="d-flex flex-row-reverse bd-highlight mt-3">
                    <div _ngcontent-xji-c67="" class="p-2 bd-highlight"><input _ngcontent-xji-c67="" type="reset"
                            value="Reset" class="btn btn-danger"></div>
                    <div _ngcontent-xji-c67="" class="p-2 bd-highlight">
                        <input _ngcontent-xji-c67="" type="submit" value="Save" class="btn btn-success">
                        <app-loading _ngcontent-xji-c67="" _nghost-xji-c59="" hidden=""><button _ngcontent-xji-c59=""
                                type="button" disabled="" class="btn btn-sending"><span _ngcontent-xji-c59=""
                                    role="status" aria-hidden="true" class="spinner-border spinner-border-sm"></span>
                                Sending...
                            </button>
                        </app-loading>
                    </div>
                </div>
        </form>
    </div>

</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#dtBox").DateTimePicker();
        $("#dtBoxFinish").DateTimePicker();
    });

</script>