<div _ngcontent-wkr-c87="" class="bg-dark border shadow">
    <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
        <h4 _ngcontent-gak-c44="">
            <%= option %>
        </h4>
        <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2"
            href="/<%= view %>">
            <%= subtittle %>
        </a>
    </div>
    
    
    <h4 _ngcontent-wkr-c87="" class="text-center mt-3 mb-3">Data</h4>
    <form _ngcontent-wkr-c87=""  id="myform" class="m-2 ng-invalid ng-touched ng-dirty">
        <div _ngcontent-wkr-c87="" class="row d-flex justify-content-center">
            <div _ngcontent-wkr-c87="" class="col-12">
                <div _ngcontent-wkr-c87="" role="alert" class="alert alert-warning" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-wkr-c87="" class="row d-flex justify-content-center">
            <div _ngcontent-wkr-c87="" class="col-12">
                <div _ngcontent-wkr-c87="" role="alert" class="alert alert-success" hidden=""> </div>
            </div>
        </div>
        <div _ngcontent-wkr-c87="" class="form-row mt-4"><label _ngcontent-wkr-c87="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Subject: </label>
            <div _ngcontent-wkr-c87="" class="col s-12"><input _ngcontent-wkr-c87="" type="text" name="data.subject"
                    placeholder="Enter subject . . ." required=""
                    class="form-input-text ng-untouched ng-pristine ng-invalid">
                <!---->
            </div>
        </div>
        <div _ngcontent-wkr-c87="" class="form-row mt-4"><label _ngcontent-wkr-c87="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Coupon: </label>
            <div _ngcontent-wkr-c87="" class="col s-12">
                <ng-select _ngcontent-wkr-c87="" role="listbox" bindlabel="title" placeholder="Select coupon"
                    appendto="body" name="data.coupon" required=""
                    class="ng-select ng-select-single ng-select-searchable ng-select-clearable ng-select-bottom ng-touched ng-dirty ng-valid">
                    <div class="ng-select-container ng-has-value">
                        <div class="ng-value-container">
                            <div class="ng-placeholder">Select coupon</div>
                            <select name="couponId" id="couponId">
                                <% data.coupons.forEach(function (item) { %>
                                    <option value="<%= item.id %>"><%= item.title %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <!---->
                </ng-select>
                <!---->
            </div>
        </div>
         <div _ngcontent-wkr-c87="" class="form-row mt-4"><label _ngcontent-wkr-c87="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Coupon: </label>
            <div _ngcontent-wkr-c87="" class="col s-12">
                <ng-select _ngcontent-wkr-c87="" role="listbox" bindlabel="title" placeholder="Select Email"
                    appendto="body" name="data.coupon" required=""
                    class="ng-select ng-select-single ng-select-searchable ng-select-clearable ng-select-bottom ng-touched ng-dirty ng-valid">
                    <div class="ng-select-container ng-has-value">
                        <div class="ng-value-container">
                            <div class="ng-placeholder">Select coupon</div>
                            <select name="email" id="email">
                                <% data.clients.forEach(function (item) { %>
                                    <option value="<%= item.email %>"><%= item.email %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <!---->
                </ng-select>
                <!---->
            </div>
        </div>
       
        <div _ngcontent-wkr-c87="" class="form-row mt-4"><label _ngcontent-wkr-c87="" for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"> Message: </label>
            <div _ngcontent-wkr-c87="" class="col s-12"><textarea _ngcontent-wkr-c87="" id="exampleFormControlTextarea1"
                    rows="3" name="data.message" placeholder="Enter message . . ."
                    class="form-input-textarea ng-untouched ng-pristine ng-valid"></textarea>
                <!---->
            </div>
        </div>
        <div _ngcontent-wkr-c87="" class="d-flex flex-row-reverse bd-highlight mt-3">
            <div _ngcontent-wkr-c87="" class="p-2 bd-highlight"><input _ngcontent-wkr-c87="" type="reset"
                    value="Resetear" class="btn btn-danger"></div>
            <div _ngcontent-wkr-c87="" class="p-2 bd-highlight"><input _ngcontent-wkr-c87="" type="submit"
                    value="Guardar" >
                <app-loading _ngcontent-wkr-c87="" _nghost-wkr-c56="" hidden=""><button _ngcontent-wkr-c56=""
                        type="button" disabled="" class="btn btn-sending"><span _ngcontent-wkr-c56="" role="status"
                            aria-hidden="true" class="spinner-border spinner-border-sm"></span> Sending...
                    </button></app-loading>
            </div>
        </div>
    </form>
</div>