<div _ngcontent-ipx-c86="" class="bg-dark border shadow">
    <div _ngcontent-gak-c44="" class="form-header d-flex align-items-center justify-content-between border">
        <h4 _ngcontent-gak-c44="">
            <%= option %>
        </h4>
        <a _ngcontent-gak-c44="" routerlink="/<%= view %>" class="btn btn-outline-secondary mr-2" href="/<%= view %>">
            <%= subtittle %>
        </a>
    </div>
    <div _ngcontent-ipx-c86="" class="row d-flex justify-content-center">
        <div _ngcontent-ipx-c86="" class="col-12">
            <div _ngcontent-ipx-c86="" role="alert" class="alert alert-warning" hidden=""> </div>
        </div>
    </div>
    <div _ngcontent-ipx-c86="" class="row d-flex justify-content-center">
        <div _ngcontent-ipx-c86="" class="col-12">
            <div _ngcontent-ipx-c86="" role="alert" class="alert alert-success" hidden=""> </div>
        </div>
    </div>
    <form _ngcontent-ipx-c86="" id="myform" class="m-2 ng-dirty ng-touched ng-valid" method="POST" action="#">
        <ul _ngcontent-ipx-c86="" id="myTab" role="tablist" class="nav nav-tabs">
            <li _ngcontent-ipx-c86="" class="nav-item"><a _ngcontent-ipx-c86="" id="data-tab" data-toggle="tab"
                    href="#data" role="tab" aria-controls="data" aria-selected="true" class="nav-link active">Data</a>
            </li>
            <li _ngcontent-ipx-c86="" class="nav-item"><a _ngcontent-ipx-c86="" id="icon-tab" data-toggle="tab"
                    href="#icon" role="tab" aria-controls="icon" aria-selected="false" class="nav-link">Icon</a></li>
        </ul>
        <div _ngcontent-ipx-c86="" id="myTabContent" class="tab-content">
            <div _ngcontent-ipx-c86="" id="data" role="tabpanel" aria-labelledby="data-tab"
                class="tab-pane fade active show">
                <h4 _ngcontent-ipx-c86="" class="text-center mt-3 mb-3">Data</h4>
                <div _ngcontent-ipx-c86="" class="form-row mt-4"><label _ngcontent-ipx-c86="" for="colFormLabelSm"
                        class="col-sm-3 col-form-label col-form-label-sm"> Name: </label>
                    <div _ngcontent-ipx-c86="" class="col s-12"><input _ngcontent-ipx-c86="" type="text"
                            value="<%= data.name %>" name="name" placeholder="Enter name . . ."
                            oninvalid="invalidFunction(event, this.name)" required=""
                            class="form-input-text ng-dirty ng-valid ng-touched">
                        <!---->
                    </div>
                </div>
                <div _ngcontent-ipx-c86="" class="form-row mt-4"><label _ngcontent-ipx-c86="" for="colFormLabelSm"
                        class="col-sm-3 col-form-label col-form-label-sm"> Price: </label>
                    <div _ngcontent-ipx-c86="" class="col s-12"><input _ngcontent-ipx-c86="" type="number"
                            value="<%= data.price %>" name="price" placeholder="Enter price . . ."
                            oninvalid="invalidFunction(event, this.name)" required=""
                            class="form-input-text ng-dirty ng-valid ng-touched">
                        <!---->
                    </div>
                </div>

                <input _ngcontent-ipx-c50="" type="text" name="createdAt" value="<%= data.createdAt %>"
                    placeholder="Enter createdAt . . ." oninvalid="invalidFunction(event, this.name)" required=""
                    style="display: none;" class="form-input-text ng-untouched ng-pristine ng-invalid">
                <div _ngcontent-ipx-c86="" class="form-row mt-4"><label _ngcontent-ipx-c86="" for="colFormLabelSm"
                        class="col-sm-3 col-form-label col-form-label-sm"> Description: </label>
                    <div _ngcontent-ipx-c86="" class="col s-12"><textarea _ngcontent-ipx-c86="" name="description"
                            cols="10" rows="4" placeholder="Enter description . . ."
                            class="form-input-textarea ng-valid ng-dirty ng-touched"><%= data.description %></textarea>
                        <!---->
                    </div>
                </div>
                <div _ngcontent-ipx-c86="" class="form-row mt-4"><label _ngcontent-ipx-c86="" for="colFormLabelSm"
                        class="col-sm-3 col-form-label col-form-label-sm"> Notes: </label>
                    <div _ngcontent-ipx-c86="" class="col s-12"><textarea _ngcontent-ipx-c86="" name="notes" cols="10"
                            rows="4" placeholder="Enter notes . . ."
                            class="form-input-textarea ng-valid ng-dirty ng-touched"><%= data.notes %></textarea>
                        <!---->
                    </div>
                </div>
                <div _ngcontent-ipx-c86="" class="form-row mt-4"><label _ngcontent-ipx-c86="" for="colFormLabelSm"
                        class="col-sm-3 col-form-label col-form-label-sm"> Zoom: </label>
                    <div _ngcontent-ipx-c86="" class="col s-12">
                        <div _ngcontent-ipx-c86="" class="form-check">
                            <div _ngcontent-ipx-c86="" class="row">
                                <% var selectedTrue=( data.zoom=="true" ) ? "checked" : "" ; var selectedFalse=(
                                    data.zoom=="false" ) ? "checked" : "" ; %>
                                    <div _ngcontent-ipx-c86="" class="col s-6 col-md-3"><input _ngcontent-ipx-c86=""
                                            type="radio" name="exampleRadios" id="exampleRadios1" <%=selectedTrue %>
                                        value="true"
                                        class="form-check-input ng-valid ng-dirty ng-touched"><label
                                            _ngcontent-ipx-c86="" for="exampleRadios1" class="form-check-label"> with
                                            Zoom
                                        </label></div>
                                    <div _ngcontent-ipx-c86="" class="col s-6 col-md-3">
                                        <input _ngcontent-ipx-c86="" type="radio" name="exampleRadios"
                                            id="exampleRadios2" value="false" <%=selectedFalse %>
                                        class="form-check-input mr-4 ng-valid ng-dirty ng-touched"><label
                                            _ngcontent-ipx-c86="" for="exampleRadios2" class="form-check-label"> No zoom
                                        </label>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-ipx-c86="" class="form-row mt-4"><label _ngcontent-ipx-c86="" for="colFormLabelSm"
                        class="col-sm-3 col-form-label col-form-label-sm"> Extra Variation: </label>
                    <div _ngcontent-ipx-c86="" class="col s-12">
                        <select name="extraVariationId" id="extraVariationsId">
                            <option value="" disabled></option>
                            <% extra.forEach(function (item) { var selected=( item.id==data.extraVariationId )
                                ? "selected" : "" ; %>
                                %>
                                <option value="<%= item.id %>" <%=selected %> ><%= item.name %>
                                </option>
                                <% }) %>
                        </select>
                        <!---->
                    </div>
                </div>
            </div>
            <div _ngcontent-ipx-c86="" id="icon" role="tabpanel" aria-labelledby="icon-tab" class="tab-pane fade">
                <div _ngcontent-ipx-c86="" class="form-row mt-4"><label _ngcontent-ipx-c86="" for="colFormLabelSm"
                        class="col-sm-3 col-form-label col-form-label-sm"> Icon: </label>
                    <div _ngcontent-ipx-c86="" class="col s-12">
                        <div _ngcontent-ipx-c86="" class="text-center border">
                            <!---->
                            <img _ngcontent-fhb-c57="" src="<%= data.icon %>" class="img-fluid m-4"
                                style="width: 150px;" id="imgg0">
                        </div>
                        <!---->
                        <!---->
                        <!---->
                    </div>
                    <input type="text" name="oldIcon" value="<%= data.icon %>" style="display: none;" />
                    <div _ngcontent-ipx-c86="" class="custom-file"><input _ngcontent-ipx-c86="" type="file"
                            onchange="handleFiles(this.files);uploadFile('inputGroupFile01', 'extra-variations');"
                            name="icon" id="inputGroupFile01" value="<%= data.icon %>"
                            aria-describedby="inputGroupFileAddon01" accept="image/*"
                            class="custom-file-input ng-valid ng-touched ng-dirty"><label _ngcontent-ipx-c86=""
                            for="inputGroupFile01" class="custom-file-label">Choose
                            file</label></div>
                    <!---->
                </div>
            </div>
        </div>
        <p style="color: red;" id="errorHeader"></p>
</div>
<div _ngcontent-ipx-c86="" class="d-flex flex-row-reverse bd-highlight mt-3">
    <div _ngcontent-ipx-c86="" class="p-2 bd-highlight"><input _ngcontent-ipx-c86="" type="reset" value="Reset"
            class="btn btn-danger"></div>
    <div _ngcontent-ipx-c86="" class="p-2 bd-highlight"><input _ngcontent-ipx-c86="" type="submit" value="Save"
            class="btn btn-success">
        <app-loading _ngcontent-ipx-c86="" _nghost-ipx-c41="" hidden=""><button _ngcontent-ipx-c41="" type="button"
                disabled="" class="btn btn-sending"><span _ngcontent-ipx-c41="" role="status" aria-hidden="true"
                    class="spinner-border spinner-border-sm"></span> Sending...
            </button></app-loading>
    </div>
</div>
</form>
</div>